.ribbon svg{
    top: -7px !important;
    height: 25px !important;
}
.ui.ribbon.label:not(.page-edit){
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.editable .three.grid.width > .column.wide article[data-red-renderer]{
    margin: 0;
}
.editable .three.grid.width > .column:not(.wide) 
    article[data-red-renderer]{ 
        margin: @articleRendererMargin;
}
.button-edit-menu{
    position: relative;
    .button{
        right: -76%;
    }
}