@containerMargin: auto;

//Poznamky a flash
@poznamkyPositionLeft: 2%;

//Svislé menu
@svisleMenuWidth: 110%; 

//Svislé menu bloky
@svisleMenuBlokyHeight: auto; 

//Vodorovne menu
@vodorovneMenuMarginLeft: 0;


