@containerMargin: auto;



//Svislé menu
@svisleMenuWidth: 110%; 
@svisleMenuMarginLeft: -17px;
@svisleMenuPaddingLeft: 10px;

//Svislé menu bloky
@svisleMenuBlokyHeight: auto; 

//Vodorovne menu
@vodorovneMenuMarginLeft: 0;


