
//Buttony pro menu
@buttonySvisleMenuZIndex: 1;

//Semafor
//Pro menu
@semaforSvisleMenuPositionLeft: -15px;
@semaforVodorovneMenuPositionLeft: -10px;
//Pro paper
@semaforPagePositionTop: 38.5px;
@semaforPagePositionRight: 5px; 
@semaforSectionTrashPositionLeft: -17px;
@semaforContentFontSize: 1.1em;
@semaforContentPositionLeft: auto;

//Roh u contentu  
@ribbonHeight: 1.8em; 
@ribbonSize: 1.34em;
@ribbonPositionTop: 10px;
@ribbonPositionLeft: 82.5%;
@ribbonPageSize: 1.32em;
@ribbonPagePositionRigth: -50px;     
@ribbonPagePositionTop: 34px; 

//Buttony pro content
@buttonyContentPositionRight: 19px;

//Kalendář
@divKalendarFontSize: 0.8em;
@buttonyKalendarPositionTop: -39px;

//Prostředí s Tiny
@articleTempateSelectFontSize: 0.5em;
