/nbproject/private/
/vendor/
/public/site/common/css/
/node_modules/
/_www_gr_files/
/_www_vp_files/
/_www_tz_files/
/local/site/tydenzdravi/templates/static/__compiled/
/_www_vp_logs/
/local/site/veletrhprace/templates/static/__compiled/
/tests/Logs/
/tests/Test_reports/
/tests/.phpunit.result.cache
/_files/
/_docs/
/_filesstare/
/tests/TestLogs/
