/nbproject/private/
/vendor/
/public/site/common/css/
/node_modules/
/_www_gr_files/
/_www_vp_files/
/local/site/veletrhprace/templates/static/__compiled/
/local/site/tydenzdravi/templates/static/__compiled/
/_www_vp_logs/
