# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

Options +FollowSymLinks

RewriteEngine On

RewriteBase "/"

#RewriteRule ^(.*) indexunderreconstuction.html [QSA,L]

#RewriteCond $1 !^(index\.php|public|robots\.txt)

#RewriteRule ^(.*)\\.(gif|png|jpg|jpeg|css|js|swf|ico|bmp|less)$ /public/$1.$2 [L,NC]

RewriteRule ^public/ - [L]
RewriteRule ^_files/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# RewriteRule ^((?s).*)$ index.php?_uri=/$1 [QSA,L]
