em {
  color: red;
}
.chyba {
  font-weight: bold;
  font-size: 1em;
  color: red;
}
#rs_top {
  padding-top: 2em;
  border-top: 3px dotted #D63F46;
  text-align: center;
}
#rs_log {
  overflow: hidden;
}
#rs_user {
  margin-left: 1em;
  float: left;
  color: #295194;
}
#rs_user a {
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 1em;
  color: red;
}
#rs_user a:hover {
  text-decoration: none;
  margin-left: 1em;
  color: #295194;
}
#rs_logout {
  display: inline;
  float: right;
  padding-left: 1em;
  padding-right: 2.5em;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  background-color: #D63F46;
  border-radius: 0.8em 0 0 0.8em;
}
#rs_logout a {
  text-decoration: none;
  color: white;
}
#rs_logout a:hover {
  text-decoration: none;
  color: silver;
}
#rs_nastroje {
  overflow: hidden;
  text-align: left;
  border-top: 2px solid #D63F46;
}
#rs_tlacitka {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 1em;
}
#rs_middle {
  overflow: hidden;
  margin-left: 0.5em;
  margin-right: 0.3em;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 0.9em;
}
#rs_middle p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#rs_middle a {
  color: #D63F46;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
#rs_middle a:hover {
  color: black;
}
#rs_middle fieldset {
  padding: 0.5em;
}
#rs_middle h5 {
  color: green;
}
#rs_menu {
  margin-top: 0.5em;
}
.rs_topmenu {
  margin: 0px;
  height: 1.3em;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  background-color: #D63F46;
  border-radius: 0 0.8em 0 0;
  /* #katalog {
            width: 80%;
        }*/
}
/*.rs_topmenu_katalog {
        .rs_topmenu ;
        width: 80%;
   }*/
.rs_middmenu {
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
  overflow: hidden;
  border-right-color: #D63F46;
  border-right-style: solid;
  border-right-width: 1px;
}
.rs_middmenu .rs_middmenu_pozn_text {
  font-size: 0.6em;
  font-style: italic;
  margin-left: 10px;
}
#katalog {
  font-size: 80%;
}
/* .rs_middmenu_katalog {
        .rs_middmenu;
        width: 80%;
   }*/
.rs_menubott {
  margin-top: 0px;
  margin-bottom: 0.2em;
  height: 0.8em;
  overflow: hidden;
  border-radius: 0 0 0.8em 0;
  border-right-color: #D63F46;
  border-bottom-color: #D63F46;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
/* .rs_menubott_katalog {
        .rs_menubott;
        width: 80%;
   }*/
/*NOVE MENU*/
/* .polozka, .polozka0,
 .polozka1,.polozka2,.polozka3,.polozka4,.polozka5,
 .polozkaon, .polozka0on,
 .polozka1on,.polozka2on,.polozka3on,.polozka4on,.polozka5on
 {
	display: block;
        //float: leftt;
	//width: auto;
	//height: auto;/*18px;*/
/*
	overflow: hidden;
	margin-left: 4px; margin-right: 4px;
	margin-top: 5px; margin-bottom: 5px;      
        border: solid @rs_barva_menu 1px;
        
        color:  @rs_barva_menu_pismo;   
	background-color: @rs_barva_menu;  //#D92E2D;
        text-decoration: none;
	font-size:  1.0*@web_velikost_pisma_rs;  //13px;
	font-weight: bold;
        
        a {
          //display: block;
          text-decoration: none;  
          color:  @rs_barva_menu_pismo;   
	  background-color: @rs_barva_menu;
          &:hover {
                color: @cerna;
          }
        }

        img {
        //clear: both;
            float: left;
	//margin: 0px;
        }
        &:hover {
            border: solid @rs_barva_menu_pismo_hover 1px;
            color: @cerna;
        }
}
 .polozkaon, .polozka0on,
 .polozka1on,.polozka2on,.polozka3on,.polozka4on,.polozka5on 
{
       background-color: @rs_barva_menu_on; 
       //color:  @rs_barva_menu_pismo_on;
       a {
         background-color: @rs_barva_menu_on;
       }
}
.polozka1, .polozka1on {
        margin-left: 4+10px; 
}

.polozka2, .polozka2on {
         margin-left: 4+20px; 
}

.polozka3, .polozka3on  {
         margin-left: 4+30px; 
}

.polozka4, .polozka4on {
         margin-left: 4+40px; 
}

.polozka5, .polozka5on {
         margin-left: 4+50px; 
}*/
/*KONEC NOVE MENU*/
/*#rs_paticka {
	//margin-top: 0px; 
	//margin-left: auto;
	//margin-right: auto;
        //height: 69px; 
        //width: 100%;

	overflow: hidden; 

        //border: 2px solid @rs_hlavni_barva;
        border-bottom: 3px dotted @rs_hlavni_barva ;
	
        //background-image: url("backgr/pata.gif"); 
	 
}
#rs_patext {
	margin-top: 5px;
	margin-left: 15px;
        margin-bottom: 5px;

	font-size: 0.6*@web_velikost_pisma_rs;   //10px;
        text-align: left;

        a {
	  color: @rs_hlavni_barva;
          text-decoration: none;
        }
}*/
#rs_menu_polozka {
  border: solid green 1px;
}
#rs_tlacitko_polozky_menu {
  float: right;
}
#rs_tlacitka_posun_polozku_menu_div {
  float: right;
  width: 20px;
  padding-left: 1px;
  padding-right: 1px;
}
.poznmenu {
  font-size: 0.7em;
  color: black;
}
#rs_newlist_menu,
#rs_dellist_menu {
  float: left;
  margin-top: 1em;
  width: 18em;
  height: auto;
  overflow: hidden;
  border: solid #D63F46 1px;
}
#rs_newlist_menu a,
#rs_dellist_menu a {
  color: white;
}
#rs_newlist_form,
#rs_dellist_form,
#rs_pormenu_form {
  float: right;
  margin-top: 1em;
  margin-right: 3em;
  width: 30em;
  height: auto;
}
#rs_pormenu_menu {
  float: left;
  margin-top: 1em;
  width: 31em;
  height: auto;
  overflow: hidden;
}
#rs_pormenu_menu a {
  color: white;
}
#rs_pormenu_menu a:hover {
  color: black;
}
#rs_table_poradi {
  border: solid #D63F46 1px;
  border-collapse: collapse;
  font-size: 1em;
}
#rs_table_poradi tr {
  border-top: solid #D63F46 1px;
}
#rs_table_poradi em {
  color: black;
}
#rs_table_poradi_td1a3 {
  width: 3em;
  text-align: right;
}
#rs_table_poradi_td2 {
  width: 30em;
  text-align: center;
}
#rs_login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #D63F46;
  color: white;
  border: 1px outset white;
}
#rs_login p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#rs_login fieldset {
  border: solid white 1px;
}
#rs_login a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#rs_login a:hover {
  color: silver;
  text-decoration: none;
  font-weight: bold;
}
.rs_obdobi_neuverejnene {
  background-color: red;
  color: white;
}
.rs_obdobi_uverejnene {
  background-color: green;
  color: white;
}
.rs_obdobi_oddo {
  border: dotted lime 1px;
}
#rs_ed_pole1 {
  width: 630px;
}
#rs_staf_prehled_tl {
  width: 5em;
  font-size: 1em;
  text-align: center;
  background-color: #FFF8D3;
}
#rs_staf_prehled_tl_r {
  float: right;
  width: 5em;
  font-size: 1em;
  text-align: center;
  background-color: #FFF8D3;
}
#rs_staf_prehled_tl_l {
  float: left;
  width: 5em;
  font-size: 1em;
  text-align: center;
  background-color: #FFF8D3;
}
#rs_staf_prehled,
#rs_staf_prehled_siroky {
  float: left;
  width: 8em;
  font-size: 0.8em;
  text-align: center;
  background-color: #FFF8D3;
}
#rs_staf_prehled_siroky {
  width: 9em;
}
#rs_staf_prehled_kontos {
  float: left;
  width: 15em;
  overflow: hidden;
  margin-left: 0.8em;
}
#rs_staf_verejna {
  color: green;
}
#rs_staf_neverejna {
  color: red;
}
.rs_staf_alert {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  width: 30em;
  background-color: #D63F46;
  color: white;
}
.rs_staf_alert a {
  color: white !important;
}
.rs_staf_alert a:hover {
  border: solid black 1px;
  color: black !important;
}
#rs_staf_odpoved_tabulka {
  width: 98%;
  border-collapse: collapse;
  text-align: left;
}
#rs_staf_odpoved_pol {
  width: 25%;
  padding: 0 0.3em 0 0.3em;
  background-color: white;
}
#rs_staf_odpoved_odp {
  width: 75%;
  padding: 0 0.3em 0 0.3em;
  background-color: #FFBE51;
}
.rs_float_r {
  float: right;
}
/* ??????????????????????????????????????????????????????????????????????
.nadpis {
	display: block;
	width: auto; //152px;
	height: 15px;
	overflow: hidden;
	margin-left: 17px;
	margin-right: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: black;
	font-size: 12px;
	font-weight: bold;
}
*/
/*# sourceMappingURL=styles_rs.css.map */