
//@sitename: "oa";
@sitename: "grafia";
//@sitename: "newlayout";
//@sitename: "newlayout_1";
//@sitename: "newlayout_2";
//@sitename: "newlayout_3";

@siteStylesFolder: "less";
@siteTemplatesFolder: "templates";
