/*******************************
    site-definitions.less: @sitename, @siteStylesFolder, @siteTemplatesFolder
*******************************/
//@sitename: "oa";
/*@sitename: "grafia";*/
//@sitename: "tydenzdravi";
@sitename: "veletrhonline";
//@sitename: "newlayout";
//@sitename: "newlayout_1";
//@sitename: "newlayout_2";
//@sitename: "newlayout_3";

@siteStylesFolder: "less";
@siteTemplatesFolder: "templates";
