<p>&nbsp;</p>
<div class="odkazy_3D_tlacitka_flex-container">  
<div class="odkazy_3D_tlacitka_flex-item">
    <a href="www.grafia.cz"> Toto tlačítko je odkaz přednastavený na www.grafia.cz. <br/> 
         Odkaz (URL) upravíte pomocí ikonky Vložit/Upravit odkaz v liště editoru, popř. pomocí volby na pravém tlačítku myši.<br/> 
         Text odkazu k zobrazení (tento text) upravujte zde. <br/>
         Odřádkujete - pomocí kláves Shift/Enter (výška bloků se zarovnává automaticky).<br/>
         Na více tlačítek rozdělíte - pomocí opakovaného stisku klávesy Enter uprostřed textu.<br/> 
         Zpětné zcelení dvou tlačítek - stiskem klávesy BackSpace před textem (platí jen do uložení). 
    </a>
</div>
</div>
<p>&nbsp;</p>
