@import "../../semantic/src/themes/default/globals/site.variables";
@import "../../semantic/src/site/globals/site.variables";
@halfWidth: 50%;
@backgroundLightGrey: lighten(@lightGrey, 5%);
@white: #fff;

body.layout.mce-content-body{
    padding: 0 5px 0 10px;
    margin: 7px;
    font-size: 1em;
}
body.layout#tinymce{
    width: 100%;
    padding: 5px;
    margin: 0;
    background: 0 0;
} 

.layout{
    header .row:first-child .column:last-child{
        .contentButtons, .semafor{
            display: none;
        }
    }
    header .prihlaseni{
        margin-right: 2px;
        position: relative; 
        float: right;
        margin-top: 6px;
        margin-bottom: -5px;
        .header.item{
            background-color: @white;
            cursor: default;
            text-align: center;
            &:hover{
                background-color: @white;
            }
        }
        div.icon{
            padding: 7px;
        }
        input{
            border: 1px solid @lightGrey !important;
        }
        button.fluid{
            margin: 5px 0;
        }
        .ui.labeled.icon.button > .icon::before{
            top: -7px;
        }
        .menu{
            padding: 0 8px;
        }
        .logout{
            display: inline-block;
            > p, > form{
                display: inline-block;
            }
            > form{
                button > i.icon{
                    font-size: 1.4em;
                }
            }
        }
        > form{
            float: right;
        }
        &:not(.dimmed){
            button:not(.fluid){
                position: relative;
                left: 15%;
                margin-bottom: 15px;
                &.positive{
                    left: 20%;
                }
            }
        }
    }
    .ui.container.editable{
        margin-left: auto !important;
        margin-right: 10px !important;
        position: relative;
        right: 0;
    }
    header{
        margin-top: 50px;
    }
    /****************************Editacni*menu*s*buttony***************************/
    /***PRO VSECHNA MENU***/
    .menu.edit li > p{
        margin-bottom: 0;
        br{
            display: none;
        }
    }
    .menu.edit .onpath.presented p > span{
        cursor: text;
    }
    /***SVISLE MENU***/
    .svisle-menu .menu.edit{
        height: 650px;
        overflow-y: scroll;
        width: 107%;
        margin-left: -8px;
        li:not(:first-child){ 
            border-top: 2px solid @transparentBlack;
        }
        .onpath {
            .item{
                border-bottom: 0;
            }
            .menu{
                  margin-left: 12px;
                  padding: 0;
            }
        }
        .menu > li:not(.presented){
            padding: 3px;
        }
        .menu > li.presented{
            p.item{
                padding: 11px 20px;
            }
            .semafor.polozky_menu{
                left: 2px;
            }
        }
    }
    .svisle-menu .menu button[data-tooltip]::before,
    .vodorovne-menu .menu button[data-tooltip]::before{
        top: auto;
        right: auto;
        bottom: 100%;
        left: 50%;
        background: #fff;
        margin-left: -0.08em;
        margin-bottom: 0.16em;
    }
    .svisle-menu .menu button[data-tooltip]::after,
    .vodorovne-menu .menu button[data-tooltip]::after{
        font-weight: 700;
    }
    .svisle-menu .menu.edit .onpath.presented{
        &:first-child .buttons,
        &:nth-child(2) .buttons{
            top: 30px;
            position: absolute;
            z-index: 1;
        }
        .buttons{
            position: absolute;
            left: auto;
            right: 0;
            top: -25px;
        }
    }

    /***SVISLE MENU BLOKY***/
    .svisle-menu.bloky .menu.edit{
        height: 400px;
        overflow-y: scroll;
        width: 107%;
        margin-left: -8px;
    }
    .svisle-menu.bloky{
        margin: 20px auto;
        .menu.edit > .onpath.presented .buttons{
            background: #edf7ff;
        }
    }
    .svisle-menu.bloky .menu.edit > li:first-child{
        text-align: center;
        > .item{
            background-color: #edf7ff !important;
            > i{
                display: none;
            }
            .semafor{
                display: none;
            }
        }
    }
    /***SVISLE MENU KOS***/
    .svisle-menu.kos .menu .onpath.presented .buttons{
        background: #f8f3ff;
        position: absolute !important;
        left: auto;
        right: 0;
        top: -25px;
        .corner.icon{ 
            font-size: 0.9em;
            left: 7px;
        }
    }
    .svisle-menu.kos > form > .menu > li:first-child{
        text-align: center;
        > .item{
            background-color: #f8f3ff !important;
        }
    }
    li.cut{
        border: 1px solid #AAA !important;
        > a.item, > p.item span{
            color: #AAA;
            &:hover{
                color: #AAA;
                background-color: transparent !important;
            }
        }
    }
    .button.paste{ 
        border: 1px solid  #74746B !important;
        background-color: #eaffbb !important;
        &:nth-of-type(3){
            border-left: 0 !important;
        }
    }
    
    /***VYBEROVE MENU***/
    .nav-vyberove{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 5px;
        margin-top: 0;
        left: 15px;
        border: 1px solid @lightGrey;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
        &:hover{
            background-color: rgb(242, 242, 242);
            transition: 0.3s all;
        }
    }
    #vyberove_menu {
        display: none;
        height: 100%;
        width: auto;
        background-color: @white; 
        position: fixed!important;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: auto;
        -webkit-animation: animateleft 0.4s;
        animation: animateleft 0.4s;
        padding: 20px;
        .close_vyberoveMenu{
            font-size: 1.3em;
            display: flex;
            flex-direction: column; 
            align-items: end;
            margin: -5px 10px 0 0;
        }
        .svisle-menu ul.menu.edit{
            width: 100%;
        }
        .vodorovne-menu ul.menu.edit{
            padding-left: 0px;
            margin: 10px 0 10px -7px;
            
        }
    }
    #prekryti_pro_vyber{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
        z-index: 5;
    }
    .nav_vyberove{
        cursor: pointer;
        display: flex;
        width: 75px;
        padding: 5px;
        margin-top: 0;
        left: 15px;
        border: 1px solid @lightGrey;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
        &:hover{
            background-color: rgb(242, 242, 242);
            transition: 0.3s all;
        }
    }
    @keyframes animateleft {
      from {
        left: -300px;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }

    /***PRESMEROVANI MENU***/
    .presmerovani-menu .menu.edit .item{
        margin-right: 10px;
        padding: 0.25em 1em !important;
        .buttons{
            margin-left: 5px;
            .button{
                &::before{
                    bottom: -80%;
                    left: 30%;
                    transform: rotate(225deg) scale(1) !important;
                }
                &::after{
                    bottom: -173%;
                    font-weight: 700;
                }
            }
            
        }
    }
    
    
    /***VODOROVNE MENU***/
    .vodorovne-menu .menu.edit{
        width: 700px;
        flex-wrap: wrap;
        .item{
            margin: 6px 5px 6px 0;
            padding-left: 5px;
            &.onpath.presented{
/*                .active{
                    border-width: 1px 0 1px 1px;
                    border-color: @primaryColor;
                    border-style: solid;
                }
                .actual{
                    border-width: 1px 1px 1px 0;
                    border-color: @primaryColor;
                    border-style: solid;
                }*/
                .semafor, p.button{
                    margin-left: 5px;
                }
                p.button{
                    padding: 9px 12px;
                }
            }
            .buttons{
                position: relative;
                top: 0;
                margin-right: 5px;
                height: 30px;
                .button:hover{
                    height: 29px;
                    border-bottom: 1px solid @lightGrey !important;
                }
            }
            a{
                padding: 9px 12px;
            }
            
        }
    }
    /*************************************main*************************************/
    /*Styly stranky*/
    .notpermitted{
        cursor: no-drop !important;
        color: #dedede;
        &:hover{
            outline: 2px dashed @redGrafia;
            color: #dedede;
            &::before{
                content: 'Nemáte oprávnění k editaci';
                width: 65%;
                height: 75px;
                padding: 10px;
                color: black;
                font-weight: 700;
                position: absolute;
                z-index: 10;
                background-color: white;
                top: 20px;
                left: 50%;
                transform: translate(-50%);
                border: 1px dashed black;
            }
        }
    }
    .locked{
        cursor: progress !important;
        color: #dedede;
        &:hover{
            outline: 2px dashed @yellow;
            color: #dedede;
            &::before{
                content: 'Stránku edituje uživatel 'attr(data-editor);
                width: 60%;
                height: 90px;
                padding: 10px;
                color: black;
                font-weight: 700;
                position: absolute;
                z-index: 10;
                background-color: white;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                border: 1px dashed black;
            } 
        }
    }
    .segment.notpermitted headline, .segment.notpermitted content,
    .segment.locked headline, .segment.locked content,
    .segment.notpermitted i.settings, .segment.locked i.settings{
        opacity: 0.35;
    }
    .segment.locked .icon.buttons, .segment.notpermitted .icon.buttons{
        opacity: 0.45;
        pointer-events: none !important;
    }
    .segment.locked a, .segment.notpermitted a{
        pointer-events: none;
    }
    .buttons.editComponent{
        position: absolute;
        top: -32px;
        right: 28px;
        background-color: #f8f3ff;
        [data-tooltip]::after{
            font-weight: 700;
        }
    }
    .grafia.segment.block.editable{
        position: relative;
        margin: 0 10px;
    }
    .grafia.segment.headlined.editable{ //headline
        margin-left: 10px;
        headline{ //h2
            margin-left: -0.45em;
            margin-right: -0.45em;
        }
        form{
            margin-bottom: 5px;
            position: relative;
        }
        > form {
            margin: 0;
        }
        i.grafia.active{
            left: -1em;
        }
        i.grafia.actual{
            right: -1em;
        }
        &:nth-child(3).edit{
            float: none;
            align-items: stretch;
            display: flex;
        }
    }
    .mce-content-body:not(.mce-edit-focus):not(.paper_template_select){
        outline: 1px dotted @lightGrey;
    }
    .paper_template_select.mce-content-body:not(.mce-edit-focus){
        outline: 1px dashed #90E1DE;
        margin: 5px 10px;
    }
    .mce-content-body:empty:not(.mce-edit-focus):before{
        content:attr(data-text);
        color: @lightGrey;
        cursor: text;
    }
    .poznamky{
        position: absolute;
        border-radius: 5px;
        background: @white;
        left: -260px;
        transition: 0.7s linear;
        box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
        z-index: 1;
        .label{
            margin: 0 !important;
            i{
                width: 100% !important;
            }
        }
        .content{
            width: 250px;
            padding: 10px;
            p{
                margin-bottom: 0.7em;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
    }
    .poznamky.flash{
        top: 10px;
        .content{
            min-height: 110px;
        }
    }
    .poznamky:not(.flash){
        top: 170px;
    }
    pre{
        white-space: pre-wrap;
        word-wrap: break-word;

    }
}