@import "../../semantic/src/themes/default/globals/site.variables";
@import "../../semantic/src/site/globals/site.variables";
@white: #fff;
@mediumGrey: darken(@lightGrey, 15);
@barvaEditButtony: #FBFBE7;
@barvaKos: #F8F3FF;

.layout{  
    /*celá stránka v editačním režimu posunutá napravo*/
    .ui.container.editable{
        margin-left: auto !important;
        margin-right: 10px !important;
        position: relative;
        right: 0;
    }
    /*poznámky a flash mají stejný styl, jen jinou pozici*/
    .poznamky{
        z-index: 1;
        position: absolute;
        left: -260px;
        width: 250px;
        background: @white;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px @mediumGrey;
        transition: 0.7s linear;
        .label{ //horní pruh s ikonou
            margin: 0 !important;
            i{
                width: 100% !important;
            }
        }
        .content{ //obsah poznámek
            padding: 10px;
            p{
                margin-bottom: 0.7em;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            pre{ //aby se předformátovaný text vešel do šířky divu poznámek a nepřetékal
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
        &:not(.flash){ //pozice pro poznámky
            top: 170px;
        }
        &.flash{ //pozice pro flash
            top: 10px;
            .content{
                min-height: 110px;
            }
        }
    }
    
    
    /***HEADER***/
    /*header posunutý od horního okraje pouze v edit. režimu kvůli data-tooltip u buttonů*/
    header{
        margin-top: 50px;
    }
    
    
    /***MENU***/
    /*pouzivane tridy u polozky menu (li):
        .leaf - posledni polozka menu
        .onpath - "na ceste"; pouziva se u kazde polozky, na kterou se klikne - potreba pro stylovani podmenu
        .presented - pouziva se vzdy u posledni polozky, na kterou se klikne
        .item je pouzita u (li) nebo (a) podle sady stylu semantic UI (semanticka trida)
        .cut - třída se přidá, pokud se klikne na tlačítko vybrat k přesunutí*/ 
    /*PRO VSECHNA MENU*/
    /*vybraná položka menu má editovatelný název - přizpůsobený kurzor myši*/
    /*nový název se ukládá pomocí entru - zároveň se vloží html <br>, které tam není žádoucí*/
    .menu.edit{ 
        .presented p{
            margin-bottom: 0;
            span{
                cursor: text;
            }
        }
        br{
            display: none;
        }
    }
    /*SVISLE MENU*/
    /*svislé menu má pevnou výšku, protože jsou v editačním režimu vidět i neaktivní stránky
    (a je jich tam hodně). Aby obsah nepřetékal, přidána svislá rolovací lišta*/
    .svisle-menu{
        margin-left: -8px;
        overflow-y: scroll;
        width: 107%;
        .menu.edit{
            height: 650px;
            .menu {
                > li:not(.presented){ //pro lepší čitelnost položek menu vzhledem k dalším editačním prvkům pložky (semafor)
                    padding: 3px; //není zvětšený padding pro <a>, protože to zajišťuje semantic
                }
                > .presented{
                    p.item{ //stejný padding, jako mají <a> od semanticu
                        padding: 10px 20px;
                    }
                }
            }
        }
        /*SVISLÉ MENU BLOKY*/
        &.bloky{
            height: 400px;
            margin: 20px auto;
            /*první položka menu bloky je pouze nadpis - vycentrovaná a podbarvená, bez semaforu, ale odkaz je tam pořád*/
            li:first-child{
                text-align: center;
                > .item{
                    background-color: @barvaEditButtony !important;
                    > i{
                        display: none;
                    }
                    .semafor{
                        display: none;
                    }
                }
            }
        }
        /*SVISLÉ MENU KOŠ*/
        &.kos{
            /*první položka menu kos je pouze nadpis - vycentrovaná a podbarvená, ale odkaz je tam pořád*/
            li:first-child{
                text-align: center;
                > .item{
                    background-color: @barvaKos !important;
                }
            }
        }
    }   
    /*VODOROVNE MENU*/
    .vodorovne-menu .menu.edit{
        .item{
            padding-left: 5px;
            /*padding pro polozku menu (semantická třída .button, aby položka vypadala jako tlačítko)*/
            a.button, p.button{
                padding: 9px 12px;
            }
            
        }
    }  
    /*PRESMEROVANI MENU*/
    .presmerovani-menu .menu.edit .item{
        margin-right: 10px;
        padding: 0.25em 1em !important;
    }
  
    
    /***PAPER***/
    .paper.editable{
        margin: 0 10px;
        section{
            /*vytvoření nového omezujícího bloku - pro zanořené position: absolute*/
            position: relative;
            margin-bottom: 5px;
        }
    }
}


//KE SMAZÁNÍ
//grafia segment block/headlined - změna na .paper
    .grafia.segment.block.editable{
        position: relative;
        margin: 0 10px;
    }
    .grafia.segment.headlined.editable{ //headline
        margin-left: 10px;
        headline{ //h2
            margin-left: -0.45em;
            margin-right: -0.45em;
        }
        form{
            margin-bottom: 5px;
            position: relative;
        }
        > form {
            margin: 0;
        }
        i.grafia.active{
            left: -1em;
        }
        i.grafia.actual{
            right: -1em;
        }
        &:nth-child(3).edit{
            float: none;
            align-items: stretch;
            display: flex;
        }
    }
    section{
            /*vytvoření nového omezujícího bloku - pro zanořené position: absolute*/
            position: relative;
            margin-bottom: 5px;
        }
/***VYBEROVE MENU***/ 
    .nav-vyberove{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 5px;
        margin-top: 0;
        left: 15px;
        border: 1px solid @lightGrey;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
        &:hover{
            background-color: rgb(242, 242, 242);
            transition: 0.3s all;
        }
    }
    #vyberove_menu {
        display: none;
        height: 100%;
        width: auto;
        background-color: @white; 
        position: fixed!important;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: auto;
        -webkit-animation: animateleft 0.4s;
        animation: animateleft 0.4s;
        padding: 20px;
        .close_vyberoveMenu{
            font-size: 1.3em;
            display: flex;
            flex-direction: column; 
            align-items: end;
            margin: -5px 10px 0 0;
        }
        .svisle-menu ul.menu.edit{
            width: 100%;
        }
        .vodorovne-menu ul.menu.edit{
            padding-left: 0px;
            margin: 10px 0 10px -7px;
            
        }
    }
    #prekryti_pro_vyber{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
        z-index: 5;
    }
    .nav_vyberove{
        cursor: pointer;
        display: flex;
        width: 75px;
        padding: 5px;
        margin-top: 0;
        left: 15px;
        border: 1px solid @lightGrey;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
        &:hover{
            background-color: rgb(242, 242, 242);
            transition: 0.3s all;
        }
    }
    @keyframes animateleft {
      from {
        left: -300px;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    } 
    //KONEC KE SMAZÁNÍ