@import "../../semantic/src/themes/default/globals/site.variables";
@import "../../semantic/src/site/globals/site.variables";
@backgroundLightGrey: lighten(@lightGrey, 5%);

.layout{
    /***BODY***/
    background-image: url("../img/Grafiabgr1.gif") !important;
    background-color: @lightGrey !important;
    > .container > .column{
    background-color: @white;
    border: 10px solid @backgroundLightGrey;
    padding: 0 15px 15px;
    border-radius: @bigBorderRadius;
    }
    img{
        max-width: 100%; //aby se obrázky "vešly" do semantických obalů
        height: auto; //kvůli deformaci, pokud má obrázek nastavenou výšku i šířku
    }
    /*TLAČÍTKA*/
    .primary.button{
        /*aby v červeném tlačítku nebyl červený text*/
        > a{
            color: inherit;
        }
        &:hover{
            background-color: @linkHoverColor !important;
        }
    } 
    /*VLASTNÍ HTML TAGY*/
    headline, content, block, div[class=""], perex{
        display: block;
        position: relative;
        span[class=""]{
            display: inline-block;
        }
    }
    
    /***HEADER***/
    /*změna paddingů oproti semanticu*/
    header{
        padding-top: 10px;
        margin-bottom: 10px;
        .grid > .row:first-child{
            padding-bottom: 0;
        }
        .grid > .row:first-child,
        .grid > .row:last-child{
            > .column:first-child{
                padding-right: 0; //zarovnani s 1.sloupcem v main
            }
            > .column:last-child{
                padding-left: 0; //zarovnani se 3.sloupcem v main
            }
        }
    }
    header{
        a{
            /*v hlavičce nebudou odkazy červené (týká se i .presmerovani-menu)*/
            color: inherit;
            &:hover{
                color: inherit;
            }
        }
        /*VYHLEDÁVÁNÍ*/
        .fluid.input{
            margin-right: 5px;
            display: flex;
            position: relative
        }
    }
    /*KONTAKT*/
    /*mapa a kontaktní údaje v hlavičce*/
    .kontakt-hlavicka{
        font-size: 0.8em;
        text-align: right;
        color: grey;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 5px;
        img{ 
            margin: 0 5px;
        }
        .kontaktni-udaje p{
            margin: 0;
        }
    }
    /*JAZYKY*/
    /*vlajky na přepínání mezi jazykovými verzemi webu*/
    .jazyky{
        margin: 10px 5px auto 0;
        float: left;
        .button{
            padding: 0;
            margin-right: 0;
        }
        img{
            vertical-align: middle;
            width: 30px;
            height: 17px;
            &.jazyk-on{
                border: double @linkColor 3px;
                height: 20px;
                width: 33px;
            }
        }
    }
    /*PŘIHLÁŠENÍ*/
    .prihlaseni{
        margin: 6px 2px -5px 0;
        float: right;
        .header.item{
            background-color: @white;
            cursor: default;
            text-align: center;
            &:hover{
                background-color: @white;
            }
        }
        div.icon{
            padding: 7px;
        }
        input{
            border: 1px solid @lightGrey !important;
        }
        button.fluid{
            margin: 5px 0;
        }
        .ui.labeled.icon.button > .icon::before{
            top: -10px;
        }
        .menu{
            padding: 0 8px;
        }
        .logout{
            display: inline-block;
            i.icon{
                font-size: 1.2em;
            }

        }
        > form{ //obalit do divu - v tomhle formu je tlacitko Akce
            float: right;
        }
        button:not(.fluid){
            position: relative;
            left: 15%;
            margin-bottom: 15px;
            &.positive{
                left: 20%;
            }
        }
    }
        
    
    /***MAIN***/
    main > .grid > .column{
        &:first-child{
            padding-right: 0;
        }
        &:nth-child(2){
            padding-left: 1em;
            padding-right: 1em;
        }
        &:last-child{
            padding-left: 0;
        }
        &:first-child .ui.segment:not(:first-child),
        &:last-child .ui.segment:not(:first-child){
            margin-top: 35px;
        }
    }
    .ui.grid{
        clear: both !important;
    } 
/*    main > div > .column{
        
    }*/
    
    /***FOOTER***/
    footer{
        .grid > .column:first-child p{
            margin-left: 50px;
        }
        background-color: @backgroundLightGrey;
        margin: 10px -15px -15px;
    }
    /*****************Styly pro menu - normalni i editacni rezim*******************/
    //pouzivane tridy u polozky menu (li):
    //.leaf - posledni polozka menu
    //.onpath - "na ceste"; pouziva se u kazde polozky, na kterou se klikne - potreba pro stylovani podmenu
    //.presented - pouziva se vzdy u posledni polozky, na kterou se klikne

    //trida .item je pouzita u (li) nebo (a) podle sady stylu semantic UI (semanticka trida)

    /***PRO VSECHNA MENU***/
    .vodorovne-menu .menu .onpath,
    .presmerovani-menu .menu .onpath{
         > ul{
            padding: 0;
        }
    }
    .menu a{
        z-index: 0;
    }
    /***SVISLE MENU***/
    //hamburger menu
    .close-item, .close_vyberoveMenu
    .nav-mobile, nav_vyberove{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: @bigSize * @emSize;
      margin: 10px;
      &:hover{
          cursor: pointer;
      }
    }
    .close-item > a > i.times.circle.icon,
    .close_vyberoveMenu > a > i.times.circle.icon,
    .nav-mobile > i.bars.icon, .nav-vyberove > i.bars.icon{
        margin: 0;
    }
    //
    .svisle-menu .menu{  //ohraniceni semantic
        padding: 0;
        margin-top: 0;
        > li{
            &:not(:first-child){
                border-top: 2px solid @transparentBlack;
            }
            &:first-child{
                border-radius: 4px 4px 0 0;
            }
            &:last-child{
                border-radius: 0 0 4px 4px;
            }
        }
        li{
            position: relative;
        }
        li:not(:first-child){ 
            border-top: 2px solid @transparentBlack;
        }
        li:not(.leaf){
            > .item::after{
                content: "\f107";
                height: 1em;
                width: 1.18em;
                font-family: Icons;
                font-weight: 500;
                text-align: center;
                margin: 0 0 0 .5em;
                position: absolute;
                right: 5px;
                color: @textColor;
                top: 40%;
                transform: translateY(-50%);
            }
        }
        .onpath {
            .item{
                border-bottom: 0;
            }
            .menu{
                  margin-left: 12px;
                  padding: 0;
            }
        }
        .item::before{
            display: none;
        }
    }
    .svisle-menu > .menu, .svisle-menu form > .menu{                                   //preorganizovano ohraniceni
        padding: 0;
        border: 0 !important; //prepsat v semantic ui
        box-shadow: 0 0 0 0 !important; //prepsat v semantic ui
        li{
            list-style-type: none;
            border: 2px solid @transparentBlack;
            border-bottom: 0;
            &:last-child{
                border-bottom: 2px solid @transparentBlack;
            }
            &:first-child.onpath{
                border-width: 2px 0 0 0;
            }
            .item{
                line-height: normal;
            }
            i:first-child{
                float: left;
            }
        }
        .onpath{                                //pozadi jen v podrazenem ul
            &.presented > .item{
                background-color: @transparentBlack;
            }
            border-width: 0 0 2px 0;
            background-color: @white;
            &:hover{
                background-color: @white !important;
            }
            > .item{
                font-weight: 700;
                border-bottom: 1px solid @transparentBlack;
                background-color: @transparentBlack + @transparentBlack !important;
                border-left: 2px solid @transparentBlack;
                border-right: 2px solid @transparentBlack !important;
                line-height: normal;
            }
            .menu{
                border-top: 0;
                background-color: @transparentBlack;
                > li{
                    list-style-type: inherit;
                }
                > li:hover{
                    background-color: @transparentBlack;
                }
                .onpath > .menu {
                    background-color: @transparentBlack+@transparentBlack;
                    > .onpath > .menu{
                        background-color: @transparentBlack+@transparentBlack+@transparentBlack;
                    }
                }
            }
        }
    }
    /***PRESMEROVANI MENU***/
    .presmerovani-menu ul.text.menu{
        justify-content: center;
        .item{
            padding: 0.25em 1em;
        }
    }
    ul.text.menu{
        margin: auto !important;
        padding: 0;
    }

    /***VODOROVNE MENU***/
    .vodorovne-menu a{
        padding: 2px 3px;
    }

    /******************************Menu normalni rezim*****************************/

    /***SVISLE MENU***/
    .svisle-menu form > .menu:not(.edit){
        li .item{
            padding: 0.6em 0.6em !important;
        }
        .onpath .menu{
            margin-left: 20px;
        }
    }
    /***PRESMEROVANI MENU***/

    /***VODOROVNE MENU***/
    .vodorovne-menu .menu .onpath > a{
        color: @primaryColor ;
        background-color: @white;
        box-shadow: 0 0 0 1px @primaryColor inset ;
        &:hover{
            background-color: @white !important;
            color: @darkRedGrafia;
        }
    }
    .vodorovne-menu .text.menu{
        width: 700px;
        flex-wrap: wrap;
        .item{
            margin: 5px 5px 5px 0;
        }
    }
}

//KE SMAZÁNÍ
display_none{
    display: none;
}
display_block{
    display: block;
}
/***VYBEROVE MENU***/ 
.nav-vyberove{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 5px;
    margin-top: 0;
    left: 15px;
    border: 1px solid @lightGrey;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
    &:hover{
        background-color: rgb(242, 242, 242);
        transition: 0.3s all;
    }
}
#vyberove_menu {
    display: none;
    height: 100%;
    width: auto;
    background-color: @white; 
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    padding: 20px;
    .close_vyberoveMenu{
        font-size: 1.3em;
        display: flex;
        flex-direction: column; 
        align-items: end;
        margin: -5px 10px 0 0;
    }
    .svisle-menu ul.menu.edit{
        width: 100%;
    }
    .vodorovne-menu ul.menu.edit{
        padding-left: 0px;
        margin: 10px 0 10px -7px;

    }
}
#prekryti_pro_vyber{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
    z-index: 5;
}
.nav_vyberove{
    cursor: pointer;
    display: flex;
    width: 75px;
    padding: 5px;
    margin-top: 0;
    left: 15px;
    border: 1px solid @lightGrey;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(34,36,38,.15);
    &:hover{
        background-color: rgb(242, 242, 242);
        transition: 0.3s all;
    }
}
