<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="phpunit-bootstrap.php"
        colors="true"
    >
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">Integration</directory>
            <exclude>Integration/Mail</exclude>
        </testsuite>
        <testsuite name="mail-integration">
            <directory suffix="Test.php">Integration/Mail</directory>
        </testsuite>
    </testsuites>
</phpunit>
