<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div data-component="named: a1" class="ui segment" style="display: block;">
            <div class="grafia segment headlined headline">
                <headline class="ui header">
                    Aktuality
                </headline>
            </div>
            <content class="grafia segment headlined content">
                
                <!-- a11 -->
                <p><span style="color: #eb1b4c; font-size: 10pt; background-color: #ffffff;"><strong>Setkání HR manažerů</strong></span></p>
                <p><span style="color: #eb1b4c; font-size: 10pt; background-color: #ffffff;"><span style="color: #000000;"><strong>27.6. 2018</strong></span></span></p>
                <p><span style="color: #eb1b4c; font-size: 10pt; background-color: #ffffff;"><span style="color: #000000;"><strong>Café Papírna Plzeň</strong></span></span></p>
                <p><span style="color: #eb1b4c; font-size: 10pt; background-color: #ffffff;"><span style="color: #000000;"><strong>Více: <a href="web/v1/page/item/5defdc4b11975">ZDE</a></strong></span></span></p>
                
                <hr>
                
                <!-- a12 -->
                <p><span style="color: #eb1b4c; font-size: 12pt; background-color: #ffffff;"><span style="color: #000000;"><strong>Připravujeme pro Vás:</strong></span><br></span></p>
                <p><span style="font-size: 10pt;"><strong><a href="http://www.otevreneateliery.cz" target="_blank">Víkend otevřených ateliérů:</a></strong></span></p>
                <p><span style="font-size: 8pt;"><strong>Plzeň tvořivá</strong></span></p>
                <p><span style="color: #000000;"><strong>29. - 30. 9. 2018</strong></span></p>
                <p><span style="font-size: 8pt;"><a href="http://www.otevreneateliery.cz" target="_blank">www.otevreneateliery.cz</a></span></p>
                
                <hr>
                
                <!-- a13 -->
                <p><strong><a href="../index.php?list=s01_13&amp;language=lan1&amp;lay="><span style="font-size: 12pt;">POVEZ II</span></a> <br>aktuálně opět můžete získat dotaci na školení Vašich zaměstnanců!</strong></p>
                <p>Více informací: <a href="mailto:obchod@grafia.cz">obchod@grafia.cz</a></p>
                <p>Tel.: 378 227 215</p>
                
                <hr>
                
                <!-- a14 -->
                <p><strong><span style="color: #eb1b4c; font-size: 10pt;"><a href="http://oceneniceskychpodnikatelek.cz/vitezky/" target="_blank">Ocenění českých podnikatelek 2017:</a> </span>Jednatelka společnosti Grafia s.r.o., paní Mgr. Jana Brabcová, získala 2. místo v kategorii Malá společnost. Blahopřejeme a máme radost! <br>Tým Grafia, s.r.o.</strong></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><img src="/_www_grafia_files/files/1913516.jpg" alt="ocenění podnikatelek" width="238" height="250"></p>
                
                <hr>
                
                <!-- a15 -->
                <p><strong><span style="font-size: 10pt;"><a title=" Čestné uznání pro Grafia za inovativnost v oboru" href="http://czechinno.cz/7751/sesty-rocnik-prestizniho-projektu-vizionari-2016-zna-sve-viteze" target="_blank">Vizionáři 2016:</a></span> Grafia získala&nbsp;Čestné uznání za inovativnost, ekonomický a společenský přínos ve svém oboru</strong> <img style="display: block; margin: 5px auto 5px auto;" src="/_www_grafia_files/files/1720408.jpg" alt="soubor Vizionáři_na web_menší.jpg" width="144" height="206"></p>
                
                <hr>
                
                <!-- a16 -->
                <p><span style="color: #000000; font-size: 12pt;"><strong>Rekvalifikační kurzy</strong></span></p>
                <p style="margin-bottom: 10px;"><span style="color: #000000; font-size: 10pt;"><strong><a href="https://goo.gl/forms/ayxOkZnezZRp5xwR2" target="_blank">Přihlášky online</a></strong></span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4bb0ec1" target="_blank">Asistent/ka, sekretář/ka </a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="font-size: 8pt;"><span style="font-family: verdana, geneva;">podzim 2018</span></span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4bc0ced" target="_blank">Fotograf - základy fotografování </a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="color: #000000; font-size: 8pt; font-family: verdana, geneva;">podzim 2018</span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4bc6949" target="_blank">Kontrolor kvality </a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="font-size: 8pt;"><span style="font-family: verdana, geneva;">podzim 2018</span></span></p>
                <p><span style="font-size: 10pt;"><a href="web/v1/page/item/5defdc4bd42ac" target="_blank"><strong><span style="font-family: verdana, geneva;">Lektor dalšího vzdělávání</span></strong></a></span></p>
                <p style="margin-bottom: 5px;"><span style="color: #000000;"><span style="font-size: 8pt;"><span style="font-family: verdana, geneva;">podzim 2018</span></span></span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4c07c18" target="_blank">Obsluha CNC obráběcích strojů </a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="color: #000000; font-size: 8pt;">10.9. - 10.12.2018</span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4bf24eb" target="_blank">Obchodní zástupce</a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="color: #000000; font-size: 8pt; font-family: verdana, geneva;"><span style="font-size: 8pt;"><span style="font-family: verdana, geneva;">podzim 2018</span></span></span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4c18de6" target="_blank">Personalista</a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="color: #000000; font-size: 8pt; font-family: verdana, geneva;">podzim 2018</span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4c1f342" target="_blank">Programátor CNC strojů </a></span></strong></p>
                <p style="margin-bottom: 5px;"><span style="font-size: 8pt; font-family: verdana, geneva;">leden 2019</span></p>
                <p><strong><span style="font-size: 10pt;"><a href="web/v1/page/item/5defdc4c2af9d" target="_blank">Technik kvality</a></span></strong></p>
                <p><span style="color: #000000; font-size: 8pt; font-family: verdana, geneva;"><span style="font-size: 8pt;"><span style="font-family: verdana, geneva;">podzim 2018</span></span></span></p>
                <p><strong><span style="font-size: 10pt; font-family: verdana, geneva;"><a href="web/v1/page/item/5defdc4c31651" target="_blank">Vedoucí provozu - mistr/mistrová</a> </span></strong></p>
                <p style="margin-bottom: 5px;"><span style="font-size: 8pt; color: #000000; font-family: verdana, geneva;">podzim 2018<br></span></p>
                
                <hr>
                
                <!-- a17 -->
                <p><strong><span style="font-size: small;"><span style="color: #eb1b4c;"><a href="web/v1/page/item/5defdc482c2f9" target="_blank">Hledáme LEKTORY!!!</a></span></span></strong></p>
                <p><strong>Lektor AJ, NJ</strong></p>
                <p><strong>Lektor PC dovedností </strong></p>
                <p><strong>Lektor komunikačních dovedností</strong></p>
                <p><span style="color: #eb1b4c; font-size: 8pt;"><span style="color: #000000;">Více informací:</span> <a href="web/v1/page/item/5defdc482c2f9" target="_blank">ZDE</a> <br><span style="color: #000000;">nebo</span> <a href="mailto:kurzy@grafia.cz">kurzy@grafia.cz</a></span></p>
                
                <hr>
                
                <!-- a18 -->
                <p><span style="color: #000000; font-size: 12pt;"><strong>Otevřené kurzy</strong>&nbsp;</span></p>
                <p style="margin-bottom: 10px;"><span style="font-size: 10pt;"><strong><a href="https://goo.gl/forms/EFUvicUFQaWUI2vs2" target="_blank">Přihlášky online</a></strong></span></p>
                <p><span style="font-size: 10pt; color: #eb1b4c;"><strong><a href="/_www_grafia_files/files/1938556.pdf" target="_blank">Copywriting (nejn) pro sociální sítě a on-line média I (.pdf)</a></strong> </span></p>
                <p>podzim 2018</p>
                <p><span style="font-size: 10pt;"><strong><a href="/_www_grafia_files/files/3242518.pdf" target="_blank">Copywriting (nejen) pro sociální sítě a on-line média II (.pdf)</a></strong></span></p>
                <p>podzim 2018</p>
                
                <hr>
                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                
            </content>
        </div>
    </body>
</html>
