#mySidenav{
    width: 40%;
    overflow: hidden  scroll;
}
.accordion.border{
    border: 1px solid #FFFFFF96;
    margin: 10px auto 0;
    padding: 10px 20px;
    a{
        color: @invertedTextColor;
        &:hover{
            text-decoration: underline;
            transition: 0.3s all;
        }
    }
}
div.editMenu-article{
    margin-left: auto;
    margin-right: 80px; 
}
ul.vertical.menu > li{
    > ul.menu{
        margin-top: 25px !important;
    }
    > .editSize.buttons{
        top: 75px;

    }
} 
