.svisle-menu .menu{ 
    li:not(.cut) p.presented{
        outline: 3px solid;
        border-left: 3px solid;
        padding-top: 20px;
        padding-bottom: 15px;
        margin: 10px 0 0;
        
    }
/*    p:not(.item){
        display: none;
    }*/
}
.svisle-menu.kos{
    .menu{
        li:not(.cut) .presented{
            outline: 3px solid;
            border-left: 3px solid; 
            padding-top: 20px;
            padding-bottom: 15px;
            margin-bottom: 0;
        }
        .item{
            color: darken(@barvaKos,20);
        }
    }
}
 
.small.toast{
    font-size: 1.3rem;
    p > br:first-child{
        display: none;
    }
}