.svisle-menu .menu{ 
    li:not(.cut) p.presented{
        outline: 3px solid;
        border-left: 3px solid;
        padding-top: 20px;
        padding-bottom: 15px;
        margin: 10px 0 0;
        
    }
/*    p:not(.item){
        display: none;
    }*/
}
.svisle-menu.kos{
    .menu{
        li:not(.cut) .presented{
            outline: 3px solid;
            border-left: 3px solid; 
            padding-top: 30px;
            padding-bottom: 25px;
            margin-bottom: 0;
        }
        .item{
            color: darken(@barvaKos,20);
        }
    }
}
 
.small.toast{
    font-size: 1.3rem;
    p > br:first-child{
        display: none;
    }
}
.semafor > div{
    display: inline-flex; 
}

/*.blue.corner.label{
    float: right;
    position: relative;
    margin-left: 10px;
    font-size: 0.9em;
    width: 2.5em;
    height: 2.5em;
    .tools.icon{
        font-size: 1.5em;
        transform: translateY(5px);
    }
}*/

/*.div-osa{
    width: 95%;
    background-color: #d7d8d9;
    height: 5px;
    margin: auto;
    .zelene-obdobi{
        position: relative;
        .cislo1{
            left: 30%;
            position: absolute;
            background-color: #21ba45;
            z-index: 2;
            height: 5px;
            width: 40%;
        }
        .cislo2{
        }
    }
    .dnes{
        height: 9px;
        width: 5px;
        background: black;
        top: -2px;
        position: absolute;
        z-index: 3; 
        &[data-datumOsa="1x,x"]{
            right: 20%;
        }
        &[data-datumOsa="x,x"]{
            right: 50%;
        }
        &[data-datumOsa="x,1x"]{
            left: 20%;
            
        }
    }
}*/

/**/

/*.blue.corner.label{     
    font-size: 0.4em;
}
.semafor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -9px;
    right: -14px;
    left: auto;
    transform: rotate(-45deg);
    z-index: 2;
    .calendar, span{
        transform: rotate(45deg);
    }
    > div[data-tooltip]::before,div[data-tooltip]::after{
        content: '';
        background: 0;
        border: 0;
        box-shadow: none;
    }
}*/

/**/

/*.semafor{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -9px;
    right: 30px;
    left: auto;
    div{ 
        display: inline-flex;
    }
}*/

/**/

/*.semafor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    div{
        display: inline-flex;
    }
}*/

/**/