@borderRadius: 0;

//Menu
@menuLiCutBorder: @borderWidth dotted @mediumGrey;

//Buttony pro menu
@buttonySvisleMenuPositionTop: -5px; 
@buttonySvisleMenuPositionRight: 10px;

//Pro paper
@semaforPagePositionTop: 52px;
@semaforPagePositionRight: -7px;
@semaforContentPositionLeft: auto;
@semaforContentFontSize: 0.6em; 
//Smazaný content
@semaforSectionTrashPositionRight: -6px;

//Lepík (ribbon)
@ribbonPageWidth: 3.7em;
@ribbonPagePositionTop: 48px;
@ribbonPagePositionRigth: -74px;
@ribbonCornerIconLeft: 0px;
@ribbonPositionTop: 20px;
@ribbonPositionLeft: 87.6%;

//Buttony pro content
@buttonyContentWidth: 120px;
@buttonyContentPositionRight: 17px;

//Kalendář
@divKalendarPositionTop: 10px;
@divKalendarFontSize: 1.3em;
@divKalendarPadding: 35px 20px;
@divKalendarColumnPadding: 5px; 

//Prostředí pro Tiny
@mceBodyMargin: 0.2rem 2.5rem; //.mce-content-body
@mceBodyPadding: 0.5rem;
@mceFocusMargin: 0.2rem 2.5rem; //.mce-edit-focus
@mceFocusPadding: 0.5rem;

