@borderWidth: 1px;
@borderStyle: solid;
@borderRadius: 0;
@fontBold: bold;
@mediumGrey: darken(@lightGrey, 15);
@barvaEditButtony: #FBFBE7;
@barvaEditButtonyTmava: #FFF1D5;
@barvaKos: #F8F3FF;
@barvaButtonSablony: #EDF7FF;


//Body
@buttonDataTooltipFontWeight: @fontBold;

//Menu
@menuLiCutBorder: @borderWidth dotted @mediumGrey;
@menuLiCutItemColor: @mediumGrey;
@menuLiCutItemColorHover: @mediumGrey;
@menuLiCutItemBackgroundColor: transparent;
//Buttony pro menu
@buttonyPasteMenuBorder: @borderWidth @borderStyle @grey;
@buttonyPasteMenuBackgroundColor: lighten(@lightOlive, 15);
@buttonyPasteMenuBorderLeft: 0;
@buttonyMenuBackgroundColor: @barvaEditButtony;
@lastButtonMenuBackgroundColor: @barvaKos;
@lastButtonMenuBackgroundColorHover: @white;
@buttonySvisleMenuPositionTop: -5px; 
@buttonySvisleMenuPositionLeft: auto;
@buttonySvisleMenuPositionRight: 10px;
@buttonySvisleMenuKosBackgroundColor: @barvaKos ;
@buttonSvisleMenuKosSecondIconSize: 0.9em;
@buttonSvisleMenuKosSecondIconPositionleft: 7px;
@buttonyPresmerovaniMenuMargin: @hodnota0 @hodnota0 @hodnota0 5px;
@buttonyVodorovneMenuHeight: 28px;
@buttonyVodorovneMenuPositionTop: @hodnota0;
@buttonyVodorovneMenuMargin: @hodnota0 5px @hodnota0 @hodnota0;

//Semafor
@semaforPositionTop: @hodnota0;
@semaforIconMarginBottom: 2px;
//Pro menu
@semaforMenuHeight: 100%;
@semaforSvisleMenuPositionLeft: -1px;
@semaforPresmerovaniMenuPositionLeft: -12px;
@semaforVodorovneMenuPositionLeft: -6px;
@semaforVodorovneMenuBorder: @borderWidth @borderStyle @primaryColor;
@semaforVodorovneMenuBorderRadius: @borderRadius @hodnota0 @hodnota0 @borderRadius;
@semaforVodorovneMenuBackgroundColor: @white;
@semaforVodorovneMenuIconPaddingLeft: 3px;
//Pro paper
@semaforContentPositionLeft: -28px;
@semaforContentFontSize: 0.6em;
@semaforSectionTrashPositionLeft: -23px;
@semaforContentNumberMarginTop: -10px;
@semaforContentNumberTextAlign: center; 

//Paper
//Buttony pro paper
@button2PaperPositionTop: 50px; //.editPage
@button2PaperPositionRight: -47px; //.editPage
@button2SegmentPaperPositionRight: 18px;
@button2PaperBackgroundColor: @barvaEditButtony;
@button1PaperPositionTop: 20px; 
@button1PaperPositionRight: 25px; //.changePaperTemplate
@button1SegmentPaperPositionRight: 60px;
@button1SegmentPaperHeight: 42px;
@button1PaperBackgroundColor: @barvaButtonSablony;
//Zmena/Vyber sablony
@divSelectWidth: 200px;
@divSelectPositionTop: 31px;
@divSelectPositionLeft: -162px;
@divSelectBackgroundColor: @barvaButtonSablony;
@divSelectBorder: @borderWidth @borderStyle @lightGrey;
@divSelectBorderRadius: @borderRadius @hodnota0 @borderRadius @borderRadius;
@divSelectPadding: 10px;
@divSelectHeaderBackgroundColor: transparent;
@divSelectHeaderBackgroundColorHover: transparent;
@divSelectHeaderCursor: auto;
@compactDropdownPositionLeft: 50%;
@compactDropdownTransform: translateX(-50%) translateY(-20%);
@scrollhintMenuPositionLeft: 6px;
@scrollhintMenuPositionTop: 37px;
@scrollhintMenuItemFontSize: 0.95rem;

//Roh u contentu
@cornerWidth: 1.5em;
@cornerHeight: 1.5em;
@cornerSize: 0.3em;
@cornerPositionRigth: -5px;
@cornerColor: lighten(@blue,40);
@cornerActiveZIndex: 15;
@cornerIconTransform: translateX(50%);
@sectionTrashCornerPositionRight: 0;
//Buttony pro content
@buttonyContentWidth: 120px;
@buttonyContentPositionRight: 6px;
@buttonyContentPositionTop: 6px;
@buttonyContentBackgroundColor: @barvaEditButtony;
@lastButtonContentBackgroundColor: @barvaKos;
//Kalendář
@buttonyKalendarPositionTop: -42px;
@buttonyKalendarPositionRight: @hodnota0;
@buttonyKalendarBackgroundColor: @barvaEditButtonyTmava;
@divKalendarWidth: 350px;
@divKalendarPositionTop: 10px;
@divKalendarPositionRight: 0;
@divKalendarFontSize: 1.8em;
@divKalendarPadding: 35px 20px;
@divKalendarColor: @black;
@divKalendarBackgroundColor: @barvaEditButtonyTmava;
@divKalendarBorder: @borderWidth @borderStyle @lightGrey;
@divKalendarBorderRadius: @borderRadius;
@divKalendarParagraphTextAlign: left;
@divKalendarParagraphMarginBottom: 5px;
@divKalendarCursor: auto;
@divKalendarZIndex: 1;
@divKalendarColumnPadding: 5px;
@divKalendarInputWidth: 100%;

//Prostředí pro Tiny
@mceBodyOutline: @borderWidth dotted darken(@lightGrey, 20);
@mceBodyTemplateOutline: @borderWidth dashed darken(@barvaButtonSablony, 35);
@mceBodyLinkSelected: true;
@mceLinkSelectedColor: @white;
@mceLinkNotSelectedColor: #b4d7ff; //Tiny modrá pro odkaz
@mceBodyMargin: @hodnota0 -5px; //.mce-content-body
@mceBodyPadding: 5px;
@mceFocusMargin: @hodnota0 -5px; //.mce-edit-focus
@mceFocusPadding: 5px;
@mceBorderDanceColor: @green;
@mceTemplateSelectBorderDanceColor: @teal;
@paperTempateSelectDisplay: none; 

