/*******************************
         Site Settings
*******************************/
/***********************************************************
  Central element variation compilation enablers
***********************************************************/
/* General */
/*******************************
           Elements
*******************************/
/* Button */
/* Container */
/* Divider */
/* Header */
/* Icon */
/* Image */
/* Input */
/* Label */
/* List */
/* Loader */
/* Placeholder */
/* Rail */
/* Reveal */
/* Segment */
/* Step */
/* Text */
/*******************************
           Collections
*******************************/
/* Breadcrumb */
/* Form */
/* Grid */
/* Menu */
/* Message */
/* Table */
/*******************************
             Views
*******************************/
/* Ad */
/* Card */
/* Comment */
/* Feed */
/* Item */
/* Statistic */
/*******************************
            Modules
*******************************/
/* Accordion */
/* Calendar */
/* Checkbox */
/* Dimmer */
/* Dropdown */
/* Embed */
/* Modal */
/* Popup */
/* Progress */
/* Rating */
/* Search */
/* Shape */
/* Sidebar */
/* Slider */
/* Tab */
/* Toast */
/* Loading */
/* Emojis */
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/* Whenever a color needs to get calculated (screen()/multiply()) out of a base color */
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Light Colored Text ---*/
/*--- Hovered Colored Text ---*/
/*--- Colored Border ---*/
/*--- Shadows ---*/
/* Inverted */
/* Box Shadows */
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*---  Tertiary  ---*/
/*---  Bright  ---*/
/*******************************
 States shared in Form-related components
 *******************************/
/* Form state*/
/* Input state */
/* AutoFill */
/* Dropdown state */
/* Focused state */
/* Placeholder state */
/*******************************
     User Global Variables
*******************************/
/*-------------------
       Links
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
  Segment
--------------*/
/* Header Spacing */
/*-------------------
        Grid
--------------------*/
/* Columns */
/*-------------------
     Breakpoints
--------------------*/
body.newlayout > .container > .column {
  background-color: #FFFFFF;
}
.newlayout {
  /*****************Styly pro menu - normalni i editacni rezim*******************/
  /***PRO VSECHNA MENU***/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /******************************Menu normalni rezim*****************************/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
}
.newlayout header .grid > .row:first-child {
  padding-bottom: 0;
  height: 160px;
}
.newlayout header .grid > .row:first-child > .column:first-child {
  padding-right: 0;
}
.newlayout header .grid > .row:first-child > .column {
  vertical-align: top !important;
}
.newlayout header .grid > .row:last-child {
  padding-top: 10px;
}
.newlayout header .grid > .row:last-child > .column:first-child {
  padding-right: 0;
}
.newlayout header .grid > .row:first-child > .column:last-child,
.newlayout header .grid > .row:last-child > .column:last-child {
  padding-left: 0;
}
.newlayout header {
  height: 300px;
  background-image: linear-gradient(to right, #e9eaea 40%, #fff 70%);
  margin-bottom: 10px;
  padding: 10px 20px 0;
}
.newlayout header img {
  max-width: 100%;
}
.newlayout header a {
  color: inherit;
}
.newlayout header a:hover {
  color: inherit;
}
.newlayout header a > img {
  width: 100px;
}
.newlayout header .presmerovani-menu ul.text.menu {
  justify-content: center;
}
.newlayout header ul.text.menu {
  margin: auto !important;
  padding: 0;
}
.newlayout header .hlavicka {
  position: absolute;
  height: 300px;
  top: 2px;
  right: -32%;
}
.newlayout header .kontakt-hlavicka {
  font-size: 0.8em;
  text-align: right;
  color: grey;
}
.newlayout header .kontakt-hlavicka img {
  margin: 0 5px;
}
.newlayout header .kontakt-hlavicka .kontaktni-udaje p {
  margin: 0;
}
.newlayout header .grid > .column:nth-child(2) p {
  font-size: 2em;
  color: #ad102f;
  text-align: center;
  top: 100%;
  right: 40%;
  position: relative;
}
.newlayout headline,
.newlayout content,
.newlayout block,
.newlayout div[class=""],
.newlayout perex {
  display: block;
  position: relative;
}
.newlayout .jazyky {
  clear: both;
  margin-right: 5px;
  float: right;
}
.newlayout .jazyky button {
  margin-right: 5px;
}
.newlayout .jazyky button img {
  vertical-align: middle;
  width: 30px;
  height: 17px;
}
.newlayout .jazyky .ui.basic.button {
  padding: 0;
  box-shadow: 0 0;
}
.newlayout .jazyky .ui.basic.button:hover {
  box-shadow: 0 0;
}
.newlayout .jazyky .jazyk-on {
  border: double #EB1B4C 3px;
  height: 20px;
  width: 33px;
}
.newlayout .jazyky .basic.button {
  margin-right: 0;
}
.newlayout .jazyky .page.button {
  vertical-align: bottom;
}
.newlayout .jazyky > form {
  display: inline-block;
}
.newlayout .ui.fluid.input > input {
  width: auto !important;
}
.newlayout .ui.fluid.input .button {
  background: white;
  box-shadow: 0;
  border: 1px solid #DCDDDE;
  border-width: 1px 1px 1px 0;
}
.newlayout .page.button {
  background: white;
  border: 1px solid #DCDDDE;
  height: 36px;
}
.newlayout .page.button:hover {
  background: #e9eaea;
}
.newlayout .ui.secondary.menu .item {
  margin: 0;
  padding: 0.75em 0.7em;
}
.newlayout .page-content > .grid > .column:not(.row):first-child {
  padding-right: 0;
}
.newlayout .page-content > .grid > .column:not(.row):nth-child(2) {
  padding-left: 1em;
  padding-right: 1em;
}
.newlayout .page-content > .grid > .column:not(.row):last-child {
  padding-left: 0;
}
.newlayout .ui.grid {
  clear: both;
}
.newlayout .ui.grid.contents {
  line-height: 1.3;
  font-size: 1em;
  margin: 5px;
  display: flex;
}
.newlayout main > div > .column:first-child .ui.segment:not(:first-child),
.newlayout main > div > .column:last-child .ui.segment:not(:first-child) {
  margin-top: 35px;
}
.newlayout footer {
  background-color: #e9eaea;
  margin: 10px -15px -15px;
}
.newlayout footer .grid > .column:first-child p {
  margin-left: 50px;
}
.newlayout footer p {
  margin: 5px 0;
  color: #ad102f;
}
.newlayout .vodorovne-menu .menu .onpath > ul,
.newlayout .presmerovani-menu .menu .onpath > ul {
  padding: 0;
}
.newlayout .menu a {
  z-index: 0;
}
.newlayout .ui.secondary.menu {
  margin-bottom: 30px;
}
.newlayout .close-item,
.newlayout .nav-mobile {
  font-size: 15.42857143px;
  margin: 5px 0;
}
.newlayout .close-item:hover,
.newlayout .nav-mobile:hover {
  cursor: pointer;
}
.newlayout .close-item > a > i.times.circle.icon,
.newlayout .nav-mobile > i.bars.icon {
  margin: 0;
}
.newlayout #mySidenav {
  display: none;
  height: 100%;
  width: 80%;
  background-color: #FFFFFF;
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  -webkit-animation: animateleft 0.4s;
  animation: animateleft 0.4s;
  padding: 20px;
}
.newlayout #myOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.newlayout .nav-mobile {
  background: #fff;
  z-index: 1;
}
.newlayout .nav-mobile {
  display: block;
  align-items: center;
  position: relative;
  padding: 5px;
  height: 36px;
  border: 1px solid #DCDDDE;
  border-radius: 5px;
  padding: 6px 10px 6px 5px;
}
.newlayout .nav-mobile:hover {
  background-color: #f2f2f2;
  transition: 0.3s all;
}
.newlayout .nav-mobile:not(.active) {
  display: none;
}
.newlayout .svisle-menu .menu {
  padding: 0;
  margin-top: 0;
}
.newlayout .svisle-menu .menu > li {
  list-style: none;
}
.newlayout .svisle-menu .menu > li:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu .menu > li:first-child {
  border-radius: 4px 4px 0 0;
}
.newlayout .svisle-menu .menu > li:last-child {
  border-radius: 0 0 4px 4px;
}
.newlayout .svisle-menu .menu li {
  position: relative;
}
.newlayout .svisle-menu .menu li:not(.leaf) > .item::after {
  content: "\f107";
  height: 1em;
  width: 1.18em;
  font-family: Icons;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0 .5em;
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 0, 0.87);
  top: 40%;
  transform: translateY(-50%);
}
.newlayout .svisle-menu .menu.onpath > .item::after {
  top: 15px;
  transform: none;
}
.newlayout .svisle-menu form > .menu {
  padding: 0;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.newlayout .svisle-menu form > .menu li {
  list-style-type: none;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-bottom: 0;
}
.newlayout .svisle-menu form > .menu li:not(:first-child) {
  border-top: 0;
}
.newlayout .svisle-menu form > .menu li:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu li:first-child.onpath {
  border-width: 2px 0 0 0;
}
.newlayout .svisle-menu form > .menu li .item {
  line-height: normal;
}
.newlayout .svisle-menu form > .menu li i:first-child {
  float: left;
}
.newlayout .svisle-menu form > .menu .onpath {
  border-width: 0 0 2px 0;
  background-color: #FFFFFF;
}
.newlayout .svisle-menu form > .menu .onpath.presented > .item {
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath:hover {
  background-color: #FFFFFF !important;
}
.newlayout .svisle-menu form > .menu .onpath > .item {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.0975) !important;
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05) !important;
  line-height: normal;
}
.newlayout .svisle-menu form > .menu .onpath .menu {
  border-top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath .menu li {
  list-style-type: inherit;
}
.newlayout .svisle-menu form > .menu .onpath .menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath .menu .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.0975);
}
.newlayout .svisle-menu form > .menu .onpath .menu .onpath > .menu > .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.142625);
}
.newlayout .vodorovne-menu a {
  padding: 2px 3px;
}
.newlayout .svisle-menu form > .menu:not(.edit) li .item {
  padding: 0.6em 0.6em !important;
}
.newlayout .svisle-menu form > .menu:not(.edit) .onpath .menu {
  margin-left: 20px;
}
.newlayout .vodorovne-menu .menu .onpath > a {
  color: #EB1B4C;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #EB1B4C inset;
}
.newlayout .vodorovne-menu .menu .onpath > a:hover {
  background-color: #FFFFFF !important;
  color: #DC143C;
}
.newlayout {
  /*************************************main*************************************/
  /*Styly stranky*/
}
.newlayout .page-content h1 {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 5px;
  font-size: 1.14285714rem;
  text-align: center;
  padding: 5px 0;
  margin-top: 0;
}
.newlayout .page-content .articleHeadline-editable > button.ui.button.save {
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 7px;
}
.newlayout .white.basic.segment {
  background-color: white;
}
.newlayout .dimmer .content {
  width: 17%;
}
.newlayout .dimmer .content .center p {
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
.newlayout .dimmer .content .center p::before {
  content: "\f007";
  position: absolute;
  left: 15px;
  z-index: 1;
  height: 1em;
  opacity: 1;
  font-family: icons;
}
.newlayout .dimmer .content .center form > .field > button.button {
  color: inherit;
}
.newlayout .dimmer .content .center form > .field > button.button > i.large::before {
  top: -9px;
}
.newlayout .grafia.segment.headlined content p {
  margin: 5px 0;
}
.newlayout .ui.segment .settings.icon {
  position: absolute;
  font-size: 1.5em;
  color: #ad102f;
  top: 5px;
  left: 10px;
}
.newlayout .segment headline.header {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 4px 4px 0 0;
  text-align: center;
  margin: 0 -12px;
  margin-top: -12px !important;
  padding: 5px 0;
}
.newlayout .segment headline.header p {
  font-size: 1.14285714rem;
  margin-bottom: 0;
}
.newlayout #contents .segment headline.header {
  margin-top: 0 !important;
}
.newlayout .segment img {
  max-width: 100%;
  height: auto;
}
.newlayout .ui.segment,
.newlayout block {
  clear: both;
}
.newlayout .primary.button > a {
  color: inherit;
}
.newlayout .primary.button:hover {
  background-color: #c4002e !important;
}
.newlayout .kontakt-hlavicka {
  display: flex;
  flex-direction: row-reverse;
}
.newlayout .map {
  height: 400px;
  width: 600px;
}
.newlayout #OpenLayers_Control_Attribution_7 {
  position: absolute;
  background: #ffffffc7;
  right: 0;
  bottom: 0;
}
.newlayout {
  /****************************Editacni*menu*s*buttony***************************/
  /***PRO VSECHNA MENU***/
  /***SVISLE MENU***/
  /***SVISLE MENU BLOKY***/
  /***SVISLE MENU KOS***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /*************************************main*************************************/
  /*Styly stranky*/
  /*******************************prostredi**tiny********************************/
}
.newlayout .ui.menu .prihlaseni {
  margin-right: 2px;
  position: relative;
  float: right;
  margin-top: 6px;
  margin-bottom: -5px;
}
.newlayout .ui.menu .prihlaseni .ui.dropdown .menu .header.item {
  background-color: #FFFFFF;
  cursor: default;
  text-align: center;
}
.newlayout .ui.menu .prihlaseni .ui.dropdown .menu .header.item p {
  font-weight: 700;
  padding-top: 5px;
}
.newlayout .ui.menu .prihlaseni .ui.dropdown .menu .header.item:hover {
  background-color: #FFFFFF !important;
}
.newlayout .ui.menu .prihlaseni input {
  border: 1px solid #DCDDDE !important;
}
.newlayout .ui.menu .prihlaseni button.fluid {
  margin: 5px 0;
}
.newlayout .ui.menu .prihlaseni .ui.labeled.icon.button > .icon::before {
  top: -7px;
}
.newlayout .ui.menu .prihlaseni .menu {
  padding: 0 8px;
}
.newlayout .ui.menu .prihlaseni .logout {
  display: inline-block;
}
.newlayout .ui.menu .prihlaseni .logout > p,
.newlayout .ui.menu .prihlaseni .logout > form {
  display: inline-block;
}
.newlayout .ui.menu .prihlaseni .logout > form button > i.icon {
  font-size: 1.4em;
}
.newlayout .ui.menu .prihlaseni > form {
  float: right;
}
.newlayout .ui.menu .prihlaseni:not(.dimmed) button:not(.fluid) {
  position: relative;
  left: 15%;
  margin-bottom: 15px;
}
.newlayout .ui.menu .prihlaseni:not(.dimmed) button:not(.fluid).positive {
  left: 20%;
}
.newlayout .menu.edit li > p {
  margin-bottom: 0;
}
.newlayout .menu.edit li > p br {
  display: none;
}
.newlayout .menu.edit .onpath.presented p > span {
  cursor: text;
}
.newlayout .menu.edit li:not(.presented) .buttons {
  display: none;
}
.newlayout .menu.edit li.onpath.presented > .buttons.editMenu {
  display: block;
  background: #fbfbe7;
}
.newlayout .menu.edit li.onpath.presented > .buttons.editMenu > .button:first-child {
  background-color: #fff1d5;
}
.newlayout .menu.edit li.onpath.presented > .buttons.editMenu > .button:first-child:hover {
  background-color: #FFFFFF;
}
.newlayout .menu.edit li.onpath.presented > .buttons.editName {
  display: none;
  background-color: #fff1d5;
}
.newlayout .semafor {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -30px;
}
.newlayout .semafor i.icon {
  margin-bottom: 2px;
}
.newlayout .semafor.polozky_menu {
  left: -1px;
}
.newlayout li a > .semafor.polozky_menu {
  justify-content: center;
  height: 100%;
}
.newlayout li > .semafor.polozky_menu {
  top: 4px;
}
.newlayout .vodorovne-menu li .semafor.polozky_menu {
  left: -6px;
  background-color: #FFFFFF;
  border: 1px solid #EB1B4C;
  border-radius: 5px 0 0 5px;
}
.newlayout .vodorovne-menu li .semafor.polozky_menu i {
  padding-left: 3px;
}
.newlayout .svisle-menu .menu.edit {
  height: 650px;
  overflow-y: scroll;
  width: 100%;
  margin-left: -8px;
}
.newlayout .svisle-menu .menu.edit li:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu .menu.edit .onpath .item {
  border-bottom: 0;
}
.newlayout .svisle-menu .menu.edit .onpath .menu {
  margin-left: 10px;
  padding: 0;
}
.newlayout .svisle-menu .menu button[data-tooltip]::after,
.newlayout .vodorovne-menu .menu button[data-tooltip]::after {
  font-weight: 700;
}
.newlayout .svisle-menu .menu.edit .onpath.presented:first-child .buttons,
.newlayout .svisle-menu .menu.edit .onpath.presented:nth-child(2) .buttons {
  top: 30px;
  position: absolute;
  z-index: 1;
}
.newlayout .svisle-menu .menu.edit .onpath.presented .buttons {
  position: absolute;
  left: auto;
  right: 0;
  top: -25px;
}
.newlayout .svisle-menu.bloky {
  margin: 10px auto;
}
.newlayout .svisle-menu.bloky .menu.edit > .onpath.presented .buttons {
  background: #edf7ff;
}
.newlayout .svisle-menu.bloky .menu.edit > li:first-child {
  text-align: center;
}
.newlayout .svisle-menu.bloky .menu.edit > li:first-child > .item {
  background-color: #edf7ff !important;
}
.newlayout .svisle-menu.bloky .menu.edit > li:first-child > .item > i {
  display: none;
}
.newlayout .svisle-menu.kos .menu .onpath.presented .buttons {
  background: #f8f3ff;
  position: absolute !important;
  left: auto;
  right: 0;
  top: -25px;
}
.newlayout .svisle-menu.kos .menu .onpath.presented .buttons .corner.icon {
  font-size: 0.9em;
  left: 7px;
}
.newlayout .svisle-menu.kos .menu > li:first-child {
  text-align: center;
}
.newlayout .svisle-menu.kos .menu > li:first-child > .item {
  background-color: #f8f3ff !important;
}
.newlayout .presmerovani-menu .menu.edit .item {
  margin-right: 10px;
  padding: 0.25em 1em !important;
}
.newlayout .presmerovani-menu .menu.edit .item .buttons {
  margin-left: 5px;
}
.newlayout .presmerovani-menu .menu.edit .item .buttons .button::before {
  bottom: -80%;
  left: 30%;
  transform: rotate(225deg) scale(1) !important;
}
.newlayout .presmerovani-menu .menu.edit .item .buttons .button::after {
  bottom: -173%;
  font-weight: 700;
}
.newlayout .vodorovne-menu .menu.edit {
  width: 700px;
  flex-wrap: wrap;
}
.newlayout .vodorovne-menu .menu.edit .item {
  margin: 6px 5px 6px 0;
  padding-left: 5px;
}
.newlayout .vodorovne-menu .menu.edit .item.onpath.presented .active {
  border-width: 1px 0 1px 1px;
  border-color: #EB1B4C;
  border-style: solid;
}
.newlayout .vodorovne-menu .menu.edit .item.onpath.presented .actual {
  border-width: 1px 1px 1px 0;
  border-color: #EB1B4C;
  border-style: solid;
}
.newlayout .vodorovne-menu .menu.edit .item .buttons {
  position: relative;
  top: 0;
  margin-right: 5px;
  height: 30px;
}
.newlayout .vodorovne-menu .menu.edit .item .buttons .button:hover {
  height: 29px;
  border-bottom: 1px solid #DCDDDE !important;
}
.newlayout .vodorovne-menu .menu.edit li.onpath.presented > .buttons.editMenu > .button:last-child {
  height: 28px;
}
.newlayout .secondary.menu {
  margin-top: 0;
  margin-bottom: 2em;
}
.newlayout .secondary.menu .right.menu > .item:nth-child(2) {
  align-self: baseline;
}
.newlayout .secondary.menu .right.menu > .item:nth-child(2) .logout {
  float: left;
}
.newlayout .secondary.menu .right.menu > .item:nth-child(2) .form {
  display: inline-block;
}
.newlayout .notpermitted {
  cursor: no-drop !important;
  color: #dedede;
}
.newlayout .notpermitted:hover {
  outline: 2px dashed #EB1B4C;
  color: #dedede;
}
.newlayout .notpermitted:hover::before {
  content: 'Nemáte oprávnění k editaci';
  width: 65%;
  height: 75px;
  padding: 10px;
  color: black;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border: 1px dashed black;
}
.newlayout .locked {
  cursor: progress !important;
  color: #dedede;
}
.newlayout .locked:hover {
  outline: 2px dashed #FBBD08;
  color: #dedede;
}
.newlayout .locked:hover::before {
  content: 'Stránku edituje uživatel ' attr(data-editor);
  width: 60%;
  height: 90px;
  padding: 10px;
  color: black;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px dashed black;
}
.newlayout .segment.notpermitted headline,
.newlayout .segment.notpermitted content,
.newlayout .segment.locked headline,
.newlayout .segment.locked content,
.newlayout .segment.notpermitted i.settings,
.newlayout .segment.locked i.settings {
  opacity: 0.35;
}
.newlayout .segment.locked .icon.buttons,
.newlayout .segment.notpermitted .icon.buttons {
  opacity: 0.45;
  pointer-events: none !important;
}
.newlayout .segment.locked a,
.newlayout .segment.notpermitted a {
  pointer-events: none;
}
.newlayout .articleHeadlined > .ui.segment {
  border: 0;
  box-shadow: 0 0 0;
  padding: 0 1em;
}
.newlayout .grafia.segment.headlined.editable .buttons:not(.editContent),
.newlayout .grafia.segment.block.editable .buttons:not(.editContent) {
  position: absolute;
  top: -30px;
}
.newlayout .grafia.segment.headlined.editable .buttons:not(.editContent) [data-tooltip]::after,
.newlayout .grafia.segment.block.editable .buttons:not(.editContent) [data-tooltip]::after {
  font-weight: 700;
}
.newlayout .grafia.segment.headlined.editable .buttons.editPage {
  right: 0;
  background: #fbfbe7;
}
.newlayout .grafia.segment.headlined.editable .buttons.editPage > .toolsDate {
  background-color: #fff1d5;
}
.newlayout .grafia.segment.headlined.editable .buttons.editDate {
  background-color: #fff1d5;
  right: -12px;
}
.newlayout .grafia.segment.block.editable .buttons.editPage {
  right: 0;
  background-color: #edf7ff;
}
.newlayout .grafia.segment.block.editable .buttons.editPage > .toolsDate {
  background-color: #fff1d5;
}
.newlayout .grafia.segment.block.editable .buttons.editDate {
  background-color: #fff1d5;
  right: 0;
}
.newlayout .grafia.segment.headlined.editable headline {
  padding-right: 1em;
  padding-left: 1em;
}
.newlayout .grafia.segment.headlined.editable i.grafia.active {
  left: -1em;
}
.newlayout .grafia.segment.headlined.editable i.grafia.actual {
  right: -1em;
}
.newlayout .grafia.segment.headlined.editable:nth-child(3).edit {
  float: none;
  align-items: stretch;
  display: flex;
}
.newlayout .mce-content-body:not(.mce-edit-focus) {
  outline: 1px dotted #DCDDDE;
}
.newlayout .mce-content-body:not(.mce-edit-focus):hover {
  outline-color: #b5b7b9;
}
.newlayout section {
  height: 100%;
  position: relative;
}
.newlayout section > form:nth-of-type(2) {
  position: static !important;
}
.newlayout section .corner.label {
  font-size: 0.3em;
  right: -11px;
  border-color: #c7e2f6 !important;
}
.newlayout #editName {
  display: none;
}
.newlayout .editDate,
.newlayout .buttons.editDate {
  display: none;
}
.newlayout .edit_kalendar {
  position: absolute;
  background-color: #fff1d5;
  border-radius: 5px;
  border: 1px solid #DCDDDE;
  z-index: 1;
  padding: 10px;
  cursor: auto;
  font-size: 0.85em;
  top: 0;
}
.newlayout .edit_kalendar p {
  text-align: left;
  margin-bottom: 5px;
}
.newlayout .edit_kalendar .calendar {
  margin-bottom: 10px;
}
.newlayout .edit_kalendar .ui.button {
  border-radius: 5px !important;
  border: 1px solid #DCDDDE !important;
  background: #FFFFFF;
  padding: 8px;
}
.newlayout .edit_kalendar .ui.button[type="submit"] {
  width: 100%;
  color: #21BA45 !important;
  border-color: #21BA45 !important;
}
.newlayout .grafia.segment.headlined.editable .edit_kalendar {
  right: -1.15em;
}
.newlayout .grafia.segment.block.editable .edit_kalendar {
  right: 0;
}
.newlayout .prihlaseni {
  clear: both;
  margin-right: 2px;
  position: relative;
  float: right;
  margin-top: 7px;
  margin-bottom: -10px;
}
.newlayout .prihlaseni .logout {
  display: inline-block;
}
.newlayout .prihlaseni .logout > p,
.newlayout .prihlaseni .logout > form {
  display: inline-block;
}
.newlayout .prihlaseni .logout > form button > i.icon {
  font-size: 1.4em;
}
.newlayout .contentButtons {
  flex-direction: column;
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;
}
.newlayout .buttons.editContent {
  position: absolute;
  background-color: #fbfbe7;
  z-index: 5;
  width: 100px;
}
.newlayout .buttons.editContent .arrow.icon {
  font-size: 1em;
  right: -11px;
}
.newlayout .buttons.editContent:first-child {
  top: 0px;
}
.newlayout .buttons.editContent:nth-child(2) {
  top: 30px;
}
.newlayout .buttons.editContent:nth-child(3) {
  top: 60px;
}
.newlayout .buttons.editContent:nth-child(4) {
  top: 90px;
  background-color: #fff1d5;
}
.newlayout .buttons.editContent button[data-tooltip]::after {
  font-weight: 700;
}
.newlayout section .ui.corner.label {
  width: 2em;
  height: 2em;
}
.newlayout section .ui.corner.label .icon.editContent {
  position: initial;
}
.newlayout section .ui.corner.label .icon.editContent .icon {
  position: initial;
}
.newlayout section .ui.corner.label .icon.editContent .icons .icon {
  transform: translateX(50%);
}
.newlayout .poznamky {
  position: absolute;
  border-radius: 5px;
  background: #FFFFFF;
  left: 30px;
  transition: 0.7s linear;
  box-shadow: 1px 1px 10px 1px rgba(34, 36, 38, 0.15);
  z-index: 1;
}
.newlayout .poznamky .label {
  margin: 0 !important;
}
.newlayout .poznamky .label i {
  width: 100% !important;
}
.newlayout .poznamky .content {
  width: 250px;
  padding: 10px;
}
.newlayout .poznamky .content p {
  margin-bottom: 0.7em;
}
.newlayout .poznamky .content p:last-child {
  margin-bottom: 0;
}
.newlayout pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.newlayout .mce-content-body:not(.mce-edit-focus) {
  padding: 5px 10px;
  margin: 0 -10px;
}
.newlayout .mce-edit-focus {
  background: linear-gradient(90deg, #21BA45 50%, transparent 50%), linear-gradient(90deg, #21BA45 50%, transparent 50%), linear-gradient(0deg, #21BA45 50%, transparent 50%), linear-gradient(0deg, #21BA45 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 12px 3px, 12px 3px, 3px 12px, 3px 12px;
  padding: 5px 10px;
  margin: 0 -10px;
  animation: border-dance 40s infinite linear;
  height: max-content;
}
.newlayout block:not(mce-edit-focus) a[data-mce-selected="inline-boundary"],
.newlayout content:not(mce-edit-focus) a[data-mce-selected="inline-boundary"] {
  background-color: #FFFFFF !important;
}
.newlayout block.mce-edit-focus a[data-mce-selected="inline-boundary"],
.newlayout content.mce-edit-focus a[data-mce-selected="inline-boundary"] {
  background-color: #b4d7ff !important;
}
.newlayout body.mce-content-body {
  padding: 0 5px 0 10px;
  margin: 7px;
  font-size: 1em;
}
.newlayout .mce-content-body .ui.grid {
  background-color: lightyellow;
}
.newlayout .mce-content-body .ui.grid .column {
  outline: 1px dashed #DCDDDE !important;
}
.newlayout .mce-content-body .ui.grid .ui.grid {
  background-color: initial;
}
.newlayout .mce-content-body .button {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: text;
}
.newlayout body#tinymce {
  width: 100%;
  padding: 5px;
  margin: 0;
  background: 0 0;
}
.newlayout .tox-toolbar-dock-fadein {
  z-index: 2;
}
.newlayout {
  /*.obtekanyVpravo{
        float: right;
        margin: 5px 0 5px 5px;
    }
    .obtekanyVlevo{
        float: left;
        margin: 5px 5px 5px 0;
    }*/
  /******************************sablona**stranka_kurzy**************************/
  /*******************************sablona**otevrene_kurzy************************/
  /*******************************sablona**prednasky*****************************/
  /*#contents .prednaska .stitek{
        color: white;
        padding: 3px 3px 3px 13px;
        background: rgb(0, 0, 128);
        vertical-align: middle;
        border-radius: 5px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .prednaska .stitek::before{
        width: 16px;
        height: 16px;
        content: '';
        position: absolute;
        background: rgb(0,0,128);
        transform: rotate(45deg);
        left: -5px;
        top: 3px;
        z-index: 1;
    }*/
  /*responz:
    .prednaska{
        flex-direction: column;
    }
    .prednaska .stitek{
        position: relative;
        margin: 10px 30px;
    }
    */
  /* v rs */
}
.newlayout .obrazek-vlevo .column p > img,
.newlayout .obrazek-vpravo .column p > img {
  width: 100%;
  height: auto;
}
.newlayout .image_vlevo {
  float: left;
  margin: 5px 5px 5px 0;
}
.newlayout .image_vpravo {
  float: right;
  margin: 5px 0 5px 5px;
}
.newlayout .image_ramecek {
  border: 1px solid #1B1C1D;
}
.newlayout .image_vlevo_ramecek {
  float: left;
  border: 1px solid #1B1C1D;
  margin: 5px 5px 5px 0;
}
.newlayout .image_vpravo_ramecek {
  float: right;
  border: 1px solid #1B1C1D;
  margin: 5px 0 5px 5px;
}
.newlayout .eshop.card {
  width: 270px !important;
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
}
.newlayout .eshop.card .content:first-child p {
  line-height: 2.5em;
}
.newlayout .eshop.card .content p.cena {
  display: inline-block;
  margin-top: 10px !important;
}
.newlayout .eshop.card-image {
  height: 200px;
  width: auto;
  max-height: 100%;
}
.newlayout .eshop.card .middle {
  vertical-align: middle;
  position: relative;
  transform: translateY(-20%);
  background-color: transparent;
  color: #000;
}
.newlayout .ui.corner.label::after {
  border-right-width: 5em !important;
  border-bottom-width: 4.8em !important;
}
.newlayout .ui.teal.label {
  padding: 5px !important;
}
.newlayout .stranka-kurzy .column:nth-child(2) .content:first-child p {
  font-weight: 700;
  margin-bottom: 5px;
}
.newlayout .stranka-kurzy .column:nth-child(2) .content:nth-child(2) h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.newlayout .otevreny-kurz p.popisek {
  font-style: italic;
  font-size: 0.9em;
}
.newlayout .prednaska {
  position: relative;
  background-color: white;
  padding: 20px 0 10px;
  margin: 10px 0;
  border-bottom: 1px solid #dedede;
}
.newlayout .prednaska .obrazek_popisek {
  position: relative;
  align-self: center;
}
.newlayout .prednaska .obrazek_popisek > p > img {
  border-radius: 200px;
  width: 155px !important;
  height: 155px !important;
  border: 1px solid #000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.newlayout #contents .prednaska .obrazek_popisek p.prednasejici {
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  bottom: -2px;
  height: 57px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px;
  text-align: center;
}
.newlayout #contents .prednaska p.label {
  position: absolute;
  right: 0;
  top: 0;
}
.newlayout .prednaska .informace_prednasky {
  display: inline;
}
.newlayout #contents .prednaska .informace_prednasky h4 {
  font-size: 1.1em;
}
.newlayout #contents .prednaska .informace_prednasky h4:first-child {
  margin-bottom: 0;
  margin-top: 10px;
}
.newlayout #contents .prednaska .informace_prednasky h4:nth-child(2) {
  margin-top: 0;
}
.newlayout .prednaska .informace_prednasky ul {
  transform: translateX(5%);
  margin-bottom: 10px;
}
.newlayout .prednaska a.odkaz_vtextu_kulaty_cerveny {
  padding: 3px;
  margin: 5px 5px 5px 0;
}
.newlayout #contents .prednaska a.odkaz_vtextu_kulaty_sedy {
  padding: 3px;
  margin: 5px 0 5px 5px;
}
.newlayout .mce-content-body .prednaska p.label {
  position: absolute;
  top: 0;
  right: 0;
}
.newlayout .mce-content-body .prednaska .obrazek_popisek {
  outline: 1px dashed purple;
  background-color: #f4eafa;
}
.newlayout .mce-content-body .prednaska .obrazek_popisek > p > img {
  border-radius: 200px;
  width: 155px !important;
  height: 155px !important;
  border: 1px solid #000;
}
.newlayout .mce-content-body .prednaska .informace_prednasky h4:first-child {
  margin-bottom: 0;
  margin-top: 10px;
}
.newlayout .mce-content-body .prednaska .informace_prednasky h4:nth-child(2) {
  margin-top: 5px;
}
.newlayout {
  /************************************media*************************************/
}
@media (max-width: 1750px) {
  .newlayout .poznamky {
    left: 10px;
  }
  .newlayout .poznamky .label::before {
    display: none;
  }
  .newlayout .poznamky .content {
    display: none;
  }
  .newlayout .poznamky:hover .label::before {
    display: block;
  }
  .newlayout .poznamky:hover .content {
    display: block;
  }
}
@media (max-width: 1300px) {
  .newlayout {
    /*menu*/
    /*svisle menu*/
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: 150px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 3px;
  }
  .newlayout .dimmer .content {
    width: 25%;
  }
  .newlayout .poznamky {
    left: 10px;
  }
}
@media (max-width: 1099px) {
  .newlayout {
    /*menu*/
    /*vodorovne menu*/
    /*svisle menu*/
  }
  .newlayout .vodorovne-menu ul.menu.edit {
    width: 620px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:first-of-type {
    left: auto;
    right: 15px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 15px;
  }
  .newlayout .page-content > .grid > .column:not(.row):nth-child(2) {
    padding-left: 2em;
    padding-right: 1.5em;
  }
  .newlayout .page-content .svisle-menu form > ul.menu.edit {
    width: 100%;
  }
  .newlayout .dimmer .content {
    width: 35%;
  }
  .newlayout .ui.container {
    width: 100% !important;
  }
  .newlayout header .kontakt-hlavicka {
    margin-top: 10px;
  }
  .newlayout header .kontakt-hlavicka img {
    width: 55px;
    height: 65px !important;
    margin: 5px 0 10px 5px;
  }
  .newlayout header .row:first-child .column:first-child img {
    width: 130px;
  }
  .newlayout header .row:first-child .column:nth-child(2) presmerovani-menu ul.menu li.presented div.buttons {
    z-index: 20;
  }
  .newlayout header .row:first-child .column:nth-child(2) img {
    z-index: 0 !important;
    position: static;
  }
  .newlayout header .row:first-child .column:nth-child(2) ul.text.menu {
    width: 45%;
    transform: translateY(-30%);
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: 140px;
  }
  .newlayout .page-content .grid .one.column .ui.segment {
    display: none !important;
  }
  .newlayout .page-content .column .segment:not(.ui):not(.grafia) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px auto;
    width: 70%;
    height: auto;
  }
  .newlayout .page-content .column > form > button.ui.button.save {
    right: 15px;
  }
  .newlayout .poznamky {
    left: 25px;
    top: 240px;
  }
  .newlayout .poznamky .label {
    width: 55px !important;
  }
  .newlayout .poznamky:hover .label {
    width: 100% !important;
  }
}
@media (max-width: 920px) {
  .newlayout {
    /*menu*/
    /*vodorovne menu*/
  }
  .newlayout .vodorovne-menu ul.menu.edit {
    width: 530px;
  }
  .newlayout header .grid > .row:first-child {
    height: 125px;
  }
  .newlayout header .row:first-child .column:first-child img {
    width: 110px;
  }
  .newlayout header .row:last-child .column:nth-child(2) {
    left: -7px;
  }
  .newlayout header .kontakt-hlavicka {
    margin-right: -4px;
  }
  .newlayout .jazyky {
    margin-top: 0;
    margin-bottom: -10px;
    margin-right: -4px;
  }
  .newlayout .fluid.input {
    float: right;
    width: 120px;
  }
  .newlayout .page-content .column .segment:not(.ui):not(.grafia) {
    width: 50%;
    z-index: 5;
    float: right;
  }
  .newlayout .poznamky {
    left: 20px;
    top: 225px;
  }
}
@media (max-width: 768px) {
  .newlayout {
    /*menu s butony*/
    /*vodorovne menu*/
  }
  .newlayout header {
    padding: 0;
    height: 182px;
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: auto;
  }
  .newlayout header .grid > .column:nth-child(2) p {
    right: 70%;
    top: 10px;
    font-size: 1.6em;
    z-index: 2;
  }
  .newlayout header .hlavicka {
    height: 180px;
    right: -24%;
  }
  .newlayout header a > img {
    width: 80px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li i.line:first-of-type {
    left: -8px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li i.line:nth-of-type(2) {
    left: -4px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented i.line {
    height: 30px;
    top: 1px;
    transform: translateY(-15%);
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons {
    background-color: #FFFFFF;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type {
    position: absolute;
    top: -28px;
    right: 0;
    left: auto;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type > .button {
    width: auto;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) {
    position: absolute;
    top: -25px;
    bottom: auto;
    right: 5px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) > .button {
    width: auto;
  }
  .newlayout .vodorovne-menu ui.menu:not(.floated):not(.left) {
    flex-direction: column;
    align-items: center;
  }
  @keyframes prechodPozadi {
    0% {
      background-color: #EB1B4C;
    }
    100% {
      background-color: #FFFFFF;
    }
  }
  .newlayout .secondary.menu .right.menu {
    margin-left: -5px !important;
  }
  .newlayout .secondary.menu .right.menu > .item:first-child {
    margin-right: 30px;
  }
  .newlayout .secondary.menu .right.menu > .item:nth-child(2) {
    align-self: baseline;
  }
  .newlayout .secondary.menu .right.menu > .item:nth-child(2) .prihlaseni .ui.icon.button {
    padding: 0.9em 0.6em;
  }
  .newlayout .secondary.menu .right.menu > .item:nth-child(2) .logout {
    float: left;
  }
  .newlayout .secondary.menu .right.menu > .item:nth-child(2) .form {
    display: inline-block;
  }
  .newlayout .nav-mobile {
    padding: 6px 7px 6px 3px;
  }
  .newlayout .dimmer .content {
    width: 80%;
  }
  .newlayout header .row:first-child .column:first-child {
    position: absolute;
    text-align: left !important;
    left: 10px;
  }
  .newlayout header .row:first-child .column:first-child .ui.buttons {
    top: -48px;
    left: 55px;
    right: auto;
  }
  .newlayout header .row:first-child .column:nth-child(2) img {
    top: 10px;
    left: auto;
  }
  .newlayout header .row:first-child ul.text.menu {
    width: 50%;
    transform: translateY(0);
  }
  .newlayout header .row:first-child .kontakt-hlavicka {
    font-size: 0.75em;
    margin-top: 10px;
  }
  .newlayout header .row:first-child .kontakt-hlavicka img {
    width: 65px;
    height: auto !important;
    margin: 2px 0 10px 5px;
  }
  .newlayout header .ui.grid .row:last-child .column:nth-child(2) {
    padding-bottom: 0 !important;
  }
  .newlayout header .row:last-child .column:first-child {
    margin-left: 5px !important;
    height: auto;
  }
  .newlayout header .row:last-child .column:nth-child(2) {
    left: 0;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu {
    display: block;
    column-count: 2;
    width: 85%;
    float: right;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item {
    margin: 10px auto;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item:first-child {
    margin-top: 0;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item > .button {
    width: 101%;
    margin-left: -5px;
  }
  .newlayout header .row:last-child .column:last-child .fluid.input {
    width: 85%;
    font-size: 1em;
  }
  .newlayout .ui.container {
    margin: 0 12px !important;
    width: auto !important;
  }
  .newlayout .page-content .column > form > button.ui.button.save {
    right: 10px;
  }
  .newlayout footer .grid > .column {
    text-align: center;
  }
  .newlayout footer .grid > .column:first-child p {
    margin-left: auto;
  }
  .newlayout .poznamky {
    left: 35px;
    top: 430px;
  }
  .newlayout .map {
    width: 400px;
    height: 400px;
  }
  .newlayout footer {
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  .newlayout header .row:first-child .column:first-child {
    /*position:relative;
                text-align: center !important;
                img{
                    margin: auto;
                    width: 40%;
                }*/
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu {
    width: 100%;
    column-count: 1;
  }
  .newlayout header .row:last-child .column:last-child .fluid.input {
    width: 100%;
  }
  .newlayout .poznamky {
    left: 35px;
    top: 100px;
  }
  .newlayout .page-content .ui.segment {
    padding: 0;
  }
  .newlayout #map {
    width: 330px;
  }
}
@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}
/*# sourceMappingURL=zkouska_less.css.map */