/*.headline-reset(){ 
    background-color: inherit; 
    color: inherit;
    text-align: inherit; 
    font-size: inherit;
    font-weight: inherit;
    padding: 0;  
    margin: 0;
}
.segment(@color, @backgroundColor, @border, @borderRadius, @boxShadow){
    color: @color;
    background-color: @backgroundColor;
    border: @border; 
    border-radius: @borderRadius; 
    box-shadow: @boxShadow  
} */  
/*******************************
         layout.less: @import "../../site-definitions.less"              
*******************************/                  
@import "../../site-definitions.less";                                                  
           
/*******************************
         layout.less: @import "../../@{sitename}/semantic/src/themes/default/globals/site.variables" 
*******************************/
@import "../../@{sitename}/semantic/src/themes/default/globals/site.variables";

/******************************* 
         layout.less: @import (optional) "../../@{sitename}/semantic/src/site/globals/site.variables"
*******************************/ 
@import (optional) "../../@{sitename}/semantic/src/site/globals/site.variables";        


/*******************************
         styly pro šablony author v site  
         templates.less: @import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";    
*******************************/   
&{       
@templateType: "author";                                             
@import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";    
@siteTemplatePath: "../../@{sitename}/@{siteTemplatesFolder}/@{templateType}/site-template.less";
}
         
/*******************************         
         styly pro šablony multipage v site
         templates.less: @import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less"; 
*******************************/         
&{         
@templateType: "multipage";                                                                                   
@import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";     
@siteTemplatePath: "../../@{sitename}/@{siteTemplatesFolder}/@{templateType}/site-template.less";
} 

/*******************************
         styly pro šablony article v site
         templates.less: @import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less"; 
*******************************/ 
&{                    
@templateType: "article";                                                                                   
@import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";
@siteTemplatePath: "../../@{sitename}/@{siteTemplatesFolder}/@{templateType}/site-template.less";
} 

/*******************************
         styly pro šablony paper    
         templates.less: @import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";             
*******************************/ 
&{    
@templateType: "paper";                                     
@import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";
@siteTemplatePath: "../../@{sitename}/@{siteTemplatesFolder}/@{templateType}/site-template.less";
}  

/*******************************
         styly pro šablony paper-content v site
         templates.less: @import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";    
*******************************/ 
&{          
@templateType: "paper-content";
@import (optional) "../@{siteTemplatesFolder}/@{templateType}/base-template.less";         
@siteTemplatePath: "../../@{sitename}/@{siteTemplatesFolder}/@{templateType}/site-template.less";  
}
          

/*******************************
         styly pro šablony static v site
         templates.less: @import (optional) "../../@{sitename}/@{siteStylesFolder}/static-templates.less"           
*******************************/ 
@import (optional) "../../@{sitename}/@{siteStylesFolder}/static-templates.less"; 
   
/*******************************
         společná část stylů pro všechny šablony v site
         templates.less: @import (optional) "../../@{sitename}/@{siteStylesFolder}/site-templates.less"      
*******************************/       
@import (optional) "../../@{sitename}/@{siteStylesFolder}/site-templates.less";        

    


