@media screen and (min-width: 2000px){
    .column:not(.editMenu) .fix-bar{
        width: 13.5rem !important;
    }
    .ui.column.grid > [class*="eleven wide widescreen"].column, 
    .ui.grid > .column.row > [class*="eleven wide widescreen"].column, 
    .ui.grid > .row > [class*="eleven wide widescreen"].column, 
    .ui.grid > [class*="eleven wide widescreen"].column{
        width: 93rem !important;
    }
}
@media screen and (max-width: 1860px){
    .layout header{
        h1{
            font-size: 3.9rem;
            span{
                margin: auto 10px; 
            }
        }
    }
}
@media screen and (max-width: 1750px){
    .layout .column:not(.editMenu) .fix-bar{
        width: 23%
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        //width: 37%;
        width: 100%;
    }
    .layout header{
        h1{
            font-size: 3.6rem;
            span{
                margin: auto 5px;
            }
        }
        .logo{
            width: 150px;
            height: auto;
        }
    }
}
@media screen and (max-width: 1600px){
    .layout header{
        h1{
            font-size: 3.3rem;
            span{
                margin: auto 5px;
            }
        }
        .logo{
            width: 130px;
            height: auto;
        }
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        //width: 42%;
    }
    .layout .column:not(.editMenu) .fix-bar{
        //width: 8.5%;
        width: 24.5%;
    }
    #mySidenav.editMenu .ui.vertical.menu:not(.icon){
        width: 21rem;
    }
    .row > .column.right.floated{
        margin-right: 10px;
    }
}
@media screen and (max-width: 1340px){
    .layout header{
        h1{
            font-size: 3rem;
            span{
                margin: auto 0px;
            }
        }
        .logo{
            width: 110px;
            height: auto;
        }
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        //width: 47%;
    }
}
@media screen and (max-width: 1200px){
    .layout header{
        h1{
            font-size: 2.5rem;
            span{
                margin: auto 0px;
            }
        }
        .logo{
            width: 90px;
            height: auto;
        }
    }
    .layout .column:not(.editMenu) .fix-bar.no-fix{ //.fix-bar:has(#mySidenav.editMenu)
        > .icon-menu{
            display: flex;
        }
        > .nav-mobile{
            display: flex;
        }
        > .prihlaseni{
            display: block;
        }
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav.editMenu{
            display: none;
            height: 100%;
            width: 33%;
            background-color: @primaryColor;
            position: fixed!important;
            top: 0;
            left: 0;
            z-index: 100;
            overflow: auto;
            -webkit-animation: animateleft 0.4s;
            animation: animateleft 0.4s;
            padding: 40px 20px 20px ;
            &.open{
                display: block !important;
            }
            .close-item .close.slim-icon{
                display: block;
            }
        }
    .layout .column:not(.editMenu) .fix-bar #mySidenav.editMenu + #myOverlay{
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
            z-index: 1;
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        display: none; 
        width: 55%;
    }
    body.layout{
        font-size: 24px;
    }
    .layout .column:not(.editMenu) .fix-bar{
        width: 10%;
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px){ 
    .layout header{
        h1{
            font-size: 2.5rem;
            position: relative;
            span{
                display: block;
                margin: auto 0px;
            }
        }
        .logo{
            width: 90px;
            height: auto;
            position: absolute;
            bottom: 6px;
            left: 115px;
        }
    }
    .layout .column:not(.editMenu) .fix-bar{
        width: 13%;
        .prihlaseni{
            .icon.button:not(.labeled){
                > .user.icon{
                    font-size: 1.2em;
                }
            }
        }
    }
    .layout > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    body.layout{
        font-size: 1.4rem;
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        width: 75%;
    }
    .ui.massive.menu{
        font-size: 2rem;
    }
    .layout footer{
        padding-left: 17%;
    }
    .layout div.editMenu-article{
        margin-right: auto;
        margin-left: auto;
    }
    .ui.grid > .two.wide.column.editMenu{
        width: 70% !important;
    }
}
@media screen and (max-width: 768px){
    .layout header{
        h1{
            font-size: 2.5rem;
            position: relative;
            span{
                display: block;
                margin: auto 0px;
            }
        }
        .logo{
            width: 90px;
            height: auto;
            position: absolute;
            bottom: 6px;
            left: 115px;
        }
    }
    .layout .column:not(.editMenu) .fix-bar{
        width: 13%;
        height: 110%;
        .prihlaseni{
            .icon.button:not(.labeled){
                > .user.icon, > .address.card.icon{
                    font-size: 1.2em;
                    position: relative;
                    right: 20%;
                }
            }
            .dropdown .menu{
                margin: 0;
            }
            .logout{
                i.sign.out.icon{
                    position: relative;
                    right: -25%;
                }
                i.user.circle.icon{
                    font-size: 1.3em;
                    position: relative;
                    right: 0%;
                }
            }
        }
    }
    .layout > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    body.layout{
        font-size: 1.4rem;
    }
    .layout .column:not(.editMenu) .fix-bar #mySidenav{
        width: 80%;
    }
    .ui.massive.menu{
        font-size: 1.5rem;
    }
    .layout .svisle-menu .vertical.menu:not(.edit){
        margin: 0;
    }
    .ui.massive.vertical.menu:not(.icon){
        width: 25rem;
    }
    .layout{
        header{
            margin: 10px 0;
        }
        footer{
            padding-left: 17%;
        }
    }
    .layout div.editMenu-article{
        margin-right: auto;
        margin-left: auto;
    }
    .ui.grid > .two.wide.column.editMenu{
        width: 70% !important;
    }
}
@media screen and (max-width: 600px){
    .layout footer{
        padding-left: 20%;
    }
    .layout .fix-bar{
        width: 50px;
        .prihlaseni{
            > form:not(.inverted){ //v tomhle formu je tlacitko Akce
                > div.icon{
                    font-size: 18px ;
                    padding: 10px !important;

                }
            }
            .logout{
                i.sign.out.icon{
                    position: relative;
                    right: -25%;
                }
                i.user.circle.icon{
                    font-size: 1.3em;
                    position: relative;
                    right: 0%;
                }
            }
        }
    }
    .ui.vertical.menu:not(.icon) li:not(.presented) > a.item::after{
        bottom: 10px !important;
    }
}

@media screen and (min-height: 431px) and (max-width: 530px){
    .layout .fix-bar{
        .prihlaseni{
            form > div.button{
                position: relative;
                right: 15%;
            }
        }
    }
    video{
        width: 90%;
        height: auto;
    }
}
@media only screen and (max-height: 630px) {
    .layout{
        .nav-mobile{
            top: 4%;
        }
        .fix-bar .prihlaseni{
            top: 5%;
        }
        .icon-menu{
            top: 50%; 
            position: relative;
        }
    } 
}
@media only screen and (max-height: 430px) and (min-width: 1600px) {
    .layout{
        .icon-menu{
            top: 27%;
            ul.vertical.menu{
                display: inline-flex;
                flex-direction: row;
                justify-content: center;    
            }
        }
    } 
}
@media only screen and (max-height: 430px) and (max-width: 1599px) {
    .layout{
        .icon-menu{
            top: 27%;
            ul.vertical.menu{ 
                display: inline-flex;
                flex-direction: row;
                justify-content: center; 
                li{
                    font-size: 0.8em;
                }
            }
            
        }
    } 
}
@media only screen and (max-height: 430px) and (max-width: 768px) {
    .layout{
        .nav-mobile{
            top: 4%;
            font-size: 0.8em;
        }
        .fix-bar{
            height: 130%;
            .prihlaseni{
                top: 0;
                .icon.button:not(.labeled){
                    padding: 0.3em;
                    > .user.icon{
                        //font-size: 1em;
                    }
                }
                .logout{
                    .dropdown .header.item{
                        font-size: 1em;
                    }
                }
                > form{ //v tomhle formu je tlacitko Akce
                    > div.icon{
                        font-size: 1.4em;
                    }
                    > div.button{
                        right: -10%;
                    }
                }
            }
        }
        .icon-menu{
            top: 38%;
            ul.vertical.menu{
                display: block;
                li{
                    font-size: 0.8em;
                    .item{
                        padding: 0.3em;
                    }
                }
            }
        }
    } 
}
