@media screen and (max-width: 1600px){
    body header{
        img{
            height: 300px;
            margin-bottom: 10px;
        }
    }
    body{
        .fix-bar{ 
            width: 74px;
        }
        .klic-img{
            width: 175px;
            height: auto; 
            left: -65px;
        }
    }
    .row > .column.right.floated{
        margin-right: 10px;
    }
}
@media screen and (max-width: 1500px){
    body {
        .klic-img{
            width: 165px;
            left: -61px;
            top: 45px;
        }
        .fix-bar{
            width: 69px;
        }
        #mySidenav.editMenu {
            width: 270px;
        }
        #mySidenav.editMenu .ui.vertical.menu:not(.icon){
            width: 21rem;
        }
        .ui.form .network .field:first-child{
            width: 22%;
        } 
    } 
}
@media screen and (min-width: 1000px){
    body #mySidenav.editMenu{
        display: block !important;
    }
}
@media screen and (max-width: 1200px){
    body header{
        
        .logo{
            width: 90px;
            height: auto;
        }
    }
    body .column:not(.editMenu) .fix-bar.no-fix{ 
        > .icon-menu{
            display: flex;
        }
        > .nav-mobile{
            display: flex;
        }
        > .prihlaseni{
            display: block;
        }
    }
    body{
        .fix-bar{ 
            width: 58px;
            //right: 25px;
        }
        .klic-img{
            width: 140px;
            max-height: 330px !important;
            left: -50px;
            top: 65px;
        }
        footer{
            margin-right: 40px;
        }
    } 
    body #mySidenav.editMenu{
        margin-left: 13px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px){ 
    body #mySidenav.editMenu{
        display: none;
        height: 100%;
        width: 45%;
        background-color: @primaryColor;
        position: fixed!important;
        top: 0;
        left: 0;
        z-index: 102;
        overflow: auto;
        -webkit-animation: animateleft 0.4s;
        animation: animateleft 0.4s;
        padding: 40px 20px 20px ;
        margin-left: 0;
        &.open{
            display: block !important;
        }
        .close-item, .close.slim-icon{
            display: block;
        }
    }
    body #mySidenav.editMenu + #myOverlay{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
        z-index: 20;
    }
    body{
        .nav-mobile{
            display: flex;
        }
        .mobile-menu-bar{
            height: 70px;
            background-color: @primaryColor;
            margin-top: -59px;
            position: relative;
            &.fixed-menu{
              position: fixed;
              top: 0;
              right: 0;
              width: 100%;
              height: 50px;
              margin: 0;
              z-index: 15;
              transition: 0.2s all;
              .nav-mobile{
                  left: 20px;
              }
              
            }
        }
        .nazev-firmy{
            top: 50px;
        }
        .blok-menu-paticka{
            display: none;
        }
        .loga-paticka{
            display: flex;
            flex-direction: row;
            .blok-menu-paticka{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 50px;
                p{
                    margin-right: 20px;;
                }
            }
            
        }
        footer{
            margin-right: 0;
            .partneri-img{
                display: none;
            }
            .ui.grid.column-50 > .column{
                width: 50% !important;
            }
            .ui.grid.column-30 > .column{
                width: 33% !important; 
            }
        }
    } 
    body .grid .row .fourteen .fourteen.column{
        width: 100% !important;
        margin-left: 0 !important;
    }
    
    
    
    
    
    
/*    body > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    bodybody{
        font-size: 1.4rem;
    }
    body .column:not(.editMenu) .fix-bar #mySidenav{
        width: 75%;
    }
    .ui.massive.menu{
        font-size: 2rem;
    }
    body footer{
        padding-left: 17%;
    }
    body div.editMenu-article{
        margin-right: auto;
        margin-left: auto;
    }
    .ui.grid > .two.wide.column.editMenu{
        width: 70% !important;
    }*/
}
@media screen and (max-width: 768px){
    body{
        .header-mobile{
            display: block !important;
            max-height: 300px;
            .logo-najdisi-mobile{
                display: block !important;
            }
        }
        .header-pc{
            display: none !important;
            .logo-najdisi{
                display: none !important;
            }
        }
        .klic-img{
            width: 112px;
            left: -60px; 
            top: 0;
        }
        header .prihlaseni .ui.dropdown.button{
            .menu .item > .menu{
                
            }
        }
        .fix-bar{
            display: none;
        }
        video{
            width: 100%;
        }
        .video-container {
            position: relative;
            width: 100%;
            height: auto;
            margin: 0 auto; 
            overflow: hidden;
            padding-top: 56.25%; 
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
        .ui.form .network{
            flex-direction: column;
            .field{
                width: 100% !important; 
            }
        } 
        .ui.accordion {
          .job-description {
            -webkit-line-clamp: 5; 
            line-clamp: 5;
          }
        }
        .nazev-firmy{
            top: 60px;
            font-size: 2.3rem;
        }
        .blok-menu-paticka{
            display: none;
        }
        .loga-paticka{
            display: flex;
            flex-direction: row;
            .blok-menu-paticka{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 50px;
                p{
                    margin-right: 20px;
                }
            }
        }
        footer{
            margin-right: 0;
            .partneri-img{
                display: none;
            }
        }
    } 
    body #mySidenav.editMenu{
        display: none;
        height: 100%;
        width: 85%;
        background-color: @primaryColor;
        position: fixed!important;
        top: 0;
        left: 0;
        z-index: 102;
        overflow: auto;
        -webkit-animation: animateleft 0.4s;
        animation: animateleft 0.4s;
        padding: 40px 20px 20px ;
        margin-left: 0;
        &.open{
            display: block !important;
        }
        .close-item, .close.slim-icon{
            display: block;
        }
    }
    body #mySidenav.editMenu + #myOverlay{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); //@transparentBlack
        z-index: 20;
    }
    body{
        .nav-mobile{
            display: flex;
        }
        .mobile-menu-bar{
            height: 70px;
            background-color: @primaryColor;
            margin-top: 0;
            position: relative;
            &.fixed-menu{
              position: fixed;
              top: 0;
              right: 0;
              width: 100%;
              height: 60px;
              margin: 0;
              z-index: 15;
              transition: 0.2s all;
              .nav-mobile{
                  left: 20px;
              }
              
            }
        }
/*        .fixed-menu{
          position: fixed;
          top: 0;
          width: 100%;
          height: 50px;
        }*/
    } 
    body .grid .row .fourteen .fourteen.column{
        width: 100% !important;
        margin-left: 0 !important;
    }
/*    body header{
        h1{
            font-size: 2.5rem;
            position: relative;
            span{
                display: block;
                margin: auto 0px;
            }
        }
        .logo{
            width: 90px;
            height: auto;
            position: absolute;
            bottom: 6px;
            left: 115px;
        }
    }
    body .column:not(.editMenu) .fix-bar{
        //width: 13%;
        //height: 110%;
        .prihlaseni{
            .icon.button:not(.labeled){
                > .user.icon, > .address.card.icon{
                    font-size: 1.2em;
                    position: relative;
                    right: 20%;
                }
            }
            .dropdown .menu{
                margin: 0;
            }
            .logout{
                i.sign.out.icon{
                    position: relative;
                    right: -25%;
                }
                i.user.circle.icon{
                    font-size: 1.3em;
                    position: relative;
                    right: 0%;
                }
            }
        }
    }
    body > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    bodybody{
        font-size: 1.4rem;
    }
    body .column:not(.editMenu) .fix-bar #mySidenav{
        width: 80%;
    }
    .ui.massive.menu{
        font-size: 1.5rem;
    }
    body .svisle-menu .vertical.menu:not(.edit){
        margin: 0;
    }
    .ui.massive.vertical.menu:not(.icon){
        width: 25rem;
    }*/
/*    body{
        header{
            margin: 10px 0;
        }
        footer{
            padding-left: 17%;
        }
    }
    body div.editMenu-article{
        margin-right: auto;
        margin-left: auto;
    }
    .ui.grid > .two.wide.column.editMenu{
        width: 70% !important;
    }*/

}
@media screen and (max-width: 600px){
    body{
        .logo-najdisi-mobile{
            top: -9px;
            position: relative;
        }
        .klic-img{
            width: 83px;
            top: 24px;
            left: -50px;
        }
        .mobile-menu-bar{
            width: 108%;
            height: 50px;
            margin-top: -55px;
            &.fixed-menu{
               
            }
        }
        header .prihlaseni{
            flex-direction: column;
            top: 0px;
            left: 10px;
        }
        .loga-paticka{
            .blok-menu-paticka{
                flex-direction: column;
                margin-right: 30px;
                p{
                    margin-right: 10px;
                }
                img{
                    height: 60px;
                    width: auto;
                    &.organizator{
                        height: 70px;
                        width: auto;
                    }
                }
            }
        }
    }
    .ui.vertical.menu li:not(.presented) > a.item::after{
        bottom: 10px !important;
    }
}

@media screen and (max-width: 450px){
/*    původní*/
/*    body{
        header{
            height: 235px;
            margin-bottom: 10px;
        }
        .logo-najdisi-mobile{
            top: -9px;
            position: relative;
        }
        .klic-img{
            width: 69px;
            top: 41px;
            left: -44px;
        }
        .mobile-menu-bar{
            width: 108%;
            height: 50px;
            margin-top: -75px;
        }
    }*/
    body{
        header{
            height: 235px;
            margin-bottom: 10px;
        }
        .logo-najdisi-mobile{
            top: -9px;
            position: relative;
            height: 220px;
        }
        .klic-img{
            width: 61px;
            top: 22px;
            left: -40px;
        }
        .mobile-menu-bar{
            width: 106%;
            height: 50px;
            margin-top: -30px;
        }
        .grid > .row > .fourteen.wide.column{
            //width: 95% !important;
            padding: 0 !important;
        }
        .grid > .row > .one.wide.column{
            width: 10px !important;
            padding: 0 !important;
        }
        > div > .ui.grid.centered{
            margin: -1rem 0 -1rem -0.7rem;
        }
        header .prihlaseni{
            flex-direction: column;
            top: 0;
        }
        .loga-paticka{
            .blok-menu-paticka{
                img{
                    height: 50px;
                    &.organizator{
                        height: 60px;
                    }
                }
            }
        }
    }
    .ui.vertical.menu li:not(.presented) > a.item::after{
        bottom: 10px !important;
    }
}

@media screen and (min-height: 431px) and (max-width: 530px){
    
}
@media only screen and (max-height: 630px) {
     
}
@media only screen and (max-height: 430px) and (min-width: 1600px) {
    
}
@media only screen and (max-height: 430px) and (max-width: 1599px) {
   
}
@media only screen and (max-height: 430px) and (max-width: 768px) {
    
}
