/*******************************
         Site Settings
*******************************/
/***********************************************************
  Central element variation compilation enablers
***********************************************************/
/* General */
/*******************************
           Elements
*******************************/
/* Button */
/* Container */
/* Divider */
/* Header */
/* Icon */
/* Image */
/* Input */
/* Label */
/* List */
/* Loader */
/* Placeholder */
/* Rail */
/* Reveal */
/* Segment */
/* Step */
/* Text */
/*******************************
           Collections
*******************************/
/* Breadcrumb */
/* Form */
/* Grid */
/* Menu */
/* Message */
/* Table */
/*******************************
             Views
*******************************/
/* Ad */
/* Card */
/* Comment */
/* Feed */
/* Item */
/* Statistic */
/*******************************
            Modules
*******************************/
/* Accordion */
/* Calendar */
/* Checkbox */
/* Dimmer */
/* Dropdown */
/* Embed */
/* Modal */
/* Popup */
/* Progress */
/* Rating */
/* Search */
/* Shape */
/* Sidebar */
/* Slider */
/* Tab */
/* Toast */
/* Transition */
/* Emojis */
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/* Whenever a color needs to get calculated (screen()/multiply()) out of a base color */
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Light Colored Text ---*/
/*--- Hovered Colored Text ---*/
/*--- Colored Border ---*/
/*--- Shadows ---*/
/* Inverted */
/* Box Shadows */
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*---  Tertiary  ---*/
/*---  Bright  ---*/
/*******************************
 States shared in Form-related components
 *******************************/
/* Form state*/
/* Input state */
/* AutoFill */
/* Dropdown state */
/* Focused state */
/* Placeholder state */
/*******************************
     User Global Variables
*******************************/
/*-------------------
       Links
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
  Segment
--------------*/
/* Header Spacing */
/*-------------------
        Grid
--------------------*/
/* Columns */
/*-------------------
     Breakpoints
--------------------*/
body {
  /*celá stránka v editačním režimu posunutá napravo*/
  /*poznámky a flash mají stejný styl, jen jinou pozici*/
  /***HEADER***/
  /*header posunutý od horního okraje pouze v edit. režimu kvůli data-tooltip u buttonů*/
  /***MENU***/
  /*pouzivane tridy u polozky menu (li):
        .leaf - posledni polozka menu
        .onpath - "na ceste"; pouziva se u kazde polozky, na kterou se klikne - potreba pro stylovani podmenu
        .presented - pouziva se vzdy u posledni polozky, na kterou se klikne
        .item je pouzita u (li) nebo (a) podle sady stylu semantic UI (semanticka trida)
        .cut - třída se přidá, pokud se klikne na tlačítko vybrat k přesunutí*/
  /*PRO VSECHNA MENU*/
  /*SVISLE MENU*/
  /*svislé menu má pevnou výšku, protože jsou v editačním režimu vidět i neaktivní stránky
    (a je jich tam hodně). Aby obsah nepřetékal, přidána svislá rolovací lišta*/
  /*PRESMEROVANI MENU*/
  /*VODOROVNE MENU*/
  /***PAPER***/
  /*HEADLINE*/
  /*SECTION*/
  /*CONTENTY*/
  /*SMAZANÝ CONTENT*/
}
body .ui.container.editable {
  position: relative;
  margin: 0 10px 0 auto !important;
  right: 0;
}
body .poznamky {
  position: absolute;
  left: -260px;
  right: auto;
  bottom: auto;
  width: 250px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #b5b7b9;
  transition: 0.7s linear;
  z-index: 1;
}
body .poznamky .label {
  margin: 0 !important;
}
body .poznamky .label i {
  width: 100% !important;
}
body .poznamky .content {
  padding: 10px;
}
body .poznamky .content p {
  margin-bottom: 0.7em;
}
body .poznamky .content p:last-child {
  margin-bottom: 0;
}
body .poznamky .content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
body .poznamky:not(.flash) {
  top: 170px;
}
body .poznamky.flash {
  top: 10px;
}
body .poznamky.flash .content {
  min-height: 110px;
}
body header {
  margin: 50px 0 35px 0 !important;
}
body .menu.edit .presented p {
  margin-bottom: 0;
  /*vybraná položka menu má editovatelný název - přizpůsobený kurzor myši*/
}
body .menu.edit .presented p span {
  cursor: text;
}
body .svisle-menu {
  margin: 0 0 0 -8px;
  overflow: hidden scroll;
  width: 107%;
  /*SVISLÉ MENU BLOKY*/
  /*SVISLÉ MENU KOŠ*/
}
body .svisle-menu .menu.edit {
  height: 650px;
}
body .svisle-menu .menu.edit .menu > li:not(.presented) {
  padding: 3px;
}
body .svisle-menu .menu.edit .menu > .presented p.item {
  padding: 10px 20px;
}
body .svisle-menu.bloky {
  height: 400px;
  margin: 20px auto 20px -8px;
  /*první položka menu bloky je pouze nadpis - vycentrovaná a podbarvená, bez semaforu, ale odkaz je tam pořád*/
}
body .svisle-menu.bloky li:first-child {
  text-align: center;
}
body .svisle-menu.bloky li:first-child > .item {
  background-color: #FBFBE7 !important;
}
body .svisle-menu.bloky li:first-child > .item > i {
  display: none;
}
body .svisle-menu.bloky li:first-child > .item .semafor {
  display: none;
}
body .svisle-menu.kos {
  /*první položka menu kos je pouze nadpis - vycentrovaná a podbarvená, ale odkaz je tam pořád*/
}
body .svisle-menu.kos li:first-child {
  text-align: center;
}
body .svisle-menu.kos li:first-child > .item {
  background-color: #F8F3FF !important;
}
body .presmerovani-menu .menu.edit .item {
  margin-right: 20px;
}
body .vodorovne-menu .menu.edit .item {
  padding-left: 5px;
  /*padding pro položku menu (semantická třída .button, aby položka vypadala jako tlačítko)*/
}
body .vodorovne-menu .menu.edit .item a.button,
body .vodorovne-menu .menu.edit .item p.button {
  padding: 9px 12px;
}
body .paper.editable {
  margin: 0 10px;
}
body .paper.editable:not(:first-of-type) {
  margin: 40px 0 0 0;
}
body headline {
  margin-left: -0.4em !important;
  margin-right: -0.4em !important;
}
body section {
  margin: 0 0 5px 0;
}
body content {
  /*nastavena min. výška, aby se nepřekrývaly semafory a priority u contentů*/
  min-height: 45px;
}
body section.trash {
  /*outline už na sekci; kdyby se dal ke contentu (.trash_content), byl by šedý kvůli filter: grayscale*/
  outline: 1px dotted #bc8dff;
  margin: 0 -5px 5px -5px;
}
body .trash_content {
  filter: grayscale(1);
  opacity: 0.5;
  padding: 5px;
}
/*# sourceMappingURL=edit-layout.css.map */