/*******************************
         Site Settings
*******************************/
/***********************************************************
  Central element variation compilation enablers
***********************************************************/
/* General */
/*******************************
           Elements
*******************************/
/* Button */
/* Container */
/* Divider */
/* Header */
/* Icon */
/* Image */
/* Input */
/* Label */
/* List */
/* Loader */
/* Placeholder */
/* Rail */
/* Reveal */
/* Segment */
/* Step */
/* Text */
/*******************************
           Collections
*******************************/
/* Breadcrumb */
/* Form */
/* Grid */
/* Menu */
/* Message */
/* Table */
/*******************************
             Views
*******************************/
/* Ad */
/* Card */
/* Comment */
/* Feed */
/* Item */
/* Statistic */
/*******************************
            Modules
*******************************/
/* Accordion */
/* Calendar */
/* Checkbox */
/* Dimmer */
/* Dropdown */
/* Embed */
/* Modal */
/* Popup */
/* Progress */
/* Rating */
/* Search */
/* Shape */
/* Sidebar */
/* Slider */
/* Tab */
/* Toast */
/* Transition */
/* Emojis */
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/* Whenever a color needs to get calculated (screen()/multiply()) out of a base color */
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Light Colored Text ---*/
/*--- Hovered Colored Text ---*/
/*--- Colored Border ---*/
/*--- Shadows ---*/
/* Inverted */
/* Box Shadows */
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*---  Tertiary  ---*/
/*---  Bright  ---*/
/*******************************
 States shared in Form-related components
 *******************************/
/* Form state*/
/* Input state */
/* AutoFill */
/* Dropdown state */
/* Focused state */
/* Placeholder state */
/*******************************
     User Global Variables
*******************************/
/*-------------------
       Links
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
  Segment
--------------*/
/* Header Spacing */
/*-------------------
        Grid
--------------------*/
/* Columns */
/*-------------------
     Breakpoints
--------------------*/
body.newlayout > .container > .column {
  background-color: #FFFFFF;
}
.newlayout {
  /*****************Styly pro menu - normalni i editacni rezim*******************/
  /***PRO VSECHNA MENU***/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /******************************Menu normalni rezim*****************************/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /*Styly stranky*/
}
.newlayout header .grid > .row:first-child {
  padding-bottom: 0;
  height: 160px;
}
.newlayout header .grid > .row:first-child > .column:first-child {
  padding-right: 0;
}
.newlayout header .grid > .row:first-child > .column {
  vertical-align: top !important;
}
.newlayout header .grid > .row:last-child {
  padding-top: 10px;
}
.newlayout header .grid > .row:last-child > .column:first-child {
  padding-right: 0;
}
.newlayout header .grid > .row:first-child > .column:last-child,
.newlayout header .grid > .row:last-child > .column:last-child {
  padding-left: 0;
}
.newlayout header {
  height: 300px;
  background-image: linear-gradient(to right, #e9eaea 40%, #fff 70%);
  margin-bottom: 10px;
  padding: 10px 20px 0;
}
.newlayout header img {
  max-width: 100%;
}
.newlayout header a {
  color: inherit;
}
.newlayout header a:hover {
  color: inherit;
}
.newlayout header a > img {
  width: 100px;
}
.newlayout header .presmerovani-menu ul.text.menu {
  justify-content: center;
}
.newlayout header ul.text.menu {
  margin: auto !important;
  padding: 0;
}
.newlayout header .hlavicka {
  position: absolute;
  height: 300px;
  top: 2px;
  right: -32%;
}
.newlayout header .kontakt-hlavicka {
  font-size: 0.8em;
  text-align: right;
  color: grey;
}
.newlayout header .kontakt-hlavicka img {
  margin: 0 5px;
}
.newlayout header .kontakt-hlavicka .kontaktni-udaje p {
  margin: 0;
}
.newlayout header .grid > .column:nth-child(2) p {
  font-size: 2em;
  color: #ad102f;
  text-align: center;
  top: 100%;
  right: 40%;
  position: relative;
}
.newlayout headline,
.newlayout content,
.newlayout block,
.newlayout div[class=""] {
  display: block;
  position: relative;
}
.newlayout .jazyky {
  clear: both;
  margin-right: 5px;
  float: right;
}
.newlayout .jazyky button {
  margin-right: 5px;
}
.newlayout .jazyky button img {
  vertical-align: middle;
  width: 30px;
  height: 17px;
}
.newlayout .jazyky .ui.basic.button {
  padding: 0;
  box-shadow: 0 0;
}
.newlayout .jazyky .ui.basic.button:hover {
  box-shadow: 0 0;
}
.newlayout .jazyky .jazyk-on {
  border: double #EB1B4C 3px;
  height: 20px;
  width: 33px;
}
.newlayout .jazyky .basic.button {
  margin-right: 0;
}
.newlayout .jazyky .page.button {
  vertical-align: bottom;
}
.newlayout .jazyky > form {
  display: inline-block;
}
.newlayout .ui.fluid.input > input {
  width: auto !important;
}
.newlayout .ui.fluid.input .button {
  background: white;
  box-shadow: 0;
  border: 1px solid #DCDDDE;
  border-width: 1px 1px 1px 0;
}
.newlayout .page.button {
  background: white;
  border: 1px solid #DCDDDE;
  height: 36px;
}
.newlayout .page.button:hover {
  background: #e9eaea;
}
.newlayout .ui.secondary.menu .item {
  margin: 0;
  padding: 0.75em 0.7em;
}
.newlayout .page-content > .grid > .column:not(.row):first-child {
  padding-right: 0;
}
.newlayout .page-content > .grid > .column:not(.row):nth-child(2) {
  padding-left: 1em;
  padding-right: 1em;
}
.newlayout .page-content > .grid > .column:not(.row):last-child {
  padding-left: 0;
}
.newlayout .ui.grid {
  clear: both;
}
.newlayout .ui.grid.contents {
  line-height: 1.3;
  font-size: 1em;
  margin: 5px;
  display: flex;
}
.newlayout main > div > .column:first-child .ui.segment:not(:first-child),
.newlayout main > div > .column:last-child .ui.segment:not(:first-child) {
  margin-top: 35px;
}
.newlayout footer {
  background-color: #e9eaea;
  margin: 10px -15px -15px;
}
.newlayout footer .grid > .column:first-child p {
  margin-left: 50px;
}
.newlayout footer p {
  margin: 5px 0;
  color: #ad102f;
}
.newlayout .vodorovne-menu .menu .onpath > ul,
.newlayout .presmerovani-menu .menu .onpath > ul {
  padding: 0;
}
.newlayout .menu a {
  z-index: 0;
}
.newlayout .ui.secondary.menu {
  margin-bottom: 30px;
}
.newlayout .close-item,
.newlayout .nav-mobile {
  font-size: 15.42857143px;
  margin: 5px 0;
}
.newlayout .close-item:hover,
.newlayout .nav-mobile:hover {
  cursor: pointer;
}
.newlayout .close-item > a > i.times.circle.icon,
.newlayout .nav-mobile > i.bars.icon {
  margin: 0;
}
.newlayout #mySidenav {
  display: none;
  height: 100%;
  width: 80%;
  background-color: #FFFFFF;
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  -webkit-animation: animateleft 0.4s;
  animation: animateleft 0.4s;
  padding: 20px;
}
.newlayout #myOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.newlayout .nav-mobile {
  background: #fff;
  z-index: 1;
}
.newlayout .nav-mobile {
  display: block;
  align-items: center;
  position: relative;
  padding: 5px;
  height: 36px;
  border: 1px solid #DCDDDE;
  border-radius: 5px;
  padding: 6px 10px 6px 5px;
}
.newlayout .nav-mobile:hover {
  background-color: #f2f2f2;
  transition: 0.3s all;
}
.newlayout .nav-mobile:not(.active) {
  display: none;
}
.newlayout .svisle-menu .menu {
  padding: 0;
  margin-top: 0;
}
.newlayout .svisle-menu .menu > li {
  list-style: none;
}
.newlayout .svisle-menu .menu > li:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu .menu > li:first-child {
  border-radius: 4px 4px 0 0;
}
.newlayout .svisle-menu .menu > li:last-child {
  border-radius: 0 0 4px 4px;
}
.newlayout .svisle-menu .menu li {
  position: relative;
}
.newlayout .svisle-menu .menu li:not(.leaf) > .item::after {
  content: "\f107";
  height: 1em;
  width: 1.18em;
  font-family: Icons;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0 .5em;
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 0, 0.87);
  top: 40%;
  transform: translateY(-50%);
}
.newlayout .svisle-menu .menu.onpath > .item::after {
  top: 15px;
  transform: none;
}
.newlayout .svisle-menu form > .menu {
  padding: 0;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.newlayout .svisle-menu form > .menu li {
  list-style-type: none;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-bottom: 0;
}
.newlayout .svisle-menu form > .menu li:not(:first-child) {
  border-top: 0;
}
.newlayout .svisle-menu form > .menu li:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu li:first-child.onpath {
  border-width: 2px 0 0 0;
}
.newlayout .svisle-menu form > .menu li .item {
  line-height: normal;
}
.newlayout .svisle-menu form > .menu li i:first-child {
  float: left;
}
.newlayout .svisle-menu form > .menu .onpath {
  border-width: 0 0 2px 0;
  background-color: #FFFFFF;
}
.newlayout .svisle-menu form > .menu .onpath.presented > .item {
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath:hover {
  background-color: #FFFFFF !important;
}
.newlayout .svisle-menu form > .menu .onpath > .item {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.0975) !important;
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05) !important;
  line-height: normal;
}
.newlayout .svisle-menu form > .menu .onpath .menu {
  border-top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath .menu li {
  list-style-type: inherit;
}
.newlayout .svisle-menu form > .menu .onpath .menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.newlayout .svisle-menu form > .menu .onpath .menu .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.0975);
}
.newlayout .svisle-menu form > .menu .onpath .menu .onpath > .menu > .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.142625);
}
.newlayout .vodorovne-menu a {
  padding: 2px 3px;
}
.newlayout .svisle-menu form > .menu:not(.edit) li .item {
  padding: 0.6em 0.6em !important;
}
.newlayout .svisle-menu form > .menu:not(.edit) .onpath .menu {
  margin-left: 20px;
}
.newlayout .vodorovne-menu .menu .onpath > a {
  color: #EB1B4C;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #EB1B4C inset;
}
.newlayout .vodorovne-menu .menu .onpath > a:hover {
  background-color: #FFFFFF !important;
  color: #DC143C;
}
.newlayout .page-content h1 {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 5px;
  font-size: 1.14285714rem;
  text-align: center;
  padding: 5px 0;
  margin-top: 0;
}
.newlayout .page-content .articleHeadline-editable > button.ui.button.save {
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 7px;
}
.newlayout .white.basic.segment {
  background-color: white;
}
.newlayout .dimmer .content {
  width: 17%;
}
.newlayout .dimmer .content .center p {
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
.newlayout .dimmer .content .center p::before {
  content: "\f007";
  position: absolute;
  left: 15px;
  z-index: 1;
  height: 1em;
  opacity: 1;
  font-family: icons;
}
.newlayout .dimmer .content .center form > .field > button.button {
  color: inherit;
}
.newlayout .dimmer .content .center form > .field > button.button > i.large::before {
  top: -9px;
}
.newlayout .grafia.segment.headlined content p {
  margin: 5px 0;
}
.newlayout .ui.segment .settings.icon {
  position: absolute;
  font-size: 1.5em;
  color: #ad102f;
  top: 5px;
  left: 10px;
}
.newlayout .segment headline.header {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 4px 4px 0 0;
  text-align: center;
  margin: 0 -12px;
  margin-top: -12px !important;
  padding: 5px 0;
}
.newlayout .segment headline.header p {
  font-size: 1.14285714rem;
  margin-bottom: 0;
}
.newlayout #contents .segment headline.header {
  margin-top: 0 !important;
}
.newlayout .segment img {
  max-width: 100%;
  height: auto;
}
.newlayout .ui.segment,
.newlayout block {
  clear: both;
}
.newlayout .primary.button > a {
  color: inherit;
}
.newlayout .primary.button:hover {
  background-color: #c4002e !important;
}
.newlayout .kontakt-hlavicka {
  display: flex;
  flex-direction: row-reverse;
}
/*# sourceMappingURL=layout.css.map */