/*******************************
         Site Settings
*******************************/
/***********************************************************
  Central element variation compilation enablers
***********************************************************/
/* General */
/*******************************
           Elements
*******************************/
/* Button */
/* Container */
/* Divider */
/* Header */
/* Icon */
/* Image */
/* Input */
/* Label */
/* List */
/* Loader */
/* Placeholder */
/* Rail */
/* Reveal */
/* Segment */
/* Step */
/* Text */
/*******************************
           Collections
*******************************/
/* Breadcrumb */
/* Form */
/* Grid */
/* Menu */
/* Message */
/* Table */
/*******************************
             Views
*******************************/
/* Ad */
/* Card */
/* Comment */
/* Feed */
/* Item */
/* Statistic */
/*******************************
            Modules
*******************************/
/* Accordion */
/* Calendar */
/* Checkbox */
/* Dimmer */
/* Dropdown */
/* Embed */
/* Modal */
/* Popup */
/* Progress */
/* Rating */
/* Search */
/* Shape */
/* Sidebar */
/* Slider */
/* Tab */
/* Toast */
/* Transition */
/* Emojis */
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/* Whenever a color needs to get calculated (screen()/multiply()) out of a base color */
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Light Colored Text ---*/
/*--- Hovered Colored Text ---*/
/*--- Colored Border ---*/
/*--- Shadows ---*/
/* Inverted */
/* Box Shadows */
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*---  Tertiary  ---*/
/*---  Bright  ---*/
/*******************************
 States shared in Form-related components
 *******************************/
/* Form state*/
/* Input state */
/* AutoFill */
/* Dropdown state */
/* Focused state */
/* Placeholder state */
/*******************************
     User Global Variables
*******************************/
/*-------------------
       Links
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
  Segment
--------------*/
/* Header Spacing */
/*-------------------
        Grid
--------------------*/
/* Columns */
/*-------------------
     Breakpoints
--------------------*/
.newlayout {
  /************************************media*************************************/
}
@media (max-width: 1750px) {
  .newlayout .poznamky {
    left: 10px;
  }
  .newlayout .poznamky .label::before {
    display: none;
  }
  .newlayout .poznamky .content {
    display: none;
  }
  .newlayout .poznamky:hover .label::before {
    display: block;
  }
  .newlayout .poznamky:hover .content {
    display: block;
  }
}
@media (max-width: 1300px) {
  .newlayout {
    /*menu*/
    /*svisle menu*/
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: 150px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 3px;
  }
  .newlayout .dimmer .content {
    width: 25%;
  }
  .newlayout .poznamky {
    left: 10px;
  }
}
@media (max-width: 1099px) {
  .newlayout {
    /*menu*/
    /*vodorovne menu*/
    /*svisle menu*/
  }
  .newlayout .vodorovne-menu ul.menu.edit {
    width: 620px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:first-of-type {
    left: auto;
    right: 15px;
  }
  .newlayout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 15px;
  }
  .newlayout .page-content > .grid > .column:not(.row):nth-child(2) {
    padding-left: 2em;
    padding-right: 1.5em;
  }
  .newlayout .page-content .svisle-menu form > ul.menu.edit {
    width: 100%;
  }
  .newlayout .dimmer .content {
    width: 35%;
  }
  .newlayout .ui.container {
    width: 100% !important;
  }
  .newlayout header .kontakt-hlavicka {
    margin-top: 10px;
  }
  .newlayout header .kontakt-hlavicka img {
    width: 55px;
    height: 65px !important;
    margin: 5px 0 10px 5px;
  }
  .newlayout header .row:first-child .column:first-child img {
    width: 130px;
  }
  .newlayout header .row:first-child .column:nth-child(2) presmerovani-menu ul.menu li.presented div.buttons {
    z-index: 20;
  }
  .newlayout header .row:first-child .column:nth-child(2) img {
    z-index: 0 !important;
    position: static;
  }
  .newlayout header .row:first-child .column:nth-child(2) ul.text.menu {
    width: 45%;
    transform: translateY(-30%);
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: 140px;
  }
  .newlayout .page-content .grid .one.column .ui.segment {
    display: none !important;
  }
  .newlayout .page-content .column .segment:not(.ui):not(.grafia) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px auto;
    width: 70%;
    height: auto;
  }
  .newlayout .page-content .column > form > button.ui.button.save {
    right: 15px;
  }
  .newlayout .poznamky {
    left: 25px;
    top: 240px;
  }
  .newlayout .poznamky .label {
    width: 55px !important;
  }
  .newlayout .poznamky:hover .label {
    width: 100% !important;
  }
}
@media (max-width: 920px) {
  .newlayout {
    /*menu*/
    /*vodorovne menu*/
  }
  .newlayout .vodorovne-menu ul.menu.edit {
    width: 530px;
  }
  .newlayout header .grid > .row:first-child {
    height: 125px;
  }
  .newlayout header .row:first-child .column:first-child img {
    width: 110px;
  }
  .newlayout header .row:last-child .column:nth-child(2) {
    left: -7px;
  }
  .newlayout header .kontakt-hlavicka {
    margin-right: -4px;
  }
  .newlayout .jazyky {
    margin-top: 0;
    margin-bottom: -10px;
    margin-right: -4px;
  }
  .newlayout .fluid.input {
    float: right;
    width: 120px;
  }
  .newlayout .page-content .column .segment:not(.ui):not(.grafia) {
    width: 50%;
    z-index: 5;
    float: right;
  }
  .newlayout .poznamky {
    left: 20px;
    top: 225px;
  }
}
@media (max-width: 768px) {
  .newlayout {
    /*menu s butony*/
    /*vodorovne menu*/
  }
  .newlayout header .grid > .row:first-child {
    /*editační*/
    height: auto;
  }
  .newlayout .vodorovne-menu ul.menu.edit li i.line:first-of-type {
    left: -8px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li i.line:nth-of-type(2) {
    left: -4px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented i.line {
    height: 30px;
    top: 1px;
    transform: translateY(-15%);
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons {
    background-color: #FFFFFF;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type {
    position: absolute;
    top: -28px;
    right: 0;
    left: auto;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type > .button {
    width: auto;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) {
    position: absolute;
    top: -25px;
    bottom: auto;
    right: 5px;
  }
  .newlayout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) > .button {
    width: auto;
  }
  .newlayout .vodorovne-menu ui.menu:not(.floated):not(.left) {
    flex-direction: column;
    align-items: center;
  }
  @keyframes prechodPozadi {
    0% {
      background-color: #EB1B4C;
    }
    100% {
      background-color: #FFFFFF;
    }
  }
  .newlayout .dimmer .content {
    width: 80%;
  }
  .newlayout header .row:first-child .column:first-child {
    position: absolute;
    text-align: left !important;
    left: 10px;
  }
  .newlayout header .row:first-child .column:first-child .ui.buttons {
    top: -48px;
    left: 55px;
    right: auto;
  }
  .newlayout header .row:first-child .column:nth-child(2) img {
    top: 10px;
    left: auto;
  }
  .newlayout header .row:first-child ul.text.menu {
    width: 50%;
    transform: translateY(0);
  }
  .newlayout header .row:first-child .kontakt-hlavicka {
    font-size: 0.75em;
    margin-top: 10px;
  }
  .newlayout header .row:first-child .kontakt-hlavicka img {
    width: 65px;
    height: auto !important;
    margin: 2px 0 10px 5px;
  }
  .newlayout header .ui.grid .row:last-child .column:nth-child(2) {
    padding-bottom: 0 !important;
  }
  .newlayout header .row:last-child .column:first-child {
    margin-left: 5px !important;
    height: auto;
  }
  .newlayout header .row:last-child .column:nth-child(2) {
    left: 0;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu {
    display: block;
    column-count: 2;
    width: 85%;
    float: right;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item {
    margin: 10px auto;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item:first-child {
    margin-top: 0;
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu .item > .button {
    width: 101%;
    margin-left: -5px;
  }
  .newlayout header .row:last-child .column:last-child .fluid.input {
    width: 85%;
    font-size: 1em;
  }
  .newlayout .page-content .column > form > button.ui.button.save {
    right: 10px;
  }
  .newlayout footer .grid > .column {
    text-align: center;
  }
  .newlayout footer .grid > .column:first-child p {
    margin-left: auto;
  }
  .newlayout .poznamky {
    left: 35px;
    top: 430px;
  }
}
@media (max-width: 500px) {
  .newlayout header .row:first-child .column:first-child {
    /*position:relative;
                text-align: center !important;
                img{
                    margin: auto;
                    width: 40%;
                }*/
  }
  .newlayout header .row:last-child .column:nth-child(2) .text.menu {
    width: 100%;
    column-count: 1;
  }
  .newlayout header .row:last-child .column:last-child .fluid.input {
    width: 100%;
  }
  .newlayout .poznamky {
    left: 35px;
    top: 100px;
  }
  .newlayout .page-content .ui.segment {
    padding: 0;
  }
}
@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}
/*# sourceMappingURL=media.css.map */