
<div class="paper">
    <headline>
         
<p class="primarni-barva nadpis"> 
    Pro média</p>    </headline>
    <perex>
        
<p class="text">
     Tiskovou zprávu k&nbsp;osvětové akci Týden zdraví - Zdravá rodina můžete uveřejnit v&nbsp;tisku nebo na webových stránkách. Akce se koná on-line a&nbsp;je pro návštěvníky zdarma.</p>    </perex>
    <content>
        
<div class="pro-media">
    <div class="ui grid">
        <div class="sixteen wide column">
            <p class="text">
                Tisková zpráva č. 1            </p>
            <p class="sekundarni-barva nadpis"> Duševně i&nbsp;fyzicky vás podpoří akce Týden zdraví - zdravá rodina</p>
            <p class="text">
<em>Už za týden se spustí <b>akce Týden zdraví - zdravá rodina</b>, která se zaměřuje na to nejdůležitější, co můžeme sami v&nbsp;boji proti chorobám dělat: podporu imunity, prevenci a&nbsp;zdravý životní styl.
V&nbsp;průběhu listopadového týdne <b>od soboty 21. do pátku 27.&nbsp;11.&nbsp;2020</b> můžete poprvé shlédnout přednášky a&nbsp;rozhovory s&nbsp;odborníky a&nbsp;inspirovat se produkty a&nbsp;službami na podporu a&nbsp;posílení vlastního zdraví.
</em>
</p>
<p class="text">
"Myšlenka akce vznikla už v&nbsp;době první covidové vlny, druhá vlna pak "zajistila" převedení do online prostoru," říká Jana Brabcová z&nbsp;pořádající společnosti Grafia. Díky tomu tak mohou zájemci shlédnout přednášky z&nbsp;pohodlí domova a&nbsp;položit přednášejícím své dotazy - buď předem nebo v&nbsp;průběhu přednášky. Vystoupení odborníků pak budou uchována pro další shlédnutí na youtube kanálu.
"Chceme, aby lidé přestali sledovat čísla nakažených a&nbsp;mrtvých a&nbsp;zaměřili se na praktické kroky, které mohou dělat sami. V&nbsp;době covidu zůstala řada lidí uvězněna doma, ať už kvůli karanténě, vlastní bezpečnosti, hlídání a&nbsp;vyučování dětí nebo na home office. Druhá covidová vlna přinesla problémy v&nbsp;rodinách, izolaci seniorů, strach, frustraci, domácí násilí, podepisuje se na duševním i&nbsp;fyzickém zdraví, aniž by člověk covidem onemocněl. Lidé ze strachu odsouvají preventivní i&nbsp;nutná vyšetření a&nbsp;mají řadu nezodpovězených otázek," popisuje Brabcová. I&nbsp;to byly důvody, které vedly k&nbsp;oslovení specialistů z&nbsp;různých oborů.
Mezi vystupujícími budou <b>lékaři, sportovci, otužilci, sexuolog, lektorka jógy smíchu, lékárnice, optik, propagátorka regionálních potravin, krizový intervent či koordinátorka dobrovolníků</b>. Laickému publiku se budou věnovat také špičkoví odborníci z&nbsp;FN Plzeň - Prof. MUDr. Miloš Pešek, CSc., přednosta plicní kliniky, a&nbsp;prof. MUDr. Ondřej Topolčan, CSc., jehož tým zkoumá souvislost mezi vitamínem D a&nbsp;covidem 19.
</p>
<p class="text">
Celý program najdou návštěvníci na webu <b>www.tydenZDRAVI.eu</b>. Každý den v&nbsp;podvečer si mohou návštěvníci <b>zdarma</b> pustit 1-2 online vystoupení odborníků. "Pokud se nehodí termín, ale chcete přednášku vidět, bude dostupná i&nbsp;ze záznamu," doporučují organizátoři. Výhodou sledování online přenosu je možnost položit rovnou v&nbsp;chatu otázky.
</p>
<p class="text">
<b>A jak si zajistit vstup na online přednášku?</b> Na webu u&nbsp;přednášek návštěvníci najdou odkaz pro přihlášení a&nbsp;položení případných dotazů předem. Na uvedený email pak organizátoři zašlou link pro sledování přednášky. "Již teď se nám ozývají zájemci z&nbsp;řad seniorů s&nbsp;prosbou o&nbsp;rady, jak na to, protože sami nemají zkušenost s&nbsp;online aplikacemi. Prosíme proto mladší generaci, aby jim s&nbsp;registrací a&nbsp;sledováním pomohla," říká Brabcová.
</p>
<p class="text">
Akci pro své seniory doporučí i&nbsp;Mezigenerační a&nbsp;dobrovolnické centrum TOTEM. Jeho ředitelka Vlasta Faiferlíková sama vystoupí na téma rodinných vztahů a&nbsp;podpory seniorů.
</p>
<p class="text">
<b>Na webu zájemci najdou také zdravé produkty či dárkové kupóny a&nbsp;odkazy na různé pomáhající instituce.</b> <br/>
Akce se koná za podpory plzeňských obvodů ÚMO1 a&nbsp;ÚMO3.
</p>
        </div>
    </div>
</div>
    </content>
</div>
