
<perex>
    
        <div class="obr-upoutavka">
            <div class="ui two column stackable centered grid">
                <div class="sixteen wide column">
                    <p class="nadpis">Klíč k&nbsp;příležitostem<sup class="text maly">&reg;</sup></p>
                </div>
                <div class="six wide column">
                    <img class="sirsi-obr" src="images/pan_s_tabletem.jpg" width="" height="" alt="Obrázek"/>
                    <div class="primarni-barva podklad nadpis presah">
                        <p>17—19/3/2021</p>
                    </div>
                </div>
                <div class="ten wide column">
                    <img src="images/mama.jpg" width="" height="" alt="Obrázek"/>
                    <img src="images/delnik_jupi.jpg" width="" height="" alt="Obrázek"/>
                    <div class="pruhledna-barva podklad blok text velky">
                        <p>Najděte si lepší práci <span class="primarni-barva text velky tucne">odkudkoli!</span></p>
                    </div>
                </div>
            </div>
        </div></perex>
<content>
    
<div class="blok-nadpis-obr-text program">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <div class="primarni-barva nadpis nastred">
                <p>Program</p>
            </div>
            <img src="images/pexels-polina-web.jpg" width="1178" height="457" alt="Obrázek"/>
        </div>
        <div class="eight wide column"><a href="www/item/static/prednasky" class="ui secondary fluid massive button">Zobrazit přednášky</a></div>
        <div class="eight wide column"><a href="www/item/static/body-pro-zdravi" class="ui secondary fluid massive button">Zobrazit místa</a></div>
        <div class="sixteen wide column">
            <div class="velky text vlevo okraje">
                <p>
                    V průběhu sedmi dnů vám nabídneme ZDARMA <b>online přednášky a&nbsp;rozhovory s&nbsp;odborníky</b> z&nbsp;různých oborů a&nbsp;také „body pro zdraví“, kde najdete <b>produkty či služby</b> na podporu zdravého životního stylu.                </p>
            </div>
        </div>
    </div>
</div></content>
<content>
    
<div class="blok-nadpis-obr-text">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <div class="primarni-barva podklad nadpis vlevo">
                <p>O akci</p>
            </div>
            <img src="images/pexels-photo-web-orez.jpg" width="1178" height="502" alt="Obrázek"/>
            <div class="velky text vpravo okraje">
                <p>
                    V poslední době pod vlivem Covidu-19 lidé zanedbávali preventivní návštěvy lékařů, odsouvali i&nbsp;nutná ošetření a&nbsp;kontroly. Vlivem médií došlo u&nbsp;řady lidí k&nbsp;úzkostným a&nbsp;iracionálním reakcím, vedoucím až ke škodám na zdraví.                </p>
            </div>
        </div>
    </div>
</div>
</content>
<content>
    
<div class="sekundarni-barva blokEL-obr-text">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <img src="images/pexels-andrea-piacquadio-web-orez.jpg" width="1178" height="393" alt="Obrázek"/>
            <div class="velky text vlevo okraje">
                <p>
                    Ve spolupráci s&nbsp;<b>odborníky</b> proto společnost <b>Grafia</b> pořádá akci, jejímž cílem je <b>zvýšit povědomí veřejnosti o&nbsp;zdravém životním stylu, podpoře vlastní imunity a&nbsp;rozumném přístupu k&nbsp;vlastnímu zdraví.</b>                </p>
            </div>
        </div>
    </div>
</div></content>
<content>
    
<div class="blok-nadpis-loga">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <div class="primarni-barva podklad nadpis vlevo">
                <p>Partneři</p>
            </div>
            <div class="velky text vlevo okraje">
                <p>Děkujeme za podporu partnerům:</p>
            </div>
        </div>
        
        <div class="stretched row equal width">
                        <div class="column middle aligned">
                <a class="link-img" href="https://umo1.plzen.eu/" target="_blank"><img src="images/logo_umo1_web.jpg" alt="Logo UMO1 Plzeň" width="348" height="84"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img" href="https://umo3.plzen.eu/" target="_blank"><img src="images/logo_umo3_web.jpg" alt="Logo UMO3 Plzeň" width="200" height="200"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img" href="https://www.fnplzen.cz/" target="_blank"><img src="images/logo_FN_web.jpg" alt="Logo FN Plzeň" width="224" height="120"/></a>
            </div>

        </div>



        <div class="stretched row equal width">
                        <div class="column middle aligned">
                <a class="link-img" href="https://plzensky.denik.cz/" target="_blank"><img src="images/logo-plzenskydenik.jpg" alt="Logo Deník" width="276" height="85"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img" href="https://czv.zcu.cz/" target="_blank"><img src="images/logo-univerzita.jpg" alt="Logo CZV ZČU" width="348" height="129"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img" href="https://plzen.rozhlas.cz/" target="_blank"><img src="images/logo-CRo.jpg" alt="Logo Rozhlas" width="227" height="110"/></a>
            </div>

        </div>

    </div>
</div>
</content>
<content>
    
<div class="dva-sloupce-nadpis">
    <div class="ui two column stackable centered mobile reversed grid">
        <div class="six wide column middle aligned">
            <a class="link-img" href="http://www.grafia.cz" target="_blank"><img src="images/logo_grafia.jpg" width="300" height="207" alt="Logo Grafia, s.r.o."/></a>
        </div>
        <div class="ten wide column">
            <div class="primarni-barva podklad nadpis vpravo">
                <p>Organizátor</p>
            </div>
            <div class="velky text okraje">
                <p class="">
Autorem myšlenky Veletrhu práce a&nbsp;vzdělávání - Klíč k&nbsp;příležitostem a&nbsp;organizátorem akce je <br/><b>Grafia, s.r.o.</b>
</p>
<p class="">
Umíme efektivně komunikovat akce našich zákazníků i&nbsp;ty vlastní, vzděláváme a&nbsp;zkoušíme dospělé, organizujeme eventy na klíč, vydáváme knihy... <br/> Děláme to už od roku 1993 – rádi a&nbsp;dobře!
</p>
 
            </div>

        </div>
    </div>
</div></content>
