@marginDefault: 70px;
main{
/*    :not(.paper) perex, :not(.paper) content{
        margin: @marginDefault 0;
    }*/
    .paper perex {
         margin: 50px 0;
    }
    section > content{
        margin: 150px 0;
    }
    .ui.segment content{
        margin: 0 0;
    }
}
main headline{
   // margin: 70px 0 -20px
}
.sekundarni-barva{
    &.podklad{
        color: @invertedTextColor;
        background-color: @secondaryColor;
        padding: 30px;
    }
    &:not(.podklad).text, &:not(.podklad).nadpis{
        color: @secondaryColor;
    }
}
.primarni-barva{
    &.podklad{
        color: @invertedTextColor;
        background-color: @primaryColor;
        padding: 30px;
    }
    &:not(.podklad).text{
        color: @primaryColor;
        &.tucne{
            font-weight: @bold;
        }
    }
    &:not(.podklad).nadpis{
        color: @textColor;
    }
}
.pruhledna-barva.podklad{
    color: @textColor;
    background-color: #FFFFFF96;
    padding: 30px;
}
.nadpis{
    font-size: @h2;
    font-weight: 300;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
/*    &.vlevo{
        width: 42%;
        position: absolute;
        position: absolute;
        transform: translateX(-20%) translateY(-45px);
        &.primarni-barva{
            text-align: right;
        }
    }
    &.vpravo{
        width: 100%;
        position: relative;
    }*/
    &.nastred{
        text-align: center;
        margin-bottom: 100px;
    }
    &.podtrzeny::after{
        content: "";
        width: 40%;
        height: 2px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: @primaryColor;
    }
    p{
        line-height: 1.15;
    }
}
.podnadpis{
    font-size: @h4;
    line-height: 1;
}
.text{
    font-size: @fontSize;
    color: @textColor;
    &:not(.okraje):not(.okraje-vertical):not(.okraje-horizontal):not(.zadne-okraje){
        padding: 10px 0;
    }
    &.okraje{
        padding: 30px 40px;
    }
    &.okraje-vertical{ 
        padding: 30px 0px;
    }
    &.okraje-horizontal{
        padding: 0 30px;
        margin-bottom: 0.15em !important;
    }
    &.zadne-okraje{
        padding: 5px 0;
        margin: 0;
    }
    &.velky{
        font-size: @bigFontSize; 
    }
    &.maly{
        font-size: @smallFontSize;
    }
    &.vpravo{
        text-align: right;
        float: right;
        position: relative;
    }
    &.vlevo{
        text-align: left;
        left: 0;
        position: relative;
    }
    &.tucne{
        font-weight: @bold;
        line-height: 1.7;
    }
}
.row.padding-vertical{
    padding: 2em 0 !important;
}
.column.padding-vertical{
    padding: 2em 1rem !important;
}
.paper{
    headline{
        
    }
    perex{
        
    }
}
.nadpis.uvod{
    font-weight: 300;
    font-size: @h4;
    margin-top: -40px; 
    text-transform: none;
}
.obr-upoutavka{
    margin-top: -30px;
    .nadpis.primarni-barva.presah{
        width: 130%; 
        text-align: right;
        position: absolute;
        bottom: 15px;
        font-weight: 500;
    }
    .blok.podnadpis{
        width: 45%;
        text-align: left;
        padding: 20px 40px !important;
        position: absolute;
        transform: translateY(50%);
        top: 50%;
        right: 25px;
        font-size: @bigFontSize + 2;
    }
    img{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        &.sirsi-obr{
            width: 103%;
        }
    }
}

.blok-obr-text{
    img{
        width: 100%;
        height: auto;
    }
}
.blok-nadpis-obr-text{
    &.program{
        .text{
            padding-top: 10px;
        }
    }
    img{
        width: 100%;
        height: auto;
    }
}
.blok-sedy-nadpis-obr-text{
    .blok-sedy-nahore{
        position: relative;
        height: 470px;
        width: 176%;
        padding-right: 60%;
        background-color: darken(@greyBackground,5) ;
        margin-top: -35px;
        padding-left: 60px;
        p{
            text-align: left;
            position: relative;
            top: 25%;
        }
    }
    .blokEL-dolni-img{
        width: 670px;
        position: relative;
        float: right;
        margin-right: 30px;
        margin-top: 0;
        &::before{
            content: '';
            width: 30px; 
            height: 300px; 
            position: absolute;
            bottom: -20px;
            right: -30px;
            background-color: @primaryColor;
        }
        &::after{
            content: '';
            width: 60%;
            height: 30px;
            position: absolute;
            bottom: -20px;
            right: -5px;
            background-color: @primaryColor;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}
.blok-sedy-obr-text{
    .blok-sedy-dole{
        position: relative;
        height: 470px;
        width: 177%;
        padding-left: 70%;
        background-color: darken(@greyBackground,5) ;
        margin-top: 35px;
        left: -80%;
        p{
            text-align: right;
            position: relative;
            top: 20%;
            width: 80%;
        }
    }
    .blokEL-horni-img{
        width: 670px; 
        position: relative;
        float: left;
        margin-left: 30px;
        margin-top: -30px;
        z-index:1;
        &::before{
            content: '';
            width: 30px;
            height: 300px;
            position: absolute;
            top: -30px;
            left: -30px;
            background-color: @primaryColor;
        }
        &::after{
            content: '';
            width: 60%;
            height: 30px;
            position: absolute;
            top: -30px;
            left: -5px;
            background-color: @primaryColor;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}


.blok-nadpis-loga{
    .text{
        margin-top: @marginDefault + 20px;
    }
    .stretched.row:first-child{
        padding-left: 40px;
        padding-right: 40px;
        .column:first-child img{
            max-width: 100%;
            height: auto;
        }
        .column:nth-child(2) img{
            height: 200px;
            width: auto;
        }
        .column:last-child img{
            height: 120px;
            width: auto;
        }
    }
    .logo-partnera img{
        filter: grayscale();
        &:hover{
            filter: none;
            transition: 0.3s all;
        }
    }
    .partneri-pozadi{
        padding: 80px 15%;
        margin: 80px -15% 0 -19%;
        background-color: @greyBackground ;
    }
}
content .online-stanky{
    margin: -70px -50px 0 -50px;
}
.online-stanky{
    padding: 70px 50px;
    margin: 0 -50px 0 -50px;
    background-image: url('@{imgForSite}pozadi-hala.png');
    background-size: contain;
    .logo-vystavovatele img{
        max-height: 100px;
        max-width: 260px; 
    }
}
.letak-stanku{
    img{
        width: 280px;
        object-fit: cover;
        object-position: top;
    }
}
.letak-v-igelitce{
    height: 300px;
}
.prednasejici{
    margin-bottom: 70px;
}
.blokEL-obr-text{
    position: relative;
    margin-bottom: @marginDefault * 3.3;
    &.sekundarni-barva::before,&.sekundarni-barva::after{
        background-color: @secondaryColor;
    }
    &.primarni-barva::before,&.primarni-barva::after{
        background-color: @primaryColor;
    }
    &::before{
        content: '';
        width: 97px;
        height: 100%;
        position: absolute;
        top: 40px;
        left: -97px;
    }
    &::after{
        content: '';
        width: 60%;
        height: 97px;
        position: absolute;
        bottom: -97px;
        left: -97px;
    }
    img{
        width: 100%;
        height: auto;
    }
}
.nadpis-obrazkove-sloupce{
    .pozadi-img{
        height: 480px;
        height: 300px;
        background-position: top;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        .text{
            position: absolute;
            bottom: 0;
        }
    }
    .pozadi-stanek{ 
        background-image: url('@{imgForSite}stanek.png');
        &:hover{
            background-image: url('@{imgForSite}stanek_2.png');
        }
    }
    .pozadi-prednasky{
        background-image: url('@{imgForSite}pocitac.png');
        &:hover{
            background-image: url('@{imgForSite}pocitac_2.png');
        }
    }
    .pozadi-letak{
        background-image: url('@{imgForSite}letak.png');
        &:hover{
            background-image: url('@{imgForSite}letak_2.png');
        }
    }
}
/********stanek***********/
.jmeno-stanku{
    position: absolute;
    width: auto !important;
    left: 60px;
    top: 50px; 
}
.video-na-stanku{
    position: relative; 
    top: 70px; 
    text-align: right;
    margin-right: 80px;
}
.pozadi-na-stanku{
/*    background-image: url('@{imgForSite}stanek-pozadi.png');
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: left center;*/
}
.pani-na-stanku{
    //margin-top: 50px;
    content{
        margin: 10px auto;
    }
}
.soc-site-stanku{
    margin-bottom: 15px;
    text-align: right;
    content{
        display: inline-block;
        margin: 10px auto;
    }
}
.buttony-mimo-stanek{
    .basic.button{
        font-weight: 500;
    }
    content{ 
        margin: 10px auto;
    }
}
.buttony-na-stanku{
    .basic.button{
        font-weight: 500;
    }
    .button:first-child{
        position: absolute; 
        top: -370px;  
        left: 8%;
    }
}
.prednaska-stanku{
    .img-prednasejici{
        height: 110px !important;
        border-radius: 100%; 
    }
}
.vypis-prac-pozic{
    .podnadpis{
        font-size: 2rem; 
    }
    font-size: 1.6rem;
    .podnadpis .tag{
        vertical-align: middle;
    }
    .podnadpis .pointing{
        //display: block;;
    }
}


.timeline{
    margin-top:20px;
    position:relative;
}
.timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: rgb(138,145,150);
    left:14px;
    top:5px;
    border-radius:4px;
}
.timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
}
.timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background: #CB0A1F;
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #17191B;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
}
.timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
    border-radius:100%;
}
.timeline-section .col-sm-4{
    margin-bottom:15px;
}
.timeline-box{
    position:relative;
    background-color: @white;
    border-radius:15px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
}
.box-icon{
    position:absolute;
    right:5px;
    top:0px;
}
.box-title{
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
}
.box-title i{
    margin-right:5px;
}
.box-content{
    padding:5px 15px;
    background-color: @white;
}
.box-content strong{
    color:#666;
    font-style:italic;
    margin-right:5px;
}
.box-item{
    margin-bottom:5px;
}
.box-footer{
    padding:5px 15px;
    border-top: 1px solid #17191B;
    background-color: @white;
    text-align:right;
    font-style:italic;
}


.casova-osa p{
    margin: 110px 10px;
    &:first-child{
        margin-top: 0;
    }
}
.aktivity{
    .ui.raised.segment{
        width: 30%;
        float: left;
        margin: 10px;
    }
}

