@media screen and (max-width: 1910px){
    .obr-upoutavka{
        .column:nth-of-type(2){
            img{
                height: 473px;
            }
        }
    }
}
@media screen and (max-width: 1750px){
    .layoutTZ #mySidenav{
        width: 35%;
    }
    .obr-upoutavka{
        .column:nth-of-type(2){
            img{
                height: 440px;
                position: relative;
                top: 32px;
            }
        }
    }
    .body-zdravi{
        .logo-siroke{
            width: 300px;
            height: auto;
        }
        
    }
    
}
@media screen and (max-width: 1600px){
    .layoutTZ #mySidenav{
        width: 40%;
    }
    .layoutTZ .fix-bar{
        width: 8.5%;
    }
    .layoutTZ footer{
        left: 8%;
    }
    
}
@media screen and (max-width: 1340px){
    .layoutTZ #mySidenav{
        width: 45%;
    }
    .obr-upoutavka{
        .column:nth-of-type(2){
            img{
                height: 412px;
                position: relative;
                top: 61px;
            }
        }
        .nadpis.primarni-barva.vpravo{
            width: 150%;
            transform: translateX(-33.4%) translateY(-60px);
        }
        .blok.text{
            transform: translateY(-13.3%);
            height: 412px;
        }
    }
    .nadpis{
        font-size: 3.5rem;
    }
    .podnadpis{
        font-size: 3rem;
    }
    .text{
    font-size: @fontSize;
        &.velky{
            font-size: 30px;
        }
    }
    .blok-nadpis-loga{
        .text{
            margin-top: 70px;
        }
    }
    .blok-nadpis-loga{
        .stretched.row:nth-child(2){
            .column:first-child img{
                max-width: 100%;
            }
            .column:nth-child(2) img{
                height: 150px;
                width: auto;
            }
            .column:last-child img{
                height: 100px;
                width: auto;
            }
        }
        .stretched.row:nth-child(3){
            .column:first-child img{
               // max-width: 220px;
                height: auto;
            }
            .column:nth-child(2) img{
               // height: 100px;
                width: auto;
            }
            .column:last-child img{
               // height: 60px;
                width: auto;
            }
        }
    }
    .body-zdravi{
        .logo-siroke{
            width: 250px;
            height: auto;
        }
        .logo-ctverec{
            width: 185px;
            height: auto;
        }
        .logo-vysoke{
            width: 100px;
            height: auto;
        }
    }
    
}
@media screen and (max-width: 1200px){
    .layoutTZ #mySidenav{
        width: 50%;
    }
    .nadpis{
        font-size: 3rem;
    }
    .podnadpis{
        font-size: 2.3rem;
    }
    .text{
        font-size: 24px;
        &.velky{
            font-size: 30px;
        }
    }
    body{
        font-size: 24px;
    }
    .obr-upoutavka{
        .column:nth-of-type(2){
            img{
                height: 340px;
                position: relative;
                top: 60px;
            }
        }
        .blok.text{
            transform: translateY(-13.7%);
            height: 340px;
        }
    }
    .layoutTZ .fix-bar{
        width: 10%;
    }
    .layoutTZ footer{
        //width: 90.8%;
    }
    .blok-nadpis-loga{
        .stretched.row:nth-child(2){
            .column:first-child img{
                max-width: 110%;
                height: auto;
            }
            .column:nth-child(2) img{
                height: 130px;
                width: auto;
            }
            .column:last-child img{
                height: 85px;
                width: auto;
            }
        }
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px){ 
    .layoutTZ .fix-bar{
        width: 13%;
        .prihlaseni{
            .icon.button:not(.labeled){
                > .user.icon{
                    font-size: 1.2em;
                }
            }
        }
    }
    .layoutTZ > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    .nadpis{
        font-size: 2.3rem;
        margin-bottom: 2px;
        &.vlevo{
            width: 100%;
            position: relative;
            transform: translateX(0%) translateY(0px);
        }
        &.vpravo{
            width: 100%;
        }
    }
    .podklad{
        &.sekundarni-barva{
            padding: 23px 15px;
        }
        &.primarni-barva{
            padding: 23px 15px;
        }
    }
    .podnadpis{
        font-size: 2rem;
    }
    .text{
        font-size: 20px;
        &:not(do-kraju){
             padding: 26px 17px;
        }
        &.do-kraju{
            padding: 20px 0px;
        }
        &.velky{
            font-size: 23px;
        }
        &.vpravo, &.vlevo{
            width: 100%
        }
    }
    body{
        font-size: 20px;
    }
    .obr-upoutavka{
        margin-bottom: -50px;
        .column:first-of-type{
            img{
                width: 58%;
                height: 215px;
            }
        }
        .column:nth-of-type(2){
            img{
                width: 40%;
                position: absolute;
                right: 13px;
                top: -235px;
                height: 215px;
            }
        }
        .nadpis.primarni-barva.vpravo{
            width: 40%;
            display: inline-flex;
            height: 100%;
            text-align: center;
            align-items: center;
            transform: translateX(0) translateY(-50px);
        }
        .blok.text{
            transform: translateY(-27%);
            height: auto;
            padding: 20px;
            width: 59.5%;
            float: right;
            margin-left: 0;
        }
    }
    main perex, main content{
        @marginDefault: 30px;
        margin: @marginDefault 0;
    }
    main headline{
        margin-top: 50px;
    }
    .logo{
        height: auto;
        max-width: 60%;
    }
    .blokEL-obr-text{
        margin-bottom: 100px;
        &::before{
            width: 10px;
            height: 100%;
            top: 40px;
            left: -10px;
        }
        &::after{
            width: 75%;
            height: 50px;
            bottom: -50px;
            left: -10px;
        }
    }
    .dva-sloupce-nadpis{
        img{
            width: 35%;
            height: auto;
        }
    }
    .layoutTZ #mySidenav{
        width: 80%;
    }
    .ui.massive.menu{
        font-size: 2rem;
    }
    .layoutTZ footer{
        height: auto;
        padding-bottom: 30px;
        left: 10%;
    }
    .blok-nadpis-loga{
        .text{
            margin-top: 0;
        }
        .stretched.row:nth-child(2){
            .column:first-child img{
                max-width: 350px;
                height: auto;
            }
            .column:nth-child(2) img{
                height: 150px;
                width: auto;
            }
            .column:last-child img{
                height: 100px;
                width: auto;
            }
        }
    }
    .body-zdravi{
        .logo-siroke{
            width: 250px;
            height: auto;
        }
        .logo-ctverec{
            width: 185px;
            height: auto;
        }
        .logo-vysoke{
            width: 100px;
            height: auto;
        }
    }
}
@media screen and (max-width: 768px){
    .layoutTZ .fix-bar{
        width: 13%;
        height: 110%;
        .prihlaseni{
            .icon.button:not(.labeled){
                > .user.icon{
                    font-size: 1.2em;
                    position: relative;
                    right: 20%;
                }
            }
        }
    }
    .layoutTZ > .grid > .column:nth-of-type(2){
        margin-left: 15%;
    }
    .nadpis{
        font-size: 2.3rem;
        margin-bottom: 2px;
        &.vlevo{
            width: 100%;
            position: relative;
            transform: translateX(0%) translateY(0px);
        }
        &.vpravo{
            width: 100%;
        }
    }
    .podklad{
        &.sekundarni-barva{
            padding: 23px 15px;
        }
        &.primarni-barva{
            padding: 23px 15px;
        }
    }
    .podnadpis{
        font-size: 2rem;
    }
    .text{
        font-size: 20px;
        &:not(do-kraju){
             padding: 26px 17px;  
        }
        &.do-kraju{
            padding: 20px 0px;
        }
        &.velky{
            font-size: 20px; 
        }
        &.vpravo, &.vlevo{
            width: 100%
        }
    }
    body{
        font-size: 20px;
    }
    .obr-upoutavka{
        margin-top: 40px;
        margin-bottom: -50px;
        .column:nth-of-type(2){
            img{
                height: auto;
                position: relative;
                top:-25px;
            }
        }
        .nadpis.primarni-barva.vpravo{
            width: 100%;
            transform: translateX(0) translateY(-50px);
        }
        .blok.text{
            transform: translateY(-26%);
            height: auto;
            padding: 20px;
            width: 100%;
            margin-left: 0;
        }
    }
    main perex, main content{
        @marginDefault: 20px;
        margin: @marginDefault 0;
    }
    main headline{
        margin-top: 40px;
    }
    .logo{
        height: auto;
        width: 80%;
    }
    .blokEL-obr-text{
        margin-bottom: 100px;
        &::before{
            width: 10px;
            height: 100%;
            top: 40px;
            left: -10px;
        }
        &::after{
            width: 60%;
            height: 10px;
            bottom: -40px;
            left: -10px;
        }
    }
    .dva-sloupce-nadpis{
        img{
            width: 35%;
            height: auto;
        }
    }
    .layoutTZ #mySidenav{
        width: 90%;
    }
    .ui.massive.menu{
        font-size: 1.5rem;
    }
    .layoutTZ .svisle-menu .vertical.menu:not(.edit){
        margin: 0;
    }
    .ui.massive.vertical.menu:not(.icon){
        width: 25rem;
    }
    .layoutTZ{
        header{
            margin: 10px 0;
        }
        footer{
            height: auto;
            padding-bottom: 30px;
        }
    } 
    .blokEL-obr-text{
        &::after{
            width: 75%;
            height: 50px;
            bottom: -50px;
            left: -10px;
        }
    }
    .blok-nadpis-loga{
        .text{
            margin-top: 0;
        }
        .stretched.row:nth-child(2){
            .column:first-child img{
                max-width: 220px;
                height: auto;
            }
            .column:nth-child(2) img{
                height: 100px;
                width: auto;
            }
            .column:last-child img{
                height: 60px;
                width: auto;
            }
        }
    }
    .prednasky .prednasejici{
        margin-left: -15px;
        margin-right: -15px;
    }
    .body-zdravi{
        .logo-siroke{
            width: 250px;
            height: auto;
        }
        .logo-ctverec{
            width: 185px;
            height: auto;
        }
        .logo-vysoke{
            width: 100px;
            height: auto;
        }
    }
    
}
@media screen and (max-width: 530px){
    .layoutTZ .fix-bar{
        .prihlaseni{
            form > div.button{
                position: relative;
                right: 15%;
            }
        }
    }
}
