/*******************************
         Site Settings
*******************************/
/***********************************************************
  Central element variation compilation enablers
***********************************************************/
/* General */
/*******************************
           Elements
*******************************/
/* Button */
/* Container */
/* Divider */
/* Header */
/* Icon */
/* Image */
/* Input */
/* Label */
/* List */
/* Loader */
/* Placeholder */
/* Rail */
/* Reveal */
/* Segment */
/* Step */
/* Text */
/*******************************
           Collections
*******************************/
/* Breadcrumb */
/* Form */
/* Grid */
/* Menu */
/* Message */
/* Table */
/*******************************
             Views
*******************************/
/* Ad */
/* Card */
/* Comment */
/* Feed */
/* Item */
/* Statistic */
/*******************************
            Modules
*******************************/
/* Accordion */
/* Calendar */
/* Checkbox */
/* Dimmer */
/* Dropdown */
/* Embed */
/* Modal */
/* Popup */
/* Progress */
/* Rating */
/* Search */
/* Shape */
/* Sidebar */
/* Slider */
/* Tab */
/* Toast */
/* Loading */
/* Emojis */
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/* Whenever a color needs to get calculated (screen()/multiply()) out of a base color */
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Light Colored Text ---*/
/*--- Hovered Colored Text ---*/
/*--- Colored Border ---*/
/*--- Shadows ---*/
/* Inverted */
/* Box Shadows */
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*---  Tertiary  ---*/
/*---  Bright  ---*/
/*******************************
 States shared in Form-related components
 *******************************/
/* Form state*/
/* Input state */
/* AutoFill */
/* Dropdown state */
/* Focused state */
/* Placeholder state */
/*******************************
     User Global Variables
*******************************/
/*-------------------
       Links
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
  Segment
--------------*/
/* Header Spacing */
/*-------------------
        Grid
--------------------*/
/* Columns */
/*-------------------
     Breakpoints
--------------------*/
body.layout {
  background-image: url("../img/Grafiabgr1.gif") !important;
  background-color: #DCDDDE !important;
}
body.layout > .container > .column {
  background-color: #FFFFFF;
  border: 10px solid #e9eaea;
  padding: 0 15px 15px;
  border-radius: 20px;
}
.layout {
  /*****************Styly pro menu - normalni i editacni rezim*******************/
  /***PRO VSECHNA MENU***/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /******************************Menu normalni rezim*****************************/
  /***SVISLE MENU***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
}
.layout header .grid > .row:first-child {
  padding-bottom: 0;
  /*editační*/
  height: 160px;
}
.layout header .grid > .row:first-child > .column:first-child {
  padding-right: 0;
}
.layout header .grid > .row:first-child > .column {
  vertical-align: top !important;
}
.layout header .grid > .row:last-child {
  padding-top: 10px;
}
.layout header .grid > .row:last-child > .column:first-child {
  padding-right: 0;
}
.layout header .grid > .row:first-child > .column:last-child,
.layout header .grid > .row:last-child > .column:last-child {
  padding-left: 0;
}
.layout header {
  margin-bottom: 10px;
}
.layout header img {
  max-width: 100%;
}
.layout header a {
  color: inherit;
}
.layout header a:hover {
  color: inherit;
}
.layout header .presmerovani-menu ul.text.menu {
  justify-content: center;
}
.layout header ul.text.menu {
  margin: auto !important;
  padding: 0;
}
.layout header .kontakt-hlavicka {
  font-size: 0.8em;
  text-align: right;
  color: grey;
}
.layout header .kontakt-hlavicka img {
  margin: 0 5px;
}
.layout header .kontakt-hlavicka .kontaktni-udaje p {
  margin: 0;
}
.layout header .jazyky {
  margin-top: 10px;
  clear: both;
  margin-right: 5px;
  float: right;
}
.layout header .jazyky button {
  margin-right: 5px;
}
.layout header .jazyky button img {
  vertical-align: middle;
  width: 30px;
  height: 17px;
}
.layout header .jazyky .ui.basic.button {
  padding: 0;
  box-shadow: 0 0;
}
.layout header .jazyky .ui.basic.button:hover {
  box-shadow: 0 0;
}
.layout header .jazyky .jazyk-on {
  border: double #EB1B4C 3px;
  height: 20px;
  width: 33px;
}
.layout header .jazyky .basic.button {
  margin-right: 0;
}
.layout header .jazyky .page.button {
  vertical-align: bottom;
}
.layout header .jazyky > form {
  display: inline-block;
}
.layout headline,
.layout content,
.layout block,
.layout div[class=""] {
  display: block;
  position: relative;
}
.layout .page-content > .grid > .column:not(.row):first-child {
  padding-right: 0;
}
.layout .page-content > .grid > .column:not(.row):nth-child(2) {
  padding-left: 1em;
  padding-right: 1em;
}
.layout .page-content > .grid > .column:not(.row):last-child {
  padding-left: 0;
}
.layout .ui.grid {
  clear: both;
}
.layout main > div > .column:first-child .ui.segment:not(:first-child),
.layout main > div > .column:last-child .ui.segment:not(:first-child) {
  margin-top: 35px;
}
.layout .articleHeadlined > .ui.segment {
  border: 0;
  box-shadow: 0 0 0;
  padding: 0 1em;
}
.layout footer {
  background-color: #e9eaea;
  margin: 10px -15px -15px;
}
.layout footer .grid > .column:first-child p {
  margin-left: 50px;
}
.layout footer p {
  margin: 5px 0;
  color: #ad102f;
}
.layout .vodorovne-menu .menu .onpath > ul,
.layout .presmerovani-menu .menu .onpath > ul {
  padding: 0;
}
.layout .menu a {
  z-index: 0;
}
.layout .close-item,
.layout .nav-mobile {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15.42857143px;
  margin: 10px;
}
.layout .close-item:hover,
.layout .nav-mobile:hover {
  cursor: pointer;
}
.layout .close-item > a > i.times.circle.icon,
.layout .nav-mobile > i.bars.icon {
  margin: 0;
}
.layout .svisle-menu .menu {
  padding: 0;
  margin-top: 0;
}
.layout .svisle-menu .menu > li {
  list-style: none;
}
.layout .svisle-menu .menu > li:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu .menu > li:first-child {
  border-radius: 4px 4px 0 0;
}
.layout .svisle-menu .menu > li:last-child {
  border-radius: 0 0 4px 4px;
}
.layout .svisle-menu .menu li {
  position: relative;
}
.layout .svisle-menu .menu li:not(.leaf) > .item::after {
  content: "\f107";
  height: 1em;
  width: 1.18em;
  font-family: Icons;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0 0.5em;
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 0, 0.87);
  top: 40%;
  transform: translateY(-50%);
}
.layout .svisle-menu .menu.onpath > .item::after {
  top: 15px;
  transform: none;
}
.layout .svisle-menu form > .menu {
  padding: 0;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.layout .svisle-menu form > .menu li {
  list-style-type: none;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-bottom: 0;
}
.layout .svisle-menu form > .menu li:not(:first-child) {
  border-top: 0;
}
.layout .svisle-menu form > .menu li:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu form > .menu li:first-child.onpath {
  border-width: 2px 0 0 0;
}
.layout .svisle-menu form > .menu li .item {
  line-height: normal;
}
.layout .svisle-menu form > .menu li i:first-child {
  float: left;
}
.layout .svisle-menu form > .menu .onpath {
  border-width: 0 0 2px 0;
  background-color: #FFFFFF;
}
.layout .svisle-menu form > .menu .onpath.presented > .item {
  background-color: rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu form > .menu .onpath:hover {
  background-color: #FFFFFF !important;
}
.layout .svisle-menu form > .menu .onpath > .item {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.0975) !important;
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05) !important;
  line-height: normal;
}
.layout .svisle-menu form > .menu .onpath .menu {
  border-top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu form > .menu .onpath .menu li {
  list-style-type: inherit;
}
.layout .svisle-menu form > .menu .onpath .menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu form > .menu .onpath .menu .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.0975);
}
.layout .svisle-menu form > .menu .onpath .menu .onpath > .menu > .onpath > .menu {
  background-color: rgba(0, 0, 0, 0.142625);
}
.layout .vodorovne-menu a {
  padding: 2px 3px;
}
.layout .svisle-menu form > .menu:not(.edit) li .item {
  padding: 0.6em 0.6em !important;
}
.layout .svisle-menu form > .menu:not(.edit) .onpath .menu {
  margin-left: 20px;
}
.layout .vodorovne-menu .menu .onpath > a {
  color: #EB1B4C;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #EB1B4C inset;
}
.layout .vodorovne-menu .menu .onpath > a:hover {
  background-color: #FFFFFF !important;
  color: #DC143C;
}
.layout .page-content h1 {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 5px;
  font-size: 1.14285714rem;
  text-align: center;
  padding: 5px 0;
  margin-top: 0;
}
.layout .page-content .articleHeadline-editable > button.ui.button.save {
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 7px;
}
.layout .white.basic.segment {
  background-color: white;
}
.layout .dimmer .content {
  width: 17%;
}
.layout .dimmer .content .center p {
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
.layout .dimmer .content .center p::before {
  content: "\f007";
  position: absolute;
  left: 15px;
  z-index: 1;
  height: 1em;
  opacity: 1;
  font-family: icons;
}
.layout .dimmer .content .center form > .field > button.button {
  color: inherit;
}
.layout .dimmer .content .center form > .field > button.button > i.large::before {
  top: -9px;
}
.layout .grafia.segment.headlined content p {
  margin: 5px 0;
}
.layout .ui.segment .settings.icon {
  position: absolute;
  font-size: 1.5em;
  color: #ad102f;
  top: 5px;
  left: 10px;
}
.layout .segment headline.header {
  color: #ad102f;
  background-color: #e9eaea;
  border-radius: 4px 4px 0 0;
  text-align: center;
  margin: 0 -12px;
  margin-top: -12px !important;
  padding: 5px 0;
}
.layout .segment headline.header p {
  font-size: 1.14285714rem;
  margin-bottom: 0;
}
.layout #contents .segment headline.header {
  margin-top: 0 !important;
}
.layout .segment img {
  max-width: 100%;
  height: auto;
}
.layout .ui.segment,
.layout block {
  clear: both;
}
.layout .primary.button > a {
  color: inherit;
}
.layout .primary.button:hover {
  background-color: #c4002e !important;
}
.layout .kontakt-hlavicka {
  display: flex;
  flex-direction: row-reverse;
}
body.layout.mce-content-body {
  padding: 0 5px 0 10px;
  margin: 7px;
  font-size: 1em;
}
body.layout#tinymce {
  width: 100%;
  padding: 5px;
  margin: 0;
  background: 0 0;
}
.layout {
  /****************************Editacni*menu*s*buttony***************************/
  /***PRO VSECHNA MENU***/
  /***SVISLE MENU***/
  /***SVISLE MENU BLOKY***/
  /***SVISLE MENU KOS***/
  /***PRESMEROVANI MENU***/
  /***VODOROVNE MENU***/
  /*************************************main*************************************/
  /*Styly stranky*/
  /*******************************prostredi**tiny********************************/
}
.layout .ui.container.editable {
  margin-left: auto !important;
  margin-right: 10px !important;
  position: relative;
  right: 0;
}
.layout .menu.edit li > p {
  margin-bottom: 0;
}
.layout .menu.edit li > p br {
  display: none;
}
.layout .menu.edit .onpath.presented p > span {
  cursor: text;
}
.layout .menu.edit li:not(.presented) .buttons {
  display: none;
}
.layout .menu.edit li.onpath.presented > .buttons.editMenu {
  display: block;
  background: #fbfbe7;
}
.layout .menu.edit li.onpath.presented > .buttons.editMenu > .button:first-child {
  background-color: #fff1d5;
}
.layout .menu.edit li.onpath.presented > .buttons.editMenu > .button:first-child:hover {
  background-color: #FFFFFF;
}
.layout .menu.edit li.onpath.presented > .buttons.editName {
  display: none;
  background-color: #fff1d5;
}
.layout i.grafia.active {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 100%;
  border-radius: 0.333rem 0 0 0.333rem;
}
.layout i.grafia.active.green {
  background-color: #73c373;
}
.layout i.grafia.active.red {
  background-color: #de7a7e;
}
.layout i.grafia.actual {
  border-right-color: inherit;
  content: '';
  position: absolute;
  right: 0%;
  top: 0;
  width: 1em;
  height: 100%;
  border-radius: 0 0.333rem 0.333rem 0;
}
.layout i.grafia.actual.yellow {
  background-color: #f0da63;
}
.layout i.grafia.actual.grey {
  background-color: #B9B9B9;
}
.layout i.grafia.actual.green {
  background-color: #73c373;
}
.layout i.grafia.actual.orange {
  background-color: #f2711c94;
}
.layout i.grafia.actual.red {
  background-color: #de7a7e;
}
.layout .svisle-menu .menu.edit {
  height: 650px;
  overflow-y: scroll;
  width: 107%;
  margin-left: -8px;
}
.layout .svisle-menu .menu.edit li:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.layout .svisle-menu .menu.edit .onpath .item {
  border-bottom: 0;
}
.layout .svisle-menu .menu.edit .onpath .menu {
  margin-left: 10px;
  padding: 0;
}
.layout .svisle-menu .menu button[data-tooltip]::after,
.layout .vodorovne-menu .menu button[data-tooltip]::after {
  font-weight: 700;
}
.layout .svisle-menu .menu.edit .onpath.presented:first-child .buttons,
.layout .svisle-menu .menu.edit .onpath.presented:nth-child(2) .buttons {
  top: 30px;
  position: absolute;
  z-index: 1;
}
.layout .svisle-menu .menu.edit .onpath.presented .buttons {
  position: absolute;
  left: auto;
  right: 0;
  top: -25px;
}
.layout .svisle-menu.bloky {
  margin: 10px auto;
}
.layout .svisle-menu.bloky .menu.edit > .onpath.presented .buttons {
  background: #edf7ff;
}
.layout .svisle-menu.bloky .menu.edit > li:first-child {
  text-align: center;
}
.layout .svisle-menu.bloky .menu.edit > li:first-child > .item {
  background-color: #edf7ff !important;
}
.layout .svisle-menu.bloky .menu.edit > li:first-child > .item > i {
  display: none;
}
.layout .svisle-menu.kos .menu .onpath.presented .buttons {
  background: #f8f3ff;
  position: absolute !important;
  left: auto;
  right: 0;
  top: -25px;
}
.layout .svisle-menu.kos .menu .onpath.presented .buttons .corner.icon {
  font-size: 0.9em;
  left: 7px;
}
.layout .svisle-menu.kos .menu > li:first-child {
  text-align: center;
}
.layout .svisle-menu.kos .menu > li:first-child > .item {
  background-color: #f8f3ff !important;
}
.layout .presmerovani-menu .menu.edit .item {
  margin-right: 10px;
  padding: 0.25em 1em !important;
}
.layout .presmerovani-menu .menu.edit .item .buttons {
  margin-left: 5px;
}
.layout .presmerovani-menu .menu.edit .item .buttons .button::before {
  bottom: -80%;
  left: 30%;
  transform: rotate(225deg) scale(1) !important;
}
.layout .presmerovani-menu .menu.edit .item .buttons .button::after {
  bottom: -173%;
  font-weight: 700;
}
.layout .vodorovne-menu .menu.edit {
  width: 700px;
  flex-wrap: wrap;
}
.layout .vodorovne-menu .menu.edit .item {
  margin: 6px 5px 6px 0;
  padding-left: 5px;
}
.layout .vodorovne-menu .menu.edit .item.onpath.presented .active {
  border-width: 1px 0 1px 1px;
  border-color: #EB1B4C;
  border-style: solid;
}
.layout .vodorovne-menu .menu.edit .item.onpath.presented .actual {
  border-width: 1px 1px 1px 0;
  border-color: #EB1B4C;
  border-style: solid;
}
.layout .vodorovne-menu .menu.edit .item .buttons {
  position: relative;
  top: 0;
  left: 5px;
  margin-right: 5px;
}
.layout .vodorovne-menu .menu.edit .item a {
  padding-right: 12px;
  padding-left: 12px;
}
.layout .notpermitted {
  cursor: no-drop !important;
  color: #dedede;
}
.layout .notpermitted:hover {
  outline: 2px dashed #EB1B4C;
  color: #dedede;
}
.layout .notpermitted:hover::before {
  content: 'Nemáte oprávnění k editaci';
  width: 65%;
  height: 75px;
  padding: 10px;
  color: black;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border: 1px dashed black;
}
.layout .locked {
  cursor: progress !important;
  color: #dedede;
}
.layout .locked:hover {
  outline: 2px dashed #FBBD08;
  color: #dedede;
}
.layout .locked:hover::before {
  content: 'Stránku edituje uživatel ' attr(data-editor);
  width: 60%;
  height: 90px;
  padding: 10px;
  color: black;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px dashed black;
}
.layout .segment.notpermitted headline,
.layout .segment.notpermitted content,
.layout .segment.locked headline,
.layout .segment.locked content,
.layout .segment.notpermitted i.settings,
.layout .segment.locked i.settings {
  opacity: 0.35;
}
.layout .segment.locked .icon.buttons,
.layout .segment.notpermitted .icon.buttons {
  opacity: 0.45;
  pointer-events: none !important;
}
.layout .segment.locked a,
.layout .segment.notpermitted a {
  pointer-events: none;
}
.layout .grafia.segment.headlined.editable .buttons,
.layout .grafia.segment.block.editable .buttons {
  position: absolute;
  top: -30px;
}
.layout .grafia.segment.headlined.editable .buttons [data-tooltip]::after,
.layout .grafia.segment.block.editable .buttons [data-tooltip]::after {
  font-weight: 700;
}
.layout .grafia.segment.headlined.editable .buttons.editPage {
  right: 0px;
  background: #fbfbe7;
}
.layout .grafia.segment.headlined.editable .buttons.editPage > .toolsDate {
  background-color: #fff1d5;
}
.layout .grafia.segment.headlined.editable .buttons.editDate {
  background-color: #fff1d5;
  right: 0px;
}
.layout .grafia.segment.block.editable .buttons.editPage {
  right: 0;
  background-color: #edf7ff;
}
.layout .grafia.segment.block.editable .buttons.editPage > .toolsDate {
  background-color: #fff1d5;
}
.layout .grafia.segment.block.editable .buttons.editDate {
  background-color: #fff1d5;
  right: 0;
}
.layout .grafia.segment.headlined.editable headline {
  padding-right: 1em;
  padding-left: 1em;
}
.layout .grafia.segment.headlined.editable i.grafia.active {
  left: -1em;
}
.layout .grafia.segment.headlined.editable i.grafia.actual {
  right: -1em;
}
.layout .grafia.segment.headlined.editable:nth-child(3).edit {
  float: none;
  align-items: stretch;
  display: flex;
}
.layout #editName {
  display: none;
}
.layout .editDate,
.layout .buttons.editDate {
  display: none;
}
.layout .edit_kalendar {
  position: absolute;
  background-color: #fff1d5;
  border-radius: 5px;
  border: 1px solid #DCDDDE;
  z-index: 1;
  padding: 10px;
  cursor: auto;
  font-size: 0.85em;
  top: 0;
}
.layout .edit_kalendar p {
  text-align: left;
  margin-bottom: 5px;
}
.layout .edit_kalendar .calendar {
  margin-bottom: 10px;
}
.layout .edit_kalendar .ui.button {
  border-radius: 5px !important;
  border: 1px solid #DCDDDE !important;
  background: #FFFFFF;
  padding: 8px;
}
.layout .edit_kalendar .ui.button[type="submit"] {
  width: 100%;
  color: #21BA45 !important;
  border-color: #21BA45 !important;
}
.layout .grafia.segment.headlined.editable .edit_kalendar {
  right: -1.15em;
}
.layout .grafia.segment.block.editable .edit_kalendar {
  right: 0;
}
.layout .poznamky {
  position: absolute;
  border-radius: 5px;
  background: #FFFFFF;
  left: -260px;
  top: 10px;
  transition: 0.7s linear;
  box-shadow: 1px 1px 10px 1px rgba(34, 36, 38, 0.15);
  z-index: 1;
}
.layout .poznamky .label {
  margin: 0 !important;
}
.layout .poznamky .label i {
  width: 100% !important;
}
.layout .poznamky .content {
  width: 250px;
  padding: 10px;
}
.layout .poznamky .content p {
  margin-bottom: 0.7em;
}
.layout .poznamky .content p:last-child {
  margin-bottom: 0;
}
.layout pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.layout .mce-content-body:not(.mce-edit-focus) {
  padding: 5px 10px;
  margin: 0 -5px;
}
.layout .mce-edit-focus {
  background: linear-gradient(90deg, #21BA45 50%, transparent 50%), linear-gradient(90deg, #21BA45 50%, transparent 50%), linear-gradient(0deg, #21BA45 50%, transparent 50%), linear-gradient(0deg, #21BA45 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 12px 3px, 12px 3px, 3px 12px, 3px 12px;
  padding: 5px;
  animation: border-dance 40s infinite linear;
  height: max-content;
}
.layout block:not(mce-edit-focus) a[data-mce-selected="inline-boundary"],
.layout content:not(mce-edit-focus) a[data-mce-selected="inline-boundary"] {
  background-color: #FFFFFF !important;
}
.layout block.mce-edit-focus a[data-mce-selected="inline-boundary"],
.layout content.mce-edit-focus a[data-mce-selected="inline-boundary"] {
  background-color: #b4d7ff !important;
}
.layout .mce-content-body .ui.grid {
  background-color: lightyellow;
}
.layout .mce-content-body .ui.grid .column {
  outline: 1px dashed #DCDDDE !important;
}
.layout .mce-content-body .ui.grid .ui.grid {
  background-color: initial;
}
.layout .mce-content-body .button {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: text;
}
.layout .tox-toolbar-dock-fadein {
  z-index: 2;
}
.layout {
  /******************************sablona**stranka_kurzy**************************/
  /*******************************sablona**otevrene_kurzy************************/
  /*******************************sablona**prednasky*****************************/
  /*#contents .prednaska .stitek{
        color: white;
        padding: 3px 3px 3px 13px;
        background: rgb(0, 0, 128);
        vertical-align: middle;
        border-radius: 5px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .prednaska .stitek::before{
        width: 16px;
        height: 16px;
        content: '';
        position: absolute;
        background: rgb(0,0,128);
        transform: rotate(45deg);
        left: -5px;
        top: 3px;
        z-index: 1;
    }*/
  /*responz:
    .prednaska{
        flex-direction: column;
    }
    .prednaska .stitek{
        position: relative;
        margin: 10px 30px;
    }
    */
  /* v rs */
}
.layout .obrazek-vlevo .column p > img,
.layout .obrazek-vpravo .column p > img {
  width: 100%;
  height: auto;
}
.layout .image_vlevo {
  float: left;
  margin: 5px 5px 5px 0;
}
.layout .image_vpravo {
  float: right;
  margin: 5px 0 5px 5px;
}
.layout .image_ramecek {
  border: 1px solid #1B1C1D;
}
.layout .image_vlevo_ramecek {
  float: left;
  border: 1px solid #1B1C1D;
  margin: 5px 5px 5px 0;
}
.layout .image_vpravo_ramecek {
  float: right;
  border: 1px solid #1B1C1D;
  margin: 5px 0 5px 5px;
}
.layout .eshop.card {
  width: 270px !important;
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
}
.layout .eshop.card .content:first-child p {
  line-height: 2.5em;
}
.layout .eshop.card .content p.cena {
  display: inline-block;
  margin-top: 10px !important;
}
.layout .eshop.card-image {
  height: 200px;
  width: auto;
  max-height: 100%;
}
.layout .eshop.card .middle {
  vertical-align: middle;
  position: relative;
  transform: translateY(-20%);
  background-color: transparent;
  color: #000;
}
.layout .ui.corner.label::after {
  border-right-width: 5em !important;
  border-bottom-width: 4.8em !important;
}
.layout .ui.teal.label {
  padding: 5px !important;
}
.layout .stranka-kurzy .column:nth-child(2) .content:first-child p {
  font-weight: 700;
  margin-bottom: 5px;
}
.layout .stranka-kurzy .column:nth-child(2) .content:nth-child(2) h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.layout .sablonaMenu .stretched.row > .column {
  padding-top: 10px;
  padding-bottom: 10px;
}
.layout .otevreny-kurz p.popisek {
  font-style: italic;
  font-size: 0.9em;
}
.layout .prednaska {
  position: relative;
  background-color: white;
  padding: 20px 0 10px;
  margin: 10px 0;
  border-bottom: 1px solid #dedede;
}
.layout .prednaska .obrazek_popisek {
  position: relative;
  align-self: center;
}
.layout .prednaska .obrazek_popisek > p > img {
  border-radius: 200px;
  width: 155px !important;
  height: 155px !important;
  border: 1px solid #000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.layout #contents .prednaska .obrazek_popisek p.prednasejici {
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  bottom: -2px;
  height: 57px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px;
  text-align: center;
}
.layout #contents .prednaska p.label {
  position: absolute;
  right: 0;
  top: 0;
}
.layout .prednaska .informace_prednasky {
  display: inline;
}
.layout #contents .prednaska .informace_prednasky h4 {
  font-size: 1.1em;
}
.layout #contents .prednaska .informace_prednasky h4:first-child {
  margin-bottom: 0;
  margin-top: 10px;
}
.layout #contents .prednaska .informace_prednasky h4:nth-child(2) {
  margin-top: 0;
}
.layout .prednaska .informace_prednasky ul {
  transform: translateX(5%);
  margin-bottom: 10px;
}
.layout .prednaska a.odkaz_vtextu_kulaty_cerveny {
  padding: 3px;
  margin: 5px 5px 5px 0;
}
.layout #contents .prednaska a.odkaz_vtextu_kulaty_sedy {
  padding: 3px;
  margin: 5px 0 5px 5px;
}
.layout .mce-content-body .prednaska p.label {
  position: absolute;
  top: 0;
  right: 0;
}
.layout .mce-content-body .prednaska .obrazek_popisek {
  outline: 1px dashed purple;
  background-color: #f4eafa;
}
.layout .mce-content-body .prednaska .obrazek_popisek > p > img {
  border-radius: 200px;
  width: 155px !important;
  height: 155px !important;
  border: 1px solid #000;
}
.layout .mce-content-body .prednaska .informace_prednasky h4:first-child {
  margin-bottom: 0;
  margin-top: 10px;
}
.layout .mce-content-body .prednaska .informace_prednasky h4:nth-child(2) {
  margin-top: 5px;
}
.layout {
  /************************************media*************************************/
}
@media (max-width: 1750px) {
  .layout {
    /*        .poznamky{
            left: 10px; 
            .label::before{
                display: none; 
            } 
            .content{ 
                display: none;
            } 
        }*/
    /*        .poznamky:hover{
            .label::before{
                display: block;
            }
            .content{    
                display: block;
            }

        }*/
  }
}
@media (max-width: 1300px) {
  .layout {
    /*menu*/
    /*svisle menu*/
  }
  .layout header .grid > .row:first-child {
    /*editační*/
    height: 150px;
  }
  .layout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 3px;
  }
  .layout .dimmer .content {
    width: 25%;
  }
  .layout .poznamky {
    left: 10px;
  }
}
@media (max-width: 1099px) {
  .layout {
    /*menu*/
    /*vodorovne menu*/
    /*svisle menu*/
  }
  .layout .vodorovne-menu ul.menu.edit {
    width: 620px;
  }
  .layout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:first-of-type {
    left: auto;
    right: 15px;
  }
  .layout .svisle-menu > .edit.menu li.presented div.ui.mini.icon.buttons:nth-of-type(2) {
    right: 15px;
  }
  .layout .page-content > .grid > .column:not(.row):nth-child(2) {
    padding-left: 2em;
    padding-right: 1.5em;
  }
  .layout .page-content .svisle-menu form > ul.menu.edit {
    width: 100%;
  }
  .layout .dimmer .content {
    width: 35%;
  }
  .layout .ui.container {
    width: 100% !important;
  }
  .layout header .kontakt-hlavicka {
    margin-top: 10px;
  }
  .layout header .kontakt-hlavicka img {
    width: 55px;
    height: 65px !important;
    margin: 5px 0 10px 5px;
  }
  .layout header .row:first-child .column:first-child img {
    width: 130px;
  }
  .layout header .row:first-child .column:nth-child(2) presmerovani-menu ul.menu li.presented div.buttons {
    z-index: 20;
  }
  .layout header .row:first-child .column:nth-child(2) img {
    z-index: 0 !important;
    position: static;
  }
  .layout header .row:first-child .column:nth-child(2) ul.text.menu {
    width: 45%;
    transform: translateY(-30%);
  }
  .layout header .grid > .row:first-child {
    /*editační*/
    height: 140px;
  }
  .layout .page-content .grid .one.column .ui.segment {
    display: none !important;
  }
  .layout .page-content .column .segment:not(.ui):not(.grafia) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px auto;
    width: 70%;
    height: auto;
  }
  .layout .page-content .column > form > button.ui.button.save {
    right: 15px;
  }
  .layout .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 5px;
    margin-top: 0;
    left: 15px;
    border: 1px solid #DCDDDE;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(34, 36, 38, 0.15);
  }
  .layout .nav-mobile:hover {
    background-color: #f2f2f2;
    transition: 0.3s all;
  }
  .layout .svisle-menu:first-child {
    display: none;
  }
  .layout #mySidenav {
    height: 100%;
    width: 80%;
    background-color: #FFFFFF;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    -webkit-animation: animateleft 0.4s;
    animation: animateleft 0.4s;
    padding: 20px;
  }
  .layout #myOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  @-webkit-keyframes animateleft {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes animateleft {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  .layout .poznamky {
    left: 25px;
    top: 240px;
  }
  .layout .poznamky .label {
    width: 55px !important;
  }
  .layout .poznamky:hover .label {
    width: 100% !important;
  }
}
@media (min-width: 1100px) {
  .layout .close-item,
  .layout span.nav-mobile {
    display: none;
  }
  .layout #mySidenav {
    display: block !important;
  }
}
@media (max-width: 920px) {
  .layout {
    /*menu*/
    /*vodorovne menu*/
  }
  .layout .vodorovne-menu ul.menu.edit {
    width: 530px;
  }
  .layout header .grid > .row:first-child {
    height: 125px;
  }
  .layout header .row:first-child .column:first-child img {
    width: 110px;
  }
  .layout header .row:last-child .column:nth-child(2) {
    left: -7px;
  }
  .layout header .kontakt-hlavicka {
    margin-right: -4px;
  }
  .layout header .jazyky {
    margin-top: 0;
    margin-bottom: -10px;
    margin-right: -4px;
  }
  .layout .nav-mobile {
    left: 10px;
  }
  .layout .fluid.input {
    float: right;
    width: 120px;
  }
  .layout .page-content .column .segment:not(.ui):not(.grafia) {
    width: 50%;
    z-index: 5;
    float: right;
  }
  .layout .poznamky {
    left: 20px;
    top: 225px;
  }
}
@media (max-width: 768px) {
  .layout {
    /*menu s butony*/
    /*vodorovne menu*/
  }
  .layout header .grid > .row:first-child {
    /*editační*/
    height: auto;
  }
  .layout .vodorovne-menu ul.menu.edit li i.line:first-of-type {
    left: -8px;
  }
  .layout .vodorovne-menu ul.menu.edit li i.line:nth-of-type(2) {
    left: -4px;
  }
  .layout .vodorovne-menu ul.menu.edit li.presented i.line {
    height: 30px;
    top: 1px;
    transform: translateY(-15%);
  }
  .layout .vodorovne-menu ul.menu.edit li.presented div.buttons {
    background-color: #FFFFFF;
  }
  .layout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type {
    position: absolute;
    top: -28px;
    right: 0;
    left: auto;
  }
  .layout .vodorovne-menu ul.menu.edit li.presented div.buttons:first-of-type > .button {
    width: auto;
  }
  .layout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) {
    position: absolute;
    top: -25px;
    bottom: auto;
    right: 5px;
  }
  .layout .vodorovne-menu ul.menu.edit li.presented div.buttons:nth-of-type(2) > .button {
    width: auto;
  }
  .layout .vodorovne-menu ui.menu:not(.floated):not(.left) {
    flex-direction: column;
    align-items: center;
  }
  .layout .nav-mobile {
    background: #fff;
    z-index: 1;
  }
  @keyframes prechodPozadi {
    0% {
      background-color: #EB1B4C;
    }
    100% {
      background-color: #FFFFFF;
    }
  }
  .layout .nav-mobile.active {
    display: flex;
    left: 30px;
    transform: translateY(-168%);
    padding: 6px;
    margin-left: 5px;
    animation-name: prechodPozadi;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
  }
  .layout .nav-mobile:not(.active) {
    display: none;
  }
  .layout .dimmer .content {
    width: 80%;
  }
  .layout header .row:first-child .column:first-child {
    position: absolute;
    text-align: left !important;
    left: 10px;
  }
  .layout header .row:first-child .column:first-child .ui.buttons {
    top: -48px;
    left: 55px;
    right: auto;
  }
  .layout header .row:first-child .column:nth-child(2) img {
    top: 10px;
    left: auto;
  }
  .layout header .row:first-child ul.text.menu {
    width: 50%;
    transform: translateY(0);
  }
  .layout header .row:first-child .kontakt-hlavicka {
    font-size: 0.75em;
    margin-top: 10px;
  }
  .layout header .row:first-child .kontakt-hlavicka img {
    width: 65px;
    height: auto !important;
    margin: 2px 0 10px 5px;
  }
  .layout header .ui.grid .row:last-child .column:nth-child(2) {
    padding-bottom: 0 !important;
  }
  .layout header .row:last-child .column:first-child {
    margin-left: 5px !important;
    height: auto;
  }
  .layout header .row:last-child .column:nth-child(2) {
    left: 0;
  }
  .layout header .row:last-child .column:nth-child(2) .text.menu {
    display: block;
    column-count: 2;
    width: 85%;
    float: right;
  }
  .layout header .row:last-child .column:nth-child(2) .text.menu .item {
    margin: 10px auto;
  }
  .layout header .row:last-child .column:nth-child(2) .text.menu .item:first-child {
    margin-top: 0;
  }
  .layout header .row:last-child .column:nth-child(2) .text.menu .item > .button {
    width: 101%;
    margin-left: -5px;
  }
  .layout header .row:last-child .column:last-child .fluid.input {
    width: 85%;
    font-size: 1em;
  }
  .layout .page-content .column > form > button.ui.button.save {
    right: 10px;
  }
  .layout footer .grid > .column {
    text-align: center;
  }
  .layout footer .grid > .column:first-child p {
    margin-left: auto;
  }
  .layout .poznamky {
    left: 35px;
    top: 430px;
  }
}
@media (max-width: 500px) {
  .layout header .row:first-child .column:first-child {
    /*position:relative;
                text-align: center !important;
                img{
                    margin: auto;
                    width: 40%;
                }*/
  }
  .layout header .row:last-child .column:nth-child(2) .text.menu {
    width: 100%;
    column-count: 1;
  }
  .layout header .row:last-child .column:last-child .fluid.input {
    width: 100%;
  }
  .layout .nav-mobile.active {
    transform: translateY(0);
    top: 130px;
  }
  .layout .poznamky {
    left: 35px;
    top: 100px;
  }
  .layout .page-content .ui.segment {
    padding: 0;
  }
}
@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}
/*# sourceMappingURL=zkouska_less.css.map */