@marginDefault: 70px;
main > div, main > perex, main > content{
    margin: @marginDefault 0;
}
main > headline{
    margin: 70px 0 -20px
}
.sekundarni-barva{
    &.podklad{
        color: @invertedTextColor;
        background-color: @secondaryColor;
        padding: 30px;
    }
    &:not(.podklad).text, &:not(.podklad).nadpis{
        color: @secondaryColor;
    }
}
.primarni-barva{
    &.podklad{
        color: @invertedTextColor;
        background-color: @primaryColor;
        padding: 30px;
    }
    &:not(.podklad).text, &:not(.podklad).nadpis{
        color: @primaryColor;
    }
}
.nadpis{
    font-size: @h2;
    font-weight: 700;
    &.vlevo{
        width: 42%;
        position: absolute;
        position: absolute;
        transform: translateX(-20%) translateY(-45px);
        &.primarni-barva{
            text-align: right;
        }
    }
    &.vpravo{
        width: 100%;
        position: relative;
    }
    p{
        line-height: 1.15;
    }
}
.podnadpis{
    font-size: @h4;
    line-height: 1;
}
.text{
    font-size: @fontSize;
    padding: 30px 40px;  
    &.velky{
        font-size: @bigFontSize;
    }
    &.vpravo{
        text-align: right;
        width: 90%;
        float: right;
        position: relative;
    }
    &.vlevo{
        text-align: left;
        width: 90%;
        left: 0;
        position: relative;
    }
}
.obr-upoutavka{
    margin-top: @marginDefault + 40px;
    .nadpis.primarni-barva.vpravo{
        width: 140%;
        transform: translateX(-28.45%) translateY(-50px);
        text-align: right;
    }
    .blok.text{
        transform: translateY(-10%);
        height: 387px;
        margin-left: -15px;
        text-align: right;
        padding: 35px 40px 20px 10px;
    }
    
}
.blok-nadpis-obr-text{
    &.program{
        .text{
            padding-top: 10px; 
        }
    }
}
.blok-nadpis-loga{
    .text{
        margin-top: @marginDefault + 20px;
    }
    .stretched.row{
        padding-left: 40px;
        padding-right: 40px;
        .column:first-child img{
            max-width: 100%;
        }
        .column:nth-child(2) img{
            height: 200px;
        } 
        .column:last-child img{
            height: 150px;
        }
    }
}
.prednasejici{
    .velky.text{
        padding: 30px 0px; 
    }
}
.prednasky perex .velky.text{
    padding: 30px 0px;  
}
.blokEL-obr-text{
    position: relative;
    margin-bottom: @marginDefault * 3.3;
    &.sekundarni-barva::before,&.sekundarni-barva::after{
        background-color: @secondaryColor;
    } 
    &.primarni-barva::before,&.primarni-barva::after{
        background-color: @primaryColor;
    } 
    &::before{
        content: '';
        width: 97px;
        height: 100%;
        position: absolute;
        top: 40px;
        left: -97px;
    }
    &::after{
        content: '';
        width: 60%;
        height: 97px;
        position: absolute;
        bottom: -97px;
        left: -97px;
    }
}

   
