<div data-component="presented" class="ui segment mceNonEditable">
    <div class="grafia segment headlined editable">
        <article class="" data-template="default">
            <section>
                <headline class="ui header">
                    {{headline}}
                </headline>
                <perex>
                    <p>Perex</p>
                </perex>
            </section>
            <content>
                <div>
                    <div></div>
                        <section>
                            <h55>

                            </h55>
                            <p>Obsah</p>
                        </section>
                    <div></div>
                </div>
                <div>
                    <div></div>
                        <section>
                            <h55>

                            </h55>
                            <p>Obsah</p>
                        </section>
                    <div></div>
                </div>
            </content>
        </article>
    </div>
</div>