<div data-component="presented" class="ui segment mceNonEditable">
    <div class="grafia segment headlined editable">
        <article class="" data-template="default">
            <headline class="ui header">
                {{headline}}
            </headline>
            <perex>
                <p>Perex</p>
            </perex>
            <section>
                <content>
                    <p>Obsah</p>
                </content>
            </section>
        </article>
    </div>
</div>