@teCircleVerticalAlign: middle;
@sablonyOhraniceniProFlexDirection: 0 0 0 1px #f1fa8c;





/*******************************
            šablony paper v site
*******************************/ 
@import (optional) "@{siteTemplatePath}";  



#circle content p{
    margin: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: @teCircleVerticalAlign;
}
.tiny_select_template_paper, .tiny_select_template_multipage{
    .vertikalne-prohodit, .horizontalne-prohodit{
        box-shadow: @sablonyOhraniceniProFlexDirection;
    } 
}
.vertikalne-prohodit{
    flex-direction: column-reverse;
}
.horizontalne-prohodit{
    flex-direction: row-reverse; 
}

[data-template="images_paper"]{
    headline{
        margin: 0 !important;
    }
    perex{
        margin: 0 !important;
        padding: 0;
    }
    &.obr-upoutavka{
        margin-top: 10px;
        img{
            max-width: 103%;
        }
        .blok.podnadpis{
            width: 50%;
        }
        .pruhledna-barva.podklad{
            background-color: #FFFFFFBD;
        }
    }
}

