#circle content p{
    margin: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.tiny_select_template_paper, .tiny_select_template_multipage{
    .vertikalne-prohodit, .horizontalne-prohodit{
        box-shadow: 0 0 0 1px #f1fa8c;
    } 
}
.vertikalne-prohodit{
    flex-direction: column-reverse;
}
.horizontalne-prohodit{
    flex-direction: row-reverse; 
}
.template-multipageedit, .template-paperedit{
    [data-template="carousel"]{
        .carousel, .carouselPaper{
            i.angle{
                display: none;
            }
        }
        .carousel{
            [data-template="carousel-item"]{
                headline{
                    font-size: 1.3em;
                    background: 0 0;
                    color: #000;
                }
                perex{
                    font-size: 1.1em;
                }
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
        }
    }
}
.template-multipageedit .template-multipage, .template-multipage, .template-paperedit, .template-paper{
    [data-template="carousel"]{
        .template-paperedit, .template-paper{
            box-shadow: 0 0 !important;
            position: relative;
            margin: 0;
            padding: 0;
            article{
                margin: 0;
                padding: 0;
            }
        }
        .carousel, .carouselPaper{
            display: block;
            position: relative;
            i.angle{
               position: absolute; 
               top: 44%;
               color: #c40105;
               z-index: 5;
               cursor: pointer; 
               display: inline-block;
               &:first-child{
                   left: 0;
               }
               &:last-child{
                   right: 0;
               }
            }
            &:hover i.angle{
                background-color: white;
                opacity: 0.7;
            }
        }
        .carousel{
            height: auto;
            min-height: 500px;
            .carousel-wrap{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 500px;
                overflow: hidden;
            }
            [data-template="carousel-item"]{
                width: 100%;
                height: 100%;
                headline, perex{
                    position: absolute;
                    width: 50%;
                    left: 60px;
                    background: #ffffff91 !important;
                    z-index: 10;
                }
                headline{
                    font-size: 1.3em !important;
                    color: #000 !important;
                    top: 105px !important;
                }
                perex{
                    font-size: 1.1em !important;
                    top: 195px !important;
                }
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    position: absolute;
                    top: -25px;
                    left: 0;
                }
                &:last-child{
                    display: block !important;

                }
            }
        }
        .carouselPaper{
            .carousel-wrap{}
            [data-template="carousel-item"]{}
        }
    }
/*    [data-template="carousel"]{
        .carousel{
            display: block;
            position: relative;
            height: auto;
            min-height: 500px;
            i{
               position: absolute; 
               top: 44%;
               color: #c40105;
               z-index: 5;
               cursor: pointer; 
               &:first-child{
                   left: 0;
               }
               &:last-child{
                   right: 0;
               }
            }
            &:hover i{
                background-color: white;
                opacity: 0.7;
            }
        }
        .carousel-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            min-height: 500px;
            overflow: hidden;
        }
        [data-template="carousel-item"]{
            width: 100%;
            height: 500px;
            position: absolute;
            .carousel-info{
                position: absolute;
                width: 50%;
                top: 47%;
                left: 70px;
                transform: translateY(-50%);
                z-index: 10;
                headline{
                    font-size: 1.3em !important;
                    background: #ffffff91 !important;
                    color: #000 !important;
                }
                perex{
                    font-size: 1.1em;
                    background: #ffffff91;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:last-child{
                display: block !important;

            }
        }
    }*/
}
[data-template="images_paper"]{
    headline{
        margin: 0 !important;
    }
    perex{
        margin: 0 !important;
        padding: 0;
    }
    &.obr-upoutavka{
        margin-top: 10px;
        img{
            max-width: 103%;
        }
        .blok.podnadpis{
            width: 50%;
        }
        .pruhledna-barva.podklad{
            background-color: #FFFFFFBD;
        }
    }
}



[data-red-templatetype="@{templateType}"]{
    //default sada stylů
      
    
    
    //import změněných stylů šablony (specifických pro projekt)    
    @import (optional) "@{siteTemplatePath}";  
    
}