<div class="paper">
    <headline>
        
<p class="primarni-barva nadpis">
    Objevte body pro vaše zdraví a&nbsp;životní pohodu</p>    </headline>
    <perex>
        
<p class="velky text okraje-vertical">
    Místa, která nabízejí zdravé produkty či služby na podporu zdravého životního stylu. Všechny body si také přehledně zobrazíte <a href="https://www.google.com/maps/d/edit?mid=1JilC47U-i8oCRZtoK5VDHCYU_BXHo-Bm&usp=sharing" target="_blank">v mapě</a> — červeně označené body mají pro vás přichystané <a href="www/item/static/kupony-s-vyhodou" target="_blank"> kupóny </a> pro výhodný nákup!</p>
    </perex>
    <content>
        
<div class="body-zdravi">
    <div class="ui stackable centered grid">
       
        <div class="row equal width padding-vertical">
            <div class="five wide column middle aligned">
                <a  class="link-img" href="https://www.foractiv-plzen.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo-FA.jpg" alt="Logo For activ" width="335" height="105" />
                </a>
            </div>
            <div class="eleven wide column">
                <p  class="">
Jsme firma zabývající se prodejem zdravé a&nbsp;sportovní výživy s maximální funkčností , ale také vysokou kvalitou. Produktům dobře rozumíme a&nbsp;umíme vybrat takové, které se nejlépe hodí pro daný účel. V oblasti zdraví jsme hrdým dovozcem prémiových značek Viridian a&nbsp;EkoLife.
</p>            </div>
        </div>       
        <div class="row equal width">
            
            <div class="column middle aligned">
                <a  class="link-img" href="https://lekarnavbezovce.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo-lekarna-bezovka.png" alt="Logo Lékárna V Bezovce" width="335" height="80" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="https://www.obchodulidusky.cz/" target="_blank">
                    <img  class="logo-ctverec" src="images/logo_U_Lidusky.jpg" alt="Logo U Lidušky" width="185" height="200" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="https://www.ledovec.cz/" target="_blank">
                    <img  class="logo-vysoke" src="images/logo-Ledovec.png" alt="Logo Ledovec" width="120" height="200" />
                </a>
            </div>        </div>

        <div class="row equal width">
            
            <div class="column middle aligned">
                <a  class="link-img" href="https://www.zachrankaapp.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo-zachranka.png" alt="Logo Záchranka" width="335" height="" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="http://www.grafia.cz/" target="_blank">
                    <img  class="logo-ctverec" src="images/LogoGrafia.jpg" alt="Logo Grafia" width="230" height="159" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="https://www.sadynebilovy.cz/" target="_blank">
                    <img  class="logo-ctverec" src="images/logo-sady.jpg" alt="Logo Záchranka" width="185" height="192" />
                </a>
            </div>        </div>

        <div class="row equal width">
            
            <div class="column middle aligned">
                <a  class="link-img" href="https://www.optiksvarc.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo-optiksvarc.jpg" alt="Logo Optik Švarc" width="335" height="148" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="http://www.krasovska.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo_Krasovska.jpg" alt="Logo Krašovská" width="335" height="115" />
                </a>
            </div>

            <div class="column middle aligned">
                <a  class="link-img" href="http://www.studiofitnesska.cz/" target="_blank">
                    <img  class="logo-siroke" src="images/logo-fitnesska.png" alt="Logo FITNESSKA" width="335" height="68" />
                </a>
            </div>        </div>       
        <div class="row equal width">
            

            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://www.mvcr.cz/clanek/telefonni-psychologicke-linky-pro-seniory-deti-a-dospele.aspx" target="_blank"> Krizové linky — kam zavolat? A&nbsp;online pomoc v&nbsp;ČR </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="http://otuzilci-plzen.cz/" target="_blank"> Klub sportovních otužilců Plzeň </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://koronavirus.plzen.eu/" target="_blank"> Co dělat v&nbsp;různých životních situacích </a>
            </div>        </div>

        <div class="row equal width">
            

            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://www.totemplzen.cz/bolevec/projekt-mosty/" target="_blank"> TOTEM — PROJEKT MOSTY </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://www.facebook.com/Farnost-u-katedr%C3%A1ly-v-Plzni-109920727303535" target="_blank"> Duchovní útěcha </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="http://www.socialniprace.cz/index.php?sekce=62&podsekce=86" target="_blank"> Koronavirus v&nbsp;sociální práci </a>
            </div>        </div>

        <div class="row equal width">
            

            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://iure.org/d/14/program-pravni-pomoc" target="_blank"> Bezplatná právní pomoc lidem nad 50 let </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="https://www.justice.cz/web/msp?clanek=jak-za-soucasne-situace-resit-exekuce-a-insolvence-&fbclid=IwAR2-W4s98U-Cy6M636Hq3l26ZjvcSbeut4msEIxQ4szbVCtuBd9ETkbJbGo" target="_blank"> Portál Justice — jak teď řešit exekuce a&nbsp;insolvence </a>
            </div>


            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="http://www.uracr.cz/koroporadna?fbclid=IwAR3WBuEnUCoVGVbCJSWyqQqg9Fy-j47_3QftcGRc-RQesg-ysfSrNFDr8DQ" target="_blank"> Unie rodinných poradců — Korona poradna </a>
            </div>        </div>

        <div class="row equal width">
            

            <div class="column middle aligned">
                <a  class="ui massive secondary basic fluid button" href="http://centrumlocika.cz/odbornici/prakticky-pruvodce-spolupraci-pro-pracovniky-ospod" target="_blank"> Centrum Locika — pomoc pro děti ohrožené domácím násilím </a>
            </div>


            <div class="column middle aligned">
                <a  class="" href="" target="">  </a>
            </div>


            <div class="column middle aligned">
                <a  class="" href="" target="">  </a>
            </div>        </div>    </div>
</div>    </content>
</div>