<div class="paper">
    <headline>
        
<p class="primarni-barva nadpis">
    Můžete se těšit na tyto přednášky</p>    </headline>
    <perex>
        <p  class="velky text">
V průběhu 1 týdne budou probíhat přednášky a&nbsp;rozhovory s&nbsp;odborníky z&nbsp;různých oborů. Všechny přednášky jsou <b>on-line</b> a&nbsp;pro účastníky <b>zdarma</b>.
</p>
<p  class="velky text">
<a href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank">Přihlaste se zdarma</a> na vybranou přednášku. Přihlášeným bude zaslán link na e-mail uvedený v&nbsp;přihlašovacím formuláři. <br/> Máte pro přednášející <a href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank">dotazy?</a> Napište je předem, ať máte jistotu, že se na ně dostane.
</p>

    </perex>
    <content>
        
<div class="prednasejici">
    <div class="ui two column internally celled grid centered">
        <div class="stretched row">
            <div class="eight wide column"><p><b>Přednášející</b></p></div>
            <div class="eight wide column"><p><b>Název přednášky</b></p></div>
        </div>
        
        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Anička Černá</b></p>
                <p>lektorka jógy smíchu</p>
            </div>
            <div class="eight wide column">
                <p><b>Směje se celá rodina</b></p>
                <p>21.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=ZMsy1JSXGNM" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>JUDr. Jana Lexová</b></p>
                <p>seniorka, která se dobrovolně věnuje sociálně právnímu poradenství pro seniory a&nbsp;dlouhodobě se podílí  na jejich vzdělávání</p>
            </div>
            <div class="eight wide column">
                <p><b>Jak dospět ve stáří k&nbsp;jedinečnému poznání, pochopení souvislostí a&nbsp;k moudrosti</b></p>
                <p>22.11.2020, 17:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=j51qncvBQ2M" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Renata Kurková</b></p>
                <p>lékárnice, homeopatička</p>
            </div>
            <div class="eight wide column">
                <p><b>Schüsslerovy soli na podporu imunity</b></p>
                <p>22.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=MhsHyekfg0I" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Konstantin Wiesner</b></p>
                <p>běžec, ultramaratonec</p>
            </div>
            <div class="eight wide column">
                <p><b>Běhání pro zdraví</b></p>
                <p>22.11.2020, 19:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=qqwjsTFjsdk" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Vlastimila Faiferlíková</b></p>
                <p>předsedkyně Správní rady a&nbsp;ředitelka TOTEM, garant a&nbsp;koordinátorka dobrovolnických projektů</p>
            </div>
            <div class="eight wide column">
                <p><b>Rodinné vztahy a&nbsp;péče o&nbsp;seniory v&nbsp;dnešním světě</b></p>
                <p>23.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=DqXlW0ceNfk" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Alena Vrbová,  Marek Rubricius</b></p>
                <p>krizoví interventi a&nbsp;sociální pracovníci Ledovec</p>
            </div>
            <div class="eight wide column">
                <p><b>Nezblázni se z&nbsp;covidu</b></p>
                <p>23.11.2020, 19:30</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=x3GbQ0GsKac" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>MUDr. Pavel Tomeš</b></p>
                <p>sexuolog</p>
            </div>
            <div class="eight wide column">
                <p><b>Odpovídá na vaše dotazy</b></p>
                <p>24.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=eDktwkP6QlU" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>David Brabec</b></p>
                <p>instruktor sebeobrany, moderátor a&nbsp;konzultant</p>
            </div>
            <div class="eight wide column">
                <p><b>Sebeobranou ke zdraví</b></p>
                <p>24.11.2020, 19:30</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=AZ5oWT_WeBU" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>prof. MUDr. Miloš Pešek, CSc.</b></p>
                <p>přednosta plicní kliniky FN Plzeň</p>
            </div>
            <div class="eight wide column">
                <p><b>Odpovídá na dotazy</b></p>
                <p>25.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=FkwRhmQyoB4" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Ing. Tomáš Kocánek</b></p>
                <p>Klub sportovních otužilců Plzeň</p>
            </div>
            <div class="eight wide column">
                <p><b>Jak se začít otužovat</b></p>
                <p>25.11.2020, 19:00</p>
                <p><a  class="ui large secondary button" href="https://www.youtube.com/watch?v=Zhl5HFH-GAw" target="_blank"> Zhlédnout záznam </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Iveta Churavá</b></p>
                <p>propagátorka regionálních potravin U&nbsp;Lidušky</p>
            </div>
            <div class="eight wide column">
                <p><b>Opravdové jídlo z&nbsp;regionu</b></p>
                <p>26.11.2020, 17:00</p>
                <p><a  class="ui large secondary button" href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank"> Přihlásit se / Položit dotaz </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Jindra Švarcová</b></p>
                <p>oční optik a&nbsp;prezidentka Lions Clubu Plzeň Bohemia, garant projektu Lví očko</p>
            </div>
            <div class="eight wide column">
                <p><b>Nezanedbávejte své oči! A&nbsp;prevence očních vad u&nbsp;předškolních dětí</b></p>
                <p>26.11.2020, 18:30</p>
                <p><a  class="ui large secondary button" href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank"> Přihlásit se / Položit dotaz </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>prof. MUDr. Ondřej Topolčan, CSc.</b></p>
                <p>náměstek ředitele FN Plzeň pro vědu a&nbsp;výzkum, primář odd. Imunochemické diagnostiky</p>
            </div>
            <div class="eight wide column">
                <p><b>Vitamínem D proti covidu? Přednáška a&nbsp;odpovědi na otázky</b></p>
                <p>27.11.2020, 18:00</p>
                <p><a  class="ui large secondary button" href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank"> Přihlásit se / Položit dotaz </a></p>
            </div>
        </div>

        



        <div class="stretched row">
            <div class="eight wide column">
                <p><b>Anna a Eva Vopalecké</b></p>
                <p>lektorky a&nbsp;choreografky Studio FITNESSKA</p>
            </div>
            <div class="eight wide column">
                <p><b>Tančete s&nbsp;námi</b></p>
                <p>27.11.2020, 19:15</p>
                <p><a  class="ui large secondary button" href="https://forms.gle/aUoufuqLyaSjm6rE8" target="_blank"> Přihlásit se / Položit dotaz </a></p>
            </div>
        </div>

        

    </div>
    <div class="ui grid centered">
        <div class="sixteen wide column center aligned">
            <p>
                Anna a&nbsp;Eva Vopalecké ze Studia FITNESSKA pro dobrou náladu posílají antikoronavirový tanec! Zatančete si s&nbsp;nimi!            </p>
            <video width="500" height="500" controls playsinline> <!--   autoplay muted>-->
                <source src="video/video-fitneska1-500x500-H264.m4v">
                <source src="video/video-fitneska1-500x500.webm">
                <source src="video/video-fitneska1.mov">
                <p>Váš prohlížeč nepodporuje přehrávání videa, video si <a href="video/video-fitneska1-500x500-H264.m4v">stáhněte</a>.</p>
            </video>
        </div>
    </div>
</div>
    </content>
</div>