<article class="paper">
    <section>
        <headline>
            
<p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">Seznam vystavovatelů</p>        </headline>
        <perex>
            
<p class="">Poznejte svého budoucího zaměstnavatele na našich online stáncích.</p>

        </perex>
    </section>
    <section>
        <form>
            <content>
                    
    <div class="online-stanky">
        <div class="ui stackable centered grid">
            
        <div class="stretched row equal width">
            
            <div class="column">
                <div class="ui segment">
                    <p class="text velky vlevo"><a class="" href="" target="_blank">Firma s. r. o.</a></p>
                    
<i class="calendar alternate big popup icon link" data-content="Pět týdnů dovolené" data-variation="small"></i>


<i class="clock big popup icon link" data-content="Flexibilní pracovní doba" data-variation="small"></i>
                    <p class="text vpravo">
                        <a class="link-img logo-vystavovatele" href="" target="_blank">
                            <img src="images/logo_grafia.png" alt="Firma XY" width="" height="100"/>
                        </a>
                    </p>
                </div>
            </div>



            <div class="column">
                <div class="ui segment">
                    <p class="text velky vlevo"><a class="" href="" target="_blank"></a></p>
                    
<i class=" big popup icon link" data-content="" data-variation="small"></i>


<i class=" big popup icon link" data-content="" data-variation="small"></i>
                    <p class="text vpravo">
                        <a class="link-img logo-vystavovatele" href="" target="_blank">
                            <img src="" alt="" width="" height=""/>
                        </a>
                    </p>
                </div>
            </div>



            <div class="column">
                <div class="ui segment">
                    <p class="text velky vlevo"><a class="" href="" target="_blank"></a></p>
                    
<i class=" big popup icon link" data-content="" data-variation="small"></i>


<i class=" big popup icon link" data-content="" data-variation="small"></i>
                    <p class="text vpravo">
                        <a class="link-img logo-vystavovatele" href="" target="_blank">
                            <img src="" alt="" width="" height=""/>
                        </a>
                    </p>
                </div>
            </div>

        </div>

        </div>
    </div>

            </content>
        </form>
    </section>
</article>