<article class="paper">
    <section>
        <headline>
            
<p class="nadpis uvod">Klíč k&nbsp;příležitostem<sup class="text maly">&reg;</sup></p>

        </headline>
        <perex>
            
        <div class="obr-upoutavka">
            <div class="ui two column stackable centered grid">
                <div class="six wide column">
                    <img class="sirsi-obr"
                         src="images/pan_s_tabletem.jpg" 
                         srcset=" 
                          _www_vp_files/images/pan_s_tabletem.jpg , 
                          _www_vp_files/images/pan_s_tabletem_mobile.jpg 2x"
                          sizes="
                            (min-width: 768px) 100vw, 
                            480px"
                         width="476" height="671" alt="Pracovník s tabletem"/>
                    <div class="primarni-barva podklad nadpis presah">
                        <p>17—19/3/2021</p>
                    </div>
                </div>
                <div class="ten wide column">
                    <img src="images/mama.jpg" width="790" height="394" alt="Home office"/>
                    <img src="images/delnik_jupi.jpg" width="790" height="402" alt="Dělník na stavbě"/>
                    <div class="pruhledna-barva podklad blok text velky photo-scroll show-on-scroll">
                        <p>Najděte si lepší práci <span class="primarni-barva text velky tucne">odkudkoli!</span></p>
                    </div>
                </div>
            </div>
        </div>        </perex>
    </section>
    <section>    
        <content>
            
<div class="blok-nadpis-obr-text program">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">Program</p>
            <img src="images/klic_foto.jpg" width="" height="" alt="Obrázek k programu"/>
        </div>
        <div class="eight wide column"><a href="www/item/static/prednasky" class="ui primary fluid massive button">Seznam vystavujících firem</a></div>
        <div class="eight wide column"><a href="www/item/static/body-pro-zdravi" class="ui primary fluid massive button">Seznam pracovních míst</a></div>
<!--        <div class="sixteen wide column">
                <p class="text tucne">
                    <?
                    Text::mono('V průběhu sedmi dnů vám nabídneme ZDARMA <b>online přednášky a rozhovory s odborníky</b> z různých oborů a také „body pro zdraví“, kde najdete <b>produkty či služby</b> na podporu zdravého životního stylu.') 
                    ?>
                </p>
        </div>-->
    </div>
</div>        </content>
        <content>
            <div class="blok-sedy-nadpis-obr-text">
    <div class="ui two column grid ">
        <div class="sixteen wide column">
            <p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">O akci</p>
        </div>
        <div class="six wide column">
            <div class="blok-sedy-nahore">
                <p class="text tucne okraje-horizontal">
Hledáte práci?
</p>
<p class="text tucne okraje-horizontal">
Poohlížíte se po lepším místě?
</p>
<p class="text tucne okraje-horizontal">
Vítejte na <span class="primarni-barva text">online veletrhu</span>,
</p>
<p class="text tucne okraje-horizontal">
kde to žije vzděláváním
</p>
<p class="text tucne okraje-horizontal">
a&nbsp;pracovními nabídkami!
</p>
            </div>
        </div>
        <div class="ten wide column">
            <div class="blokEL-dolni-img photo-scroll show-on-scroll">
                <img src="images/delnik_na_stroji.jpg" width="670" height="500" alt="Obrázek"/>
            </div>
        </div>
    </div>
</div>
        </content>
        <content>
            
<div class="blok-obr-text">
    <div class="ui stackable centered grid">
        <div class="sixteen wide column">
            <img src="images/veletrh_fyzicky_foto1.jpg" width="" height="" alt="Obrázek"/>
            <p class="text tucne vpravo">
                VELETRH PRÁCE A&nbsp;VZDĚLÁVÁNÍ – Klíč k&nbsp;příležitostem<sup>&reg;</sup> <br/>je určen všem, kdo má zájem získat či změnit zaměstnání. Na své si příjdou i&nbsp;zájemci o&nbsp;brigády 
                    a&nbsp;stáže. Veletrh je také otevřen všem studentům i&nbsp;absolventům středních škol, odborných
                    škol, učilišť a&nbsp;univerzit.            </p>
        </div>
    </div>
</div>        </content>
        <content>
            
<div class="blok-sedy-obr-text">
    <div class="ui two column grid">
        <div class="ten wide column">
            <div class="blokEL-horni-img photo-scroll show-on-scroll">
                <img src="images/pan_s_pocitacem.jpg" width="670" height="500" alt="Obrázek"/>
            </div>
        </div>
        <div class="six wide column">
            <div class="blok-sedy-dole">
                <p class="text tucne">
                    Vzhledem k&nbsp;současné covidové
                                    situaci, nepřející osobním
                                    setkáním, nabízí devátý
                                    ročník nově i&nbsp;<span class="primarni-barva text">online</span> variantu
                                    veletrhu, na které se právě
                                    nacházíte.                </p>
            </div>
        </div>
    </div>
</div>
        </content>
        <content>
            

<div class="nadpis-obrazkove-sloupce">
    <p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">Organizátor</p>
    <div class="ui three column stackable centered grid equal width">
        <div class="column">
            <a class="link-img" href="">
                <div class="pozadi-img pozadi-stanek">
                </div>
                <p class="text tucne okraje-horizontal">
                    Navštivte bezpečně z&nbsp;pohodlí
                                    domova online stánky s&nbsp;nabídkami
                                    vystavujících firem 
                </p>
            </a>
        </div>
        <div class="column">
            <a class="link-img" href="">
                <div class="pozadi-img pozadi-prednasky">
                </div>
                <p class="text tucne okraje-horizontal">
                    Zaregistrujte se a&nbsp;domluvte si
                                    online konzultaci, nebo se
                                    účastněte online přednášek. 
                </p>
            </a>
        </div>
        <div class="column">
            <a class="link-img" href="">
                <div class="pozadi-img pozadi-letak"></div>
                <p class="text tucne okraje-horizontal">
                    Stáhněte si informační materiály
                                    firem a&nbsp;v případě zájmu
                                    rovnou podejte životopis! 
                </p>
            </a>
        </div>
    </div>
</div>        </content>
        <content>
            
<div class="blok-nadpis-loga">
    <p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">Partneři</p>
    <div class="partneri-pozadi">
        <div class="ui stackable centered grid">
            
        <div class="row equal width">
                        <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.uradprace.cz/" target="_blank"><img src="images/urad_prace.png" alt="Logo ÚP ČR" width="" height="100" class="logo-ctverec"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.zcu.cz/cs/index.html" target="_blank"><img src="images/zcu.png" alt="Logo Západočeská univerzita" width="" height="100" class="logo-ctverec"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="http://www.suip.cz/" target="_blank"><img src="images/suip.png" alt="Logo Státní úřad inspekce práce" width="" height="60" class="logo-siroke"/></a>
            </div>

        </div>



        <div class="row equal width">
                        <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.pzpk.cz/" target="_blank"><img src="images/pakt_namestnanosti.png" alt="Logo Pakt zaměstnanosti" width="" height="85" class="logo-obdelnik"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.aivd.cz/" target="_blank"><img src="images/aivd.png" alt="Logo AIVD" width="" height="100" class="logo-ctverec"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="http://www.grafia.cz/" target="_blank"><img src="images/logo_grafia.png" alt="Logo Grafia" width="" height="110" class="logo-ctverec"/></a>
            </div>

        </div>



        <div class="row equal width">
                        <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.ledovec.cz/" target="_blank"><img src="images/ledovec.png" alt="Logo Ledovec" width="" height="130" class="logo-vysoke"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.komora.cz/" target="_blank"><img src="images/hk_cr.png" alt="Logo Hospodářská komora" width="" height="75" class="logo-obdelnik"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://www.dzklatovy.cz/" target="_blank"><img src="images/dzk.png" alt="Logo Drůbežářský závod Klatovy" width="" height="130" class="logo-vysoke"/></a>
            </div>

        </div>



        <div class="row equal width">
                        <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://plzen.eurocentra.cz/" target="_blank"><img src="images/eurocentrum.png" alt="Logo Eurocentrum" width="" height="60" class="logo-siroke"/></a>
            </div>


            <div class="column middle aligned">
                <a class="link-img logo-partnera" href="https://plzensky.denik.cz/" target="_blank"><img src="images/plzen_denik.png" alt="Logo Plzeňský deník" width="" height="85" class="logo-obdelnik"/></a>
            </div>

        </div>

        </div>
    </div>
</div>
        </content>
        <content>
            
<div class="dva-sloupce-nadpis">
    <p class="nadpis podtrzeny nastred nadpis-scroll show-on-scroll">Organizátor</p>
    <div class="ui two column stackable centered mobile reversed grid">
        <div class="six wide column middle aligned">
            <a class="link-img photo-scroll show-on-scroll" href="http://www.grafia.cz" target="_blank"><img src="images/logo_grafia.png" width="250" height="210" alt="Logo Grafia, s.r.o."/></a>
        </div>
        <div class="ten wide column">
            <p class="text tucne">
Autorem myšlenky Veletrhu práce a&nbsp;vzdělávání - Klíč k&nbsp;příležitostem a&nbsp;organizátorem akce je <br/><b>Grafia, s.r.o.</b>
</p>
<p class="text tucne">
Umíme efektivně komunikovat akce našich zákazníků i&nbsp;ty vlastní, vzděláváme a&nbsp;zkoušíme dospělé, organizujeme eventy na klíč, vydáváme knihy... <br/> Děláme to už od roku 1993 — rádi a&nbsp;dobře!
</p>
 
        </div>
    </div>
</div>        </content>
    </section>
</article>
