.odkaz_vtextu_kulaty_cerveny {
  display: inline-block;
  width: auto;
  margin: 0px 1px 0px 1px;
  font-weight: bold;
  text-decoration: none;
  border: solid #EB1B4C 1px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  color: white;
  background-color: #EB1B4C;
}
.odkaz_vtextu_kulaty_cerveny:hover {
  color: white;
  background-color: #f37996;
  border: solid #f37996 1px;
}
.odkaz_vtextu_kulaty_cerveny:active {
  color: #EB1B4C !important;
  background-color: white !important;
  border: solid #EB1B4C 1px;
}
.odkaz_vtextu_kulaty_sedy {
  display: inline-block;
  width: auto;
  margin: 0px 2px 0px 2px;
  padding: 1px 5px;
  font-weight: bold;
  text-decoration: none;
  border: solid gray 1px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  color: white;
  background-color: gray;
}
.odkaz_vtextu_kulaty_sedy:hover {
  color: white;
  background-color: silver;
  border: solid silver 1px;
}
.odkaz_vtextu_kulaty_sedy:active {
  color: gray !important;
  background-color: white !important;
  border: solid gray 1px;
}
.odkaz_vtextu_kulaty_orange {
  display: inline-block;
  width: auto;
  margin: 0px 1px 0px 1px;
  padding: 0px 5px;
  font-weight: bold;
  text-decoration: none;
  border: solid orange 1px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  color: white;
  background-color: orange;
}
.odkaz_vtextu_kulaty_orange:hover {
  color: black;
  background-color: #ffc966;
  border: solid #ffc966 1px;
}
.odkaz_vtextu_kulaty_orange:active {
  color: black!important;
  background-color: white !important;
  border: solid  black 1px;
}
.odkaz_celoplosny a {
  display: inline-block;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid silver 3px;
  text-align: center ;
  font-weight: bold;
  text-decoration: none;
  color: white !important;
  background-color: gray;
  overflow: hidden;
}
.odkaz_celoplosny a:hover {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: silver;
  border: solid white 3px;
}
.odkaz_celoplosny a:active {
  color: gray !important;
  background-color: white !important;
  border: solid gray 3px;
}
.bublina_vtextu_vlevo {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: left ;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  text-align: center ;
  font-size: 1em;
  color: black;
  border: solid dimgray 2px;
  overflow: hidden;
}
.bublina_vtextu_vpravo {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: right ;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  text-align: center ;
  font-size: 1em;
  color: black;
  border: solid dimgray 2px;
  overflow: hidden;
}
.odkaz_bublina_vlevo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: center ;
  float: left ;
}
.odkaz_bublina_vlevo a {
  display: inline-block;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid silver 3px;
  text-align: center ;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white !important;
  background-color: gray;
  overflow: hidden;
}
.odkaz_bublina_vlevo a:hover {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white !important;
  background-color: silver;
  border: solid white 3px;
}
.odkaz_bublina_vlevo a:active {
  color: gray !important;
  background-color: white !important;
  border: solid gray 3px;
}
.bub {
  margin: 10px;
  padding: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  font-size: 1em;
  color: black;
  border: solid black 1px;
  overflow: hidden;
}
.bub_inline {
  display: inline-block;
  margin: 10px;
  padding: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  font-size: 1em;
  color: black;
  border: solid black 1px;
  overflow: hidden;
}
.bub_block {
  display: block;
  margin: 10px;
  padding: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  font-size: 1em;
  color: black;
  border: solid black 1px;
  overflow: hidden;
}
.styl_vpravo {
  float: right ;
}
.styl_vlevo {
  float: left;
}
.ohraniceni_stredoboxu_seda {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid dimgray 3px !important;
}
.ohraniceni_stredoboxu_hlavni {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid #EB1B4C 3px !important;
}
.ohraniceni_stredoboxu_cerna {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid black 1px ! important;
}
.pozadi_stredoboxu_stribrna {
  background-color: silver !important;
}
.pozadi_stredoboxu_seda {
  background-color: gray !important;
}
.bub_kulate_ohraniceni_seda {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid dimgray 3px;
}
.bub_kulate_ohraniceni_hlavni_barva {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid #EB1B4C 3px;
}
.bub_back_stribrna {
  background-color: silver;
}
.bub_back_seda {
  background-color: gray;
}
.sloupce {
  padding: 0.5em;
  -webkit-column-count: 2;
  /* pro Chrome a Safari */
  -moz-column-count: 2;
  /* pro Firefox */
  column-count: 2;
  /* pro IE a budoucí prohlížeče */
  -webkit-column-rule-color: #B0B0B0;
  -moz-column-rule-color: #B0B0B0;
  column-rule-color: #B0B0B0;
  -webkit-column-rule-style: solid;
  -moz-column-rule-style: solid;
  column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}
.bub_kulate_ohraniceni_zelena {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid green 2px;
}
.bub_kulate_ohraniceni_oranzova {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid orange 2px;
}
.bub_kulate_ohraniceni_modra {
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  border: solid navy 2px;
}
/*# sourceMappingURL=styles_contents.css.map */